<div class="brands-list">
  <a href="brand.html" class="brands-list__link">Abercrombie & Fitch</a>
  <a href="brand.html" class="brands-list__link">Adidas</a>
  <a href="brand.html" class="brands-list__link">Agent Provocateur</a>
  <a href="brand.html" class="brands-list__link">Alessandro Dell Acqua</a>
  <a href="brand.html" class="brands-list__link">Alfred Dunhill</a>
  <a href="brand.html" class="brands-list__link">Amouage</a>
  <a href="brand.html" class="brands-list__link">Angel Schlesser</a>
  <a href="brand.html" class="brands-list__link">Armand Basi</a>
  <a href="brand.html" class="brands-list__link">Axis</a>
  <a href="brand.html" class="brands-list__link">Baldinini</a>
  <a href="brand.html" class="brands-list__link">Britney Spears</a>
  <a href="brand.html" class="brands-list__link">Bruno Banani</a>
  <a href="brand.html" class="brands-list__link">Bugatti</a>
  <a href="brand.html" class="brands-list__link">Burberry</a>
  <a href="brand.html" class="brands-list__link">Bvlgari</a>
  <a href="brand.html" class="brands-list__link">Cacharel</a>
  <a href="brand.html" class="brands-list__link">Calvin Klein</a>
  <a href="brand.html" class="brands-list__link">Canali</a>
  <a href="brand.html" class="brands-list__link">Carolina Herrera</a>
  <a href="brand.html" class="brands-list__link">Cartier</a>
  <a href="brand.html" class="brands-list__link">Celine</a>
  <a href="brand.html" class="brands-list__link">Celine Dion</a>
  <a href="brand.html" class="brands-list__link">Chanel</a>
  <a href="brand.html" class="brands-list__link">Chloe</a>
  <a href="brand.html" class="brands-list__link">Chopard</a>
  <a href="brand.html" class="brands-list__link">Christian Dior</a>
  <a href="brand.html" class="brands-list__link">Christian Lacroix</a>
  <a href="brand.html" class="brands-list__link">Clarins</a>
  <a href="brand.html" class="brands-list__link">Clinique</a>
  <a href="brand.html" class="brands-list__link">Davidoff</a>
  <a href="brand.html" class="brands-list__link">Dolce & Gabbana</a>
  <a href="brand.html" class="brands-list__link">Donna Karan</a>
  <a href="brand.html" class="brands-list__link">Dupont</a>
  <a href="brand.html" class="brands-list__link">Ed Hardy</a>
  <a href="brand.html" class="brands-list__link">Emilio Pucci</a>
  <a href="brand.html" class="brands-list__link">Escada</a>
  <a href="brand.html" class="brands-list__link">Estee Lauder</a>
  <a href="brand.html" class="brands-list__link">Etro</a>
  <a href="brand.html" class="brands-list__link">Fendi</a>
  <a href="brand.html" class="brands-list__link">Ferrari</a>
  <a href="brand.html" class="brands-list__link">Gianfranco Ferre</a>
  <a href="brand.html" class="brands-list__link">Giorgio Armani</a>
  <a href="brand.html" class="brands-list__link">Givenchy</a>
  <a href="brand.html" class="brands-list__link">Gucci</a>
  <a href="brand.html" class="brands-list__link">Guerlain</a>
  <a href="brand.html" class="brands-list__link">Guess</a>
  <a href="brand.html" class="brands-list__link">Hermes</a>
  <a href="brand.html" class="brands-list__link">Hugo Boss</a>
  <a href="brand.html" class="brands-list__link">Iceberg</a>
  <a href="brand.html" class="brands-list__link">Issey Miyake</a>
  <a href="brand.html" class="brands-list__link">Jean Paul Gaultier</a>
  <a href="brand.html" class="brands-list__link">Jennifer Lopez</a>
  <a href="brand.html" class="brands-list__link">John Galliano</a>
  <a href="brand.html" class="brands-list__link">Juicy Couture</a>
</div>