<div class="delivery-box">
            <h3 class="delivery-box__title">Доставка</h3>
            <div class="delivery-box__row row">
              <div class="delivery-box__col delivery-box__col--left col-6">
                <div class="delivery-box__item">
                  <div class="delivery-box__location">Москва</div>
                  <div class="delivery-box__time">
                    <a href="#" class="link link--red">Возможна сегодня</a>
                  </div>
                </div>
              </div>

              <div class="delivery-box__col delivery-box__col--right col-6">
                <div class="delivery-box__item">
                  <div class="delivery-box__location">Санкт-Петербург</div>
                  <div class="delivery-box__time">
                   среда, 24 декабря
                  </div>
                </div>
              </div>
            </div>

            <div class="delivery-box__row row">
              <div class="delivery-box__col delivery-box__col--left col-6">
                <div class="delivery-box__item">
                  <div class="delivery-box__location">В регионы</div>
                  <div class="delivery-box__time">
                    В течение 7-10 дней
                  </div>
                </div>
              </div>

              <div class="delivery-box__col delivery-box__col--right col-6">
                <div class="delivery-box__item">
                  <div class="delivery-box__time">
                    В воскресенье доставки нет
                  </div>
                </div>
              </div>
            </div>
          </div>