<link rel="stylesheet" href="css/jquery-ui.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="js/extra.js"></script>

<script src="js/jquery-ui.min.js"></script>

<script src="js/jquery.ui.touch-punch.min.js"></script>

<script src="js/jquery.form-validator.min.js"></script>

<script src="js/jquery.magnific-popup.min.js"></script>

<script src="js/slick.min.js"></script>

<script src="js/main.js"></script>

</body>
</html>