<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="full-version">
        <a href="#" class="full-version__link">Перейти на полную версию сайта</a>
      </div>
    </div>
    <div class="footer__menus row">
      <div class="col-4">
        <h4 class="footer__title">Информация</h4>

        <ul class="footer-menu">
          <li class="footer-menu__item"><a href="about.html" class="footer-menu__link">О магазине</a></li>
          <li class="footer-menu__item"><a href="news.html" class="footer-menu__link">Новости</a></li>
          <li class="footer-menu__item"><a href="reviews.html" class="footer-menu__link">Отзывы</a></li>
          <li class="footer-menu__item"><a href="contacts.html" class="footer-menu__link">Контакты</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h4 class="footer__title">Продукция</h4>

        <ul class="footer-menu">
          <li class="footer-menu__item"><a href="novelties.html" class="footer-menu__link">Новинки</a></li>
          <li class="footer-menu__item"><a href="for-women.html" class="footer-menu__link">Женская парфюмерия</a></li>
          <li class="footer-menu__item"><a href="for-men.html" class="footer-menu__link">Мужская парфюмерия</a></li>
          <li class="footer-menu__item"><a href="sale.html" class="footer-menu__link">Распродажа</a></li>
          <li class="footer-menu__item"><a href="gifts.html" class="footer-menu__link">Подарки</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h4 class="footer__title">Помощь</h4>

        <ul class="footer-menu">
          <li class="footer-menu__item"><a href="payment.html" class="footer-menu__link">Оплата</a></li>
          <li class="footer-menu__item"><a href="delivery.html" class="footer-menu__link">Доставка</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link">Возврат</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link">Как купить</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__info">
      <h4 class="footer__title">Покупателю</h4>

      <div class="footer__text">
        Москва: <a href="tel:+74957443534" class="footer__link">+7 495 744-35-34</a><br>
        Россия: <a href="tel:+78002503534" class="footer__link">+7 800 250-35-34</a> (Бесплатно)<br>
        E-mail: <a href="mailto:info@orental.ru" class="footer__link">info@orental.ru</a>
      </div>
    </div>

    <div class="footer__soc">
      <div class="footer__text">Мы с удовольствием примем все ваши<br>вопросы, комментарии и оценки.</div>

      <ul class="soc">
        <li class="soc__item"><a href="#" class="soc__link soc__link--vk">ВКонтакте</a></li>
        <li class="soc__item"><a href="" class="soc__link soc__link--fb">Facebook</a></li>
      </ul>
    </div>

    <div class="footer__copyright">
      <div class="footer__text">
        <span class="footer__inline">© Orental.ru 2007-2014</span>
        <span class="footer__inline">Интернет-магазин элитной парфюмерии</span>
      </div>
    </div>
  </div>
</footer>

<span class="to-top">Вверх</span>