<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <a href="/" class="logo">
          <img class="logo__img" src="img/logo_new.svg" width="220" height="42" alt="">
        </a>
      </div>

      <div class="col-6">
        <div class="header__right">
          <div class="header__phones">
            <a href="tel:+74957443534" class="header__phone">+7 (495) 744-35-34</a>
            <a href="tel:+78002503534" class="header__phone">+7 (800) 250-35-34</a>
          </div>

          <div class="header__cart">
            <a href="cart.html" class="cart">Корзина <span class="cart__qty">1</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="header__categories">
      <ul class="categories">
        <li class="categories__item"><a href="novelties.html" class="categories__link">Новинки</a></li>
        <li class="categories__item"><a href="for-women.html" class="categories__link">Женская парфюмерия</a></li>
				<li class="categories__item"><a href="for-men.html" class="categories__link">Мужская парфюмерия</a></li>
				<li class="categories__item"><a href="#" class="categories__link">Унисекс</a></li>
        <li class="categories__item"><a href="sale.html" class="categories__link">Распродажа</a></li>
      </ul>
    </div>

    <div class="header__search">
      <div class="search-box">
        <form action="" class="search-box__form form">
          <div class="search-box__group form__group">
            <input class="search-box__input form__input" type="text" name="q" autocomplete="off">
            <div class="search-box__result">
              <div class="search-result">
                <a href="#" class="search-result__link">Cristian Dior Addict</a>
                <a href="#" class="search-result__link">Cristian Dior Diorella</a>
                <a href="#" class="search-result__link">Cristian Dior Dune</a>
                <a href="#" class="search-result__link">Cristian Dior Pure Poison</a>
                <a href="#" class="search-result__link">Cristian Dior Remember Me</a>
                <a href="#" class="search-result__link">Cristian Dior Fahrenheit</a>
                <a href="#" class="search-result__link">Cristian Dior Higher</a>
                <a href="#" class="search-result__link">Cristian Dior Eau Noire</a>
                <a href="#" class="search-result__link">Cristian Dior Royale</a>
                <a href="#" class="search-result__link">Cristian Dior Jules</a>
              </div>
            </div>
          </div>

          <div class="search-box__btn">
            <button type="submit" class="btn btn--dark btn--ttu">Найти</button>
          </div>
        </form>

        <div class="search-box__link">
          <a href="brands.html" class="link">Все бренды</a>
        </div>
      </div>
    </div>
  </div>
</header>