<div class="in-cart dialog" id="in-cart">
  <div class="dialog__wrap in-cart__wrap">
    <div class="dialog__top">
      <div class="dialog__title in-cart__title">Корзина</div>
    </div>

    <div class="dialog__body in-cart__body">
      Товар добавлен в корзину!
    </div>

    <div class="dialog__bottom">
      <a href="cart.html" class="btn btn--dark btn--ttu" tabindex="-1">Перейти в корзину</a>
      <a href="#" class="link link--red dialog-close">Продолжить</a>
    </div>
  </div>
</div>