<div class="pager">
          <div class="pager__wrap">
            <a href="#" class="pager__btn btn btn--dark btn--ttu">Показать еще</a>
          </div>
          <div class="pager__wrap">
            <ul class="pager__list">
              <li class="pager__item"><a href="#" class="pager__link pager__link--prev">«</a></li>
              <li class="pager__item"><span class="pager__link pager__link--active">1</span></li>
              <li class="pager__item"><a href="#" class="pager__link">2</a></li>
              <li class="pager__item"><a href="#" class="pager__link">3</a></li>
              <li class="pager__item"><a href="#" class="pager__link">4</a></li>
              <li class="pager__item"><a href="#" class="pager__link">5</a></li>
              <li class="pager__item"><span class="pager__link pager__link--empty">...</span></li>
              <li class="pager__item"><a href="#" class="pager__link">999</a></li>
              <li class="pager__item"><a href="#" class="pager__link pager__link--next">»</a></li>
            </ul>
          </div>
        </div>