<div class="payment block">
  <div class="container">
    <h2 class="block__title block__title--center">Мы принимаем</h2>

    <div class="payment__wrap">
      <div class="payment__item">
        <img src="img/pay_mc.png" width="64" height="40" alt="" class="payment__logo">
      </div>

      <div class="payment__item">
        <img src="img/pay_visa.png" width="76" height="40" alt="" class="payment__logo">
      </div>

      <div class="payment__item">
        <img src="img/pay_wm.png" width="40" height="40" alt="" class="payment__logo">
      </div>

      <div class="payment__item">
        <img src="img/pay_ym.png" width="80" height="40" alt="" class="payment__logo">
      </div>

      <div class="payment__item">
        <img src="img/pay_sb.png" width="68" height="40" alt="" class="payment__logo">
      </div>

      <div class="payment__item">
        <img src="img/pay_es.png" width="50" height="40" alt="" class="payment__logo">
      </div>

      <div class="payment__item">
        <img src="img/pay_rbk.png" width="89" height="40" alt="" class="payment__logo">
      </div>

      <div class="payment__item">
        <img src="img/pay_qiwi.png" width="86" height="40" alt="" class="payment__logo">
      </div>

      <div class="payment__item">
        <img src="img/pay_sv.png" width="82" height="40" alt="" class="payment__logo">
      </div>
    </div>
  </div>
</div>