<div class="prod-box">
            <div class="prod-box__cover">
              <div class="prod-box__cover-markers">
                <span class="marker marker--new">New</span>
                <span class="marker marker--hit">Hit</span>
                <span class="marker marker--sale">-17%</span>
              </div>
              <a href="product.html" class="prod-box__cover-link">
                <img src="img/prod_01.jpg" width="150" height="150" alt="" class="prod-box__img">
              </a>
            </div>
            <h3 class="prod-box__title">
              <a href="product.html" class="prod-box__link">Chanel Parfum<br>Coco Mademoiselle</a>
            </h3>

            <div class="prod-box__price">Цена: 182 - 5646 р.</div>

            <div class="prod-box__bottom">
							<div class="prod-box__btn">
								<a href="product.html" class="btn btn--dark btn--buy">Купить</a>
							</div>
							<div class="prod-box__favorite">
								<a href="#" class="btn-fav btn-fav--sm">Избранное</a>
							</div>
						</div>
          </div>