<div class="dialog" id="review-ok">
  <div class="dialog__wrap">
    <div class="dialog__top">
      <div class="dialog__title">Спасибо!</div>
    </div>

    <div class="dialog__body">
      Ваш отзыв появится появится сразу после одобрения модератором.
    </div>

    <div class="dialog__bottom">
      <a href="#" class="link link--red dialog-close">Продолжить</a>
    </div>
  </div>
</div>