<div class="top">
  <div class="container">
    <div class="top__row row">
      <div class="col-2">
        <div class="top__nav">
          <div class="top__btn">
            <div class="top-btn">
              <span class="top-btn__line"></span>
              <span class="top-btn__line"></span>
              <span class="top-btn__line"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="top__links">
          <a href="#" class="top__link top__link--fav link-to-fav">Избранное</a>
          <a href="#t-reg" class="top__link top__link--reg box-link">Белеберданов Владислав Сергеевич</a> <span class="top__sep">/</span> <a href="#t-enter" class="top__link box-link">Вход</a>
        </div>
      </div>
    </div>

    <div class="top__forms">
      <div class="t-form t-form--reg" id="t-reg">
        <span class="t-form__close">×</span>
        <form action="" class="t-form__wrap form">
          <div class="t-form__top">
            <div class="t-form__title">Регистрация</div>

            <div class="t-form__help">
              Есть пароль? <a href="#t-enter" class="link link--red box-link">Вы можете войти</a>
            </div>
          </div>

          <div class="t-form__body">
            <div class="t-form__line">
              <div class="t-form__label">E-mail:</div>
              <div class="t-form__item">
                <input type="email" class="t-form__input form__input">
              </div>
            </div>

            <div class="t-form__line">
              <div class="t-form__label">Пароль:</div>
              <div class="t-form__item">
                <input type="password" class="t-form__input form__input">
              </div>
            </div>

            <div class="t-form__line t-form__line--bottom">
              <div class="t-form__item">
                <input type="checkbox" class="form__checkbox" id="subscribe">
                <label for="subscribe">Подписаться на рассылку</label>
              </div>
            </div>
          </div>

          <div class="t-form__bottom">
            <button class="btn btn--dark btn--ttu" type="submit">Зарегистрироваться</button>
          </div>

        </form>
      </div>
      <div class="t-form t-form--enter" id="t-enter">
        <span class="t-form__close">×</span>
        <form action="" class="t-form__wrap form">
          <div class="t-form__top">
            <div class="t-form__title">Вход</div>

            <div class="t-form__help">
              Не зарегистрированы? <a href="#t-reg" class="link link--red box-link">Зарегистрируйтесь</a>
            </div>
          </div>

          <div class="t-form__body">
            <div class="t-form__line">
              <div class="t-form__label">E-mail:</div>
              <div class="t-form__item">
                <input type="email" class="t-form__input form__input">
              </div>
            </div>

            <div class="t-form__line">
              <div class="t-form__label">Пароль:</div>
              <div class="t-form__item">
                <input type="password" class="t-form__input form__input">
              </div>
            </div>

            <div class="t-form__line t-form__line--bottom">
              <div class="t-form__item">
                <input type="checkbox" class="form__checkbox" id="remember">
                <label for="remember">Запомнить меня</label>
              </div>
            </div>
          </div>

          <div class="t-form__bottom">
            <button class="btn btn--dark btn--ttu" type="submit">Войти</button>

            <a href="#t-forgot" class="link link--red box-link">Забыли пароль?</a>
          </div>

          <div class="t-form__footer">
            <div class="t-form__title">Войти, используя аккаунт соцсети</div>

            <div class="t-form__soci">
              <ul class="t-soci">
                <li class="t-soci__item"><a href="#" class="t-soci__link t-soci__link--vk">Вконтакте</a></li>
                <li class="t-soci__item"><a href="#" class="t-soci__link t-soci__link--fb">Facebook</a></li>
                <li class="t-soci__item"><a href="#" class="t-soci__link t-soci__link--gp">Google Plus</a></li>
                <li class="t-soci__item"><a href="#" class="t-soci__link t-soci__link--ok">Одноклассники</a></li>
                <li class="t-soci__item"><a href="#" class="t-soci__link t-soci__link--ya">Яндекс</a></li>
                <li class="t-soci__item"><a href="#" class="t-soci__link t-soci__link--mr">mail.ru</a></li>
              </ul>
            </div>
          </div>

        </form>
      </div>
      <div class="t-form t-form--enter" id="t-forgot">
        <span class="t-form__close">×</span>
        <form action="" class="t-form__wrap form">
          <div class="t-form__top">
            <div class="t-form__title">Восстановление пароля</div>

            <div class="t-form__help">
              Вспомнили пароль? <a href="#t-enter" class="link link--red box-link">Авторизуйтесь</a>
            </div>
          </div>

          <div class="t-form__body">
            <div class="t-form__line">
              <div class="t-form__label">E-mail:</div>
              <div class="t-form__item">
                <input type="email" class="t-form__input form__input">
              </div>
            </div>

            <div class="t-form__line t-form__line--bottom">
              <div class="t-form__text">Введите e-mail, который вы использовали для регистрации. Мы вышлем новый пароль Вам на данный e-mail. Если письмо долго не приходит – убедитесь, что оно не попало в спам.</div>
            </div>
          </div>

          <div class="t-form__bottom">
            <button class="btn btn--dark btn--ttu" type="submit">Восстановить</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="top__menu">
    <div class="container">
      <ul class="top-menu">
        <li class="top-menu__item"><a href="about.html" class="top-menu__link">О магазине</a></li>
        <li class="top-menu__item"><a href="news.html" class="top-menu__link">Новости</a></li>
        <li class="top-menu__item"><a href="delivery.html" class="top-menu__link">Доставка</a></li>
        <li class="top-menu__item"><a href="payment.html" class="top-menu__link">Оплата</a></li>
        <li class="top-menu__item"><a href="discounts.html" class="top-menu__link">Скидки</a></li>
        <li class="top-menu__item"><a href="contacts.html" class="top-menu__link">Контакты</a></li>
        <li class="top-menu__item"><a href="gifts.html" class="top-menu__link top-menu__link--gift">Подарки</a></li>
      </ul>
    </div>
  </div>

</div>