.btn {
  display: inline-block;
  transition: .4s;
  vertical-align: middle;
	cursor: pointer;
	text-align: center;

  &--dark {
    text-align: center;
    font-size: 13px;
    background: #474949;
    color: $clr-white;
    border: 0 none;
    border-radius: 3px;
    line-height: 20px;
    padding: 6px 30px;
    text-decoration: none;

    &:hover {
      background: $clr-red;
      color: $clr-white;
    }

    &:focus {
      color: $clr-white;
    }
  }

  &--ttu {
    font-weight: 500;
    text-transform: uppercase;
  }

  &--buy {
    font-weight: bold;
	}
	
	&--red {
		background-color: $clr-red;
		color: $clr-white;
		text-decoration: none;
		font-size: 14px;
		line-height: 1;
		padding: 12px;
		border-radius: 4px;

		&:hover {
			color: $clr-white;
			background-color: $clr-dark;
		}
	}

  &--bordered {
    color: #474949;
    box-shadow: inset 0 0 0 1px #474949;
    text-decoration: none;
    border-radius: 3px;
    line-height: 20px;
    padding: 6px 30px;

    &:hover,
    &:focus {
      color: $clr-red;
      box-shadow: inset 0 0 0 1px $clr-red;
    }
  }
}

.link {
  display: inline-block;
  color: $text-color;

  &:hover {
    text-decoration: none;
    color: $link-color;
  }

  &--red {
    color: $link-color;
  }
}

.more-text {
  border-bottom: 1px dashed;
  text-decoration: none;
}

.btn-fav {
	display: block;
	position: relative;
	text-indent: -9999px;
	overflow: hidden;
	background-color: $clr-white;
	box-shadow: inset 0 0 0 1px $clr-red_light;
	transition: .4s;
	opacity: 0.33;
	filter: grayscale(100%);
	outline: none;

	&--sm {
		border-radius: 5px;
		width: 32px;
		height: 32px;
	}

	&--lg {
		border-radius: 50%;
		width: 36px;
		height: 36px;
	}

	&:hover {
		opacity: 1;
		filter: grayscale(0);
	}

	&:active,
	&.active {
		background-color: $clr-red_light;
		opacity: 1;
		filter: grayscale(0);

		&:before {
			opacity: 1;
		}

		&:after {
			opacity: 0;
		}
	}

	&:before,
	&:after {
		position: absolute;
		content: '';
		width: 18px;
		height: 18px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		transition: .4s;
	}

	&:before {
		background-image: url('../img/icon_heart-white.svg');
		opacity: 0;
	}

	&:after {
		background-image: url('../img/icon_heart-red.svg');
	}
}

.link-to-fav {
	display: block;
	position: relative;
	width: 26px;
	height: 26px;
	overflow: hidden;
	text-indent: -9999px;
	border-radius: 50%;
	background-color: $clr-co_first;
	background: linear-gradient(to left, $clr-co_first 0, $clr-co_center 50%, $clr-co_last 100%);

	&:before,
	&:after {
		position: absolute;
		content: '';
		transition: .4s;
	}

	&:before {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(to right, $clr-co_first 0, $clr-co_center 50%, $clr-co_last 100%);
	}

	&:after {
		width: 14px;
		height: 14px;
		background: url('../img/icon_heart-white.svg') no-repeat center;
		background-size: contain;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		margin-top: 1px;
	}

	&:hover {
		&:before {
			opacity: 0;
		}
	}
}