.form {
  display: block;

  &__input {
    border-radius: 3px;
    border: 1px solid $input-border;
    padding: 0 10px;
    box-shadow: inset 0 2px 4px $clr-light;
    width: 100%;
  }

  &__checkbox {
    vertical-align: middle;
  }
}