$max_width: 480px;
$min_width: 480px;

* {
  box-sizing: border-box;
}

body {
  position: relative;
  color: $text-color;
  min-width: $min-width;
  font-family: $fnt-main;
  font-size: 13px;
  line-height: 1.2;
}

a {
  color: $link-color;
  @include transition;

  &:hover,
  &:focus {
    color: $text-color;
  }
}

h3,
h4 {
  margin: .5em 0 .7em;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  margin: 0 0 10px;
}

input,
select,
textarea {
  background-color: $clr-white;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $border-color;
  padding: 0 5px;
}

input,
select {
  height: 32px;
}

input[type="checkbox"],
input[type="radio"] {
  width: 25px;
  height: 20px;
}

textarea {
  padding-top: 5px;
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.to-top {
  display: none;
	position: fixed;
	width: 48px;
	height: 48px;
	bottom: 15px;
	left: 15px;
	border: 4px solid rgba($clr-black, .5);
	border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 25;
  cursor: pointer;
  transition: .4s;

  &:before {
    position: absolute;
    content: '';
		width: 22px;
		height: 22px;
		background: url('../img/to_top.png') no-repeat center;
		background-size: contain;
		top: 50%;
		margin-top: -11px;
		left: 50%;
		margin-left: -11px;
		opacity: 0.6;
  }
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: $max_width;
  padding: 10px;
}

.text {
  color: $clr-dark;
  font-size: 14px;

  h4 {
    font-size: 15px;
  }
}

.m-list {
	font-size: 14px;
	
	li {
		margin: 5px 0;

		ul {
			margin: 10px 0;
		}
	}
}

.bonus,
.red {
  color: $clr-red;
}

.extra-text {
  overflow: hidden;
}

.top {
  background: $clr-light;
  border-bottom: 1px solid $border-color;

  &__links {
		position: relative;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
		word-spacing: .5em;
		display: flex;
		justify-content: flex-end;
		align-items: center;
  }

  &__link {
    text-decoration: none;
    letter-spacing: .02em;

    &--reg {
      max-width: 280px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &--fav {
      margin-right: auto;
    }
	}
	
	&__sep {
		margin: 0 5px;
	}

  &__nav {
    position: relative;
  }

  &__menu {
    position: absolute;
    width: 100%;
    height: 0;
    background: $clr-light;
    overflow: hidden;
    transition: height .4s;
    padding: 0;
    text-align: center;
    z-index: 10;
    margin-top: 1px;

    &.open {
      height: 240px;
      box-shadow: 0 1px 2px rgba($clr-black, .15);
    }
  }

  &__forms {
    position: relative;
  }
}

.t-form {
  position: absolute;
  width: 100%;
  display: none;
  min-height: 100px;
  left: 0;
  top: 10px;
  margin-top: 1px;
  background-color: $bg-light;
  z-index: 50;
  box-shadow: 0 5px 10px -5px rgba($clr-black, .2);


  &.open {
    display: block;
  }

  &:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background-color: $bg-light;
    transform: rotate(45deg);
    margin-top: -1px;
    top: -7px;
    z-index: 5;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $border-color;
  }

  &--reg {
    &:before {
      right: 110px;
    }
  }

  &--enter {
    &:before {
      right: 15px;
    }
  }

  &__wrap {
    padding: 25px 0;
    width: 310px;
    margin: 0 auto;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 24px;
    line-height: 1;
    color: $clr-gray;
    cursor: pointer;
    transition: .4s;

    &:hover,
    &:focus {
      color: $clr-red;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px
  }

  &__help {
    font-size: 14px;
  }

  &__body {
    padding: 10px 0;
    margin: 15px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  &__line {
    @include clearfix;
    margin: 10px 0;
    font-size: 14px;

    &--bottom {
      margin-top: 20px;
    }
  }

  &__label {
    float: left;
    width: 80px;
    padding-right: 10px;
    text-align: right;
    line-height: 30px;
  }

  &__item {
    float: right;
    width: 230px;
  }

  &__text {
    text-align: right;
    font-size: 12px;
  }

  &__bottom {
    margin-top: 20px;
    text-align: center;

    .btn,
    .link {
      margin: 0 10px;
    }
  }

  &__footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $border-color;
  }
}

.t-soci {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 3px;
    overflow: hidden;
    text-indent: -9999px;
    opacity: 1;
    transition: .4s;

    &:hover,
    &:focus {
      opacity: .7;
    }

    &:after {
      position: absolute;
      content: '';
      width: 28px;
      height: 28px;
      top: 50%;
      left: 50%;
      margin-top: -14px;
      margin-left: -14px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--vk {
      background-color: #4d75a3;

      &:after {
        background-image: url('../img/icon_soci-vk.svg');
      }
    }

    &--fb {
      background-color: #3c5a99;

      &:after {
        background-image: url('../img/icon_soci-fb.svg');
      }
    }

    &--gp {
      background-color: #d34836;

      &:after {
        background-image: url('../img/icon_soci-gp.svg');
      }
    }

    &--ok {
      background-color: #f6861f;

      &:after {
        background-image: url('../img/icon_soci-ok.svg');
      }
    }

    &--ya {
      background-color: #ed1c24;

      &:after {
        background-image: url('../img/icon_soci-ya.svg');
      }
    }

    &--mr {
      background-color: #175696;

      &:after {
        background-image: url('../img/icon_soci-mr.svg');
      }
    }

  }
}

.top-btn {
  width: 36px;
  height: 24px;
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus {
    span {
      background: $text-color;
    }
  }

  &__line {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: $clr-red;
    left: 0;
    border-radius: 2px;
    @include transition;
    transform: rotate(0deg);

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  &.open {
    span:nth-child(1) {
      top: 10px;
      transform: rotate(135deg);
    }

    span:nth-child(2) {
      left: -100%;
      opacity: 0;
    }

    span:nth-child(3) {
      top: 10px;
      transform: rotate(-135deg);
    }
  }
}

.top-menu {
  margin: 10px 0;
  padding: 0;
  list-style: none;

  &__item {
    margin: 5px 0;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-left: 24px;
    line-height: 24px;

    &:before {
      position: absolute;
      content: '';
    }

    &--gift {
      &:before {
        width: 16px;
        height: 16px;
        background: url('../img/icon_gift.svg') no-repeat center;
        background-size: cover;
        left: 0;
        top: 50%;
        margin-top: -8px;
      }
    }
  }
}

.header {
  &__phone {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: $text-color;
    text-decoration: none;
    line-height: 1.4;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  &__cart {
    margin-left: 15px;
  }

  &__right {
    @include clearfix;
    float: right;
    margin-top: 2px;
  }

  &__phones,
  &__cart {
    float: left;
  }

  &__categories {
    margin: 20px 0 15px;
  }
}

.logo {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.cart {
  display: block;
  position: relative;
  width: 52px;
  height: 42px;
  border: 1px solid $border-color;
  overflow: hidden;
  text-indent: -9999px;
  margin-left: auto;

  &:before {
    position: absolute;
    content: '';
    width: 42px;
    height: 36px;
    background: url('../img/basket.svg') no-repeat center;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -21px;
  }

  &:hover {
    border-color: $link-color;
  }

  &__qty {
    position: absolute;
    display: inline-block;
    background-color: $clr-red;
    min-width: 20px;
    padding: 4px;
    font-size: 12px;
    line-height: 10px;
    color: $clr-white;
    text-align: center;
    text-indent: 0;
    border-radius: 8px;
    top: 18px;
    left: 50%;
    margin-left: -10px;
    box-shadow: 0 0 0 1px $clr-white;
  }
}

.categories {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 4px 8px;
  }

  &__link {
		color: $clr-red_light;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
		text-decoration: none;
		
		&:hover {
			color: $clr-red;
		}
  }
}

.search-box {
  background: $clr-light;
  border-radius: 4px;
  padding: 20px 20px 15px 20px;

  &__form {
    @include clearfix;
    margin-bottom: 10px;
  }

  &__group,
  &__btn {
    float: left;
  }

  &__group {
    position: relative;
    width: 75%;
  }

  &__btn {
    width: 25%;
    padding-left: 10px;
  }

  &__link {
    font-size: 16px;
  }

  &__result {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
  }
}

.search-result {
  display: none;
  height: 225px;
  overflow: auto;
  background-color: $clr-white;
  box-shadow: 0 1px 3px rgba($clr-black, .1);

  &__link {
    display: block;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    line-height: 1.2;
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: rgba($clr-red, .1);
      color: $clr-red;
    }
  }
}

.slick-slide {
  outline: none !important;
}

.shares-slider,
.slider-main {
  position: relative;
	overflow: hidden;
	display: flex;

  &__item {
		flex-shrink: 0;
		flex-grow: 1;
		flex-basis: 100%;
		max-width: 100%;
		position: relative;
  }
}

.slider-pages {
  position: relative;
	overflow: hidden;

  &__item {
		float: left;
		width: 25%;
  }
}

.shares-slider {
  padding-bottom: 25px;

  &__link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .slick-arrow {
    bottom: 0;
  }
}

.slick-arrow {
  position: absolute;
  display: block;
  height: 14px;
  width: 10px;
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  border: 0 none;
  text-indent: -9999px;
  z-index: 5;
  cursor: pointer;
  outline: none;

  &:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid $clr-gray;
    top: 50%;
    margin-top: -8px;
    @include transition;
  }

  &:hover,
  &:focus {
    &:before {
      border-color: $link-color;
    }
  }

  &.slick-disabled {
    opacity: .2;
    cursor: default;
  }
}

.slick-prev {
  left: 0;

  &:before {
    transform: rotate(45deg);
    left: 3px;
  }
}

.slick-next {
  right: 0;

  &:before {
    right: 3px;
    transform: rotate(-45deg);
  }
}

.slick-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    margin: 0 2px;
    height: 8px;
  }

  button {
    display: block;
    outline: none;
    padding: 0;
    width: 6px;
    height: 6px;
    border: 0 none;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px $clr-gray;
    background-color: transparent;
    text-indent: -9999px;
  }

  .slick-active {
    button {
      background-color: $clr-gray;
      box-shadow: 0 0 0 1px $clr-gray;
    }
  }
}

.block {
  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0 0 20px;
    text-align: center;
    word-spacing: .1em;
  }

  &__wrap {
    padding-bottom: 20px;
  }

  &__bottom {
    margin: 30px 0 10px;
    text-align: center;
  }
}

.brand-box {
  text-align: center;
  padding: 20px 10px;
  position: relative;
  background-color: $bg-light;
  z-index: 2;

  &__title {
    font-size: 14px;
    line-height: 16px;
    height: 16px * 2 + 2px;
    margin: 0;
  }

  &__cover-link {
    width: 100%;
    max-width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    position: relative;
  }

  &__img {
    @include img-center();
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $text-color;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 15px;
    height: 15px * 3 + 1px;
    overflow: hidden;
  }

  &__btn {
    margin-top: 15px;
  }
}

.prod-box {
  text-align: center;
  margin: 20px 0;
  position: relative;
  z-index: 2;

  &__title {
    font-size: 14px;
    line-height: 16px;
    margin: 1em 0 0;
    height: 16px * 3;
  }

  &__cover {
    position: relative;

    &-markers {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }

    &-fav {
      position: absolute;
      top: 0;
      right: 20px;
      z-index: 5;
    }
  }

  &__cover-link {
    width: 100%;
    max-width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    position: relative;
  }

  &__img {
    @include img-center();
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $text-color;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 15px;
  }

  &__bottom {
		margin-top: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__favorite {
		margin-left: 15px;
	}
}

.marker {
  display: block;
  width: 36px;
  height: 36px;
  color: $clr-white;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 36px;
  border-radius: 50%;
  margin: 0 0 4px;
  box-shadow: 0 0 5px 1px $clr-white;

  &--new {
    background-color: #448C02;
  }

  &--sale {
    background-color: #FF0600;
  }

  &--hit {
    background-color: #F98436;
  }
}

.extra-wrap {
  margin: 0 50px;
}

.about {
  background-color: #f8f8f8;

  &__title,
  &__subtitle {
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    font-size: 24px;
    font-weight: 300;
    padding: 0 55px;
  }

  &__subtitle {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__text {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__news {
    margin: 25px 0 35px;
  }

  &__bottom {
    text-align: center;
  }

  &__one-sale {
    margin: 30px 0;
  }
}

.save-sale {
  position: relative;
  margin: 0 auto;
  width: 440px;
  height: 400px;

  &__cover {
    position: absolute;
    width: 122px;
    height: 102px;
    background: url('../img/basket.svg') no-repeat center;
    top: 50%;
    left: 50%;
    margin-top: -51px;
    margin-left: -61px;
  }

  &__percent {
    position: absolute;

    &--03 {
      bottom: 45px;
      left: 75px;
    }

    &--05 {
      bottom: 200px;
      left: 35px;
    }

    &--07 {
      top: 30px;
      left: 172px;
    }

    &--10 {
      bottom: 200px;
      right: 30px;
    }

    &--15 {
      bottom: 55px;
      right: 70px;
    }
  }
}

.percent {
  text-align: center;

  &__value {
    background-color: $text-color_gray;
    border-radius: 50%;
    font-size: 32px;
    color: $clr-white;
    margin: 0 auto;

    &--03 {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
    &--05 {
      width: 66px;
      height: 66px;
      line-height: 66px;
    }
    &--07 {
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
    &--10 {
      width: 76px;
      height: 76px;
      line-height: 76px;
    }
    &--15 {
      width: 80px;
      height: 80px;
      line-height: 80px;
    }
  }

  &__from {
    color: $text-color_gray;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
  }
}

.one-sale {
  font-size: 24px;
  color: $text-color_gray;

  &__item {
    @include clearfix;
    margin: 15px 0;
  }

  &__label {
    padding-left: 55px;
    float: left;
    line-height: 72px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 36px;
      height: 48px;
      left: 0;
      top: 50%;
      margin-top: -24px;
      background: url('../img/icon_bottle.svg') no-repeat center;
      background-size: cover;
    }
  }

  &__value {
    float: right;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    background-color: $text-color_gray;
    border-radius: 50%;
    font-size: 32px;
    color: $clr-white;
  }
}

.reviews {
  &__title {
    position: relative;
    padding-top: 80px;
    margin-top: 20px;

    &:before {
      position: absolute;
      content: '';
      width: 84px;
      height: 60px;
      top: 0;
      left: 50%;
      margin-left: -42px;
      background: url('../img/icon_reviews.svg') no-repeat center;
      background-size: cover;
    }
  }

  &__item {
    margin: 20px 0;
  }
}

.page-reviews {
  &__item {
    margin: 20px 0;
  }
}

.review {
  &__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  &__cover-link {
    display: block;
  }

  &__date,
  &__name {
    font-size: 12px;
  }

  &__product-name {
    font-size: 18px;
  }

  &__link {
    display: inline-block;
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  &__rating {
    margin: 5px 0 15px;
	}
	
	&__text {
		overflow: hidden;
		hyphens: auto;
		word-wrap: break-word;
	}
}

.rating {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  &__star {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url('../img/icon_star.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    &--active {
      background-image: url('../img/icon_star_active.png');
    }
  }
}

.rating-info {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.rating-links {
  display: inline-block;
}

.brands {
  &__title {
    text-align: left;
    border-bottom: 1px solid $border-color;
  }
}

.brands-list {
	column-count: 3;
	column-width: 50%;
	column-gap: 10px;

  &__link {
    display: block;
    font-size: 13px;
    line-height: 1.2;
    color: $text-color;
    text-decoration: none;
		padding: 5px 0;
		column-fill: auto;
		-webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }
}

.social {
  &__title {
    position: relative;
    padding-top: 60px;

    &:before {
      position: absolute;
      content: '';
      width: 70px;
      height: 45px;
      top: 0;
      left: 50%;
      margin-left: -35px;
      background: url('../img/icon_social.svg') no-repeat center;
      background-size: cover;
    }
  }

  &__stub {
    padding: 80px 20px;
    text-align: center;
    text-transform: uppercase;
    background: $clr-light;
    margin-top: 10px;
  }

}

.payment {
  padding-bottom: 10px;
  text-align: center;

  &__item {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
}

.page {
  &__breadcrumbs {
    margin-bottom: 2em;
  }

  &__cover {
    margin-bottom: 2em;
  }

  &__img {
    max-width: 100%;
  }

  &__title {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: .4em 0 .8em;
  }

  &__subtitle {
    border-bottom: 1px solid $border-color;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  &__intro {
    font-weight: normal;
    font-size: 24px;
    text-align: center;

    span {
      font-size: 18px;
    }
  }

  &__wrap {
    padding-bottom: 20px;
  }

  &__row {
    position: relative;
  }

  &__name {
    display: block;
  }

  &__icon {
    display: block;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;

    &--women {
      width: 28px;
      height: 38px;
      background-image: url('../img/icon_women.svg');
    }

    &--men {
      width: 38px;
      height: 38px;
      background-image: url('../img/icon_men.svg');
    }
  }

  &__description {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__categories,
  &__filters {
    margin-bottom: 20px;
  }

  &__content {
    margin: 20px 0;
  }

  &__pager {
    margin: 25px 0;
  }

  &__bottom {
    margin: 30px 0 20px;
  }
}

.prod-slider {
  position: relative;
  height: 320px;
  overflow: hidden;

  &__item {
    float: left;
    width: 50%;
  }

  .slick-arrow {
    top: 50%;
    margin-top: -7px;
  }
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &__item {
    display: inline;
    position: relative;
    line-height: 1.4;

    &:not(:last-child) {
      &:after {
        display: inline-block;
        position: relative;
        content: '/';
        margin-left: 4px;
      }
    }
  }

  &__link {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  &__current {
    font-weight: bold;
  }
}

.tabs {
  @include clearfix;
  border-bottom: 1px solid $border-color !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;

  &__item {
    position: relative;
    float: left;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    border-width: 1px 1px 0 1px;
    border-color: transparent;
    border-style: solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &.current,
    &.ui-state-active {
      border-color: $border-color;

      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $clr-white;
        left: 0;
        bottom: -1px;
      }
    }
  }

  &__link {
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color;
    display: block;
    padding: 10px !important;
    outline: none;

    &:hover {
      color: $clr-red;
    }
  }
}

.tabs-sex {
  &__item {
    width: 50%;
  }

  &__link {
    font-size: 18px;

    .icon {
      margin-right: 6px;
    }
  }
}

.pager {
  text-align: center;

  &__btn {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 150px;
  }

  &__list {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    border: 1px solid $border-color;
    border-radius: 3px;
    @include clearfix;
  }

  &__item {
    position: relative;
    display: block;
    float: left;
    min-width: 36px;
    text-align: center;
    
    &:not(:first-child) {
      &:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background-color: $border-color;
        left: 0;
        top: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    line-height: 34px;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;

    &--prev,
    &--next {
      font-weight: normal;
      font-size: 20px;
    }

    &--active,
    &--empty {
      color: $clr-gray;
      cursor: default;
    }

    &--active {
      background: $bg-light;
    }
  }

}

.full-version {
  text-align: center;

  &__link {
    display: inline-block;
    color: $clr-gray;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 30px 10px 50px;
    position: relative;
    background: $clr-light;
    border: 1px solid $border-color;

    &:before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      background: url('../img/icon_screen.svg') no-repeat center;
      background-size: contain;
      left: 15px;
      top: 50%;
      margin-top: -12px;
      opacity: .65;
      filter: grayscale(100%);
      transition: .4s;
    }

    &:hover,
    &:focus {
      color: $clr-red;

      &:before {
        opacity: 1;
        filter: grayscale(0);
      }
    }
  }
}

.footer {
  margin: 0 0 25px;

  .container {
    border-top: 1px solid $border-color;
  }

  &__top {
    margin-bottom: 20px;
  }

  &__title {
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 16px;
  }

  &__text {
    font-size: 12px;
  }

  &__link {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  &__info {
    margin: 20px 0;
  }

  &__copyright {
    margin-top: 35px;
  }
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin: 4px 0;
  }

  &__link {
    font-size: 13px;
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }
}

.soc {
  margin: 5px 0;
  padding: 0;
  letter-spacing: none;

  &__item {
    display: inline-block;
    margin-right: 5px;
  }

  &__link {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: $clr-gray;
    overflow: hidden;
    text-indent: -9999px;

    &:hover,
    &:focus {
      background-color: $link-color;
    }

    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -10px;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--vk {
      &:before {
        background-image: url('../img/logo_vk.png');
      }
    }

    &--fb {
      &:before {
        background-image: url('../img/logo_fb.png');
      }
    }
  }
}

.brand-panel {
  &__one {
    @include clearfix;
    border-top: 1px dashed $clr-gray;
    position: relative;
    min-height: 100px;

    &:last-child {
      border-bottom: 1px dashed $clr-gray;
    }
  }

  &__title {
    color: $text-color_gray;
    font-weight: 500;
    font-size: 70px !important;
    margin: 0 !important;
    padding: 15px 0 !important;
    line-height: 1;
    outline: none;
    position: absolute !important;
    width: 100%;
    z-index: 0;
    @include transition;

    &:hover {
      color: $clr-black;
    }

    &.ui-accordion-header-collapsed {
      &:after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background: url('../img/icon_arrow-right.svg') no-repeat center;
        background-size: cover;
        top: 50%;
        margin-top: -10px;
        right: 15px;
      }
    }
  }

  &__wrap {
		margin-left: 70px;
		padding-top: 15px;
		padding-bottom: 15px;

    &--narrow {
      margin-left: 200px;

      .brands-list {
          columns: 2;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 0 !important;
  }
}

.brand-page {
  &__logo {
    padding: 10px 0;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__description {
    text-align: center;
    margin-bottom: 30px;

    .text {
      font-size: 13px;
    }
	}
	
	&__sale {
		margin-bottom: 30px;
	}
}

.brand-sale {
	border-radius: 10px;
	padding: 20px;
	background-color: $clr-co_red;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;

	&__value {
		text-transform: uppercase;
		font-size: 40px;
		line-height: 1;
		margin-bottom: 5px;
		letter-spacing: 0.05em;
		color: $clr-white;
	}

	&__description {
		color: #474949;
		font-size: 18px;
		line-height: 20px;
	}
}

.page-cats {
  + .ui-selectmenu-button.ui-button {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid $border-color;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    outline: none !important;

    .ui-selectmenu-icon {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: 15px;
      width: 20px;
      height: 10px;
      overflow: hidden;
      float: none;

      &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        margin-top: -22px;
        margin-left: -10px;
        transition: all ease .4s;
        border: 3px solid $border-color;
        transform: rotate(45deg);
      }
    }
  }
}

.ui-selectmenu-open.ui-selectmenu-menu {
  ul.ui-menu {
    border: 1px solid $border-color;
    margin-top: -1px;
    background-color: $clr-white;

    .ui-menu-item {
      padding: 0;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
    }

    .ui-menu-item-wrapper {
      padding: 12px 20px;
      transition: .4s;
      background-color: transparent;

      &.ui-state-active {
        background-color: $bg-light;
      }
    }

    .ui-state-active {
      margin: 0;
    }
  }
}

.page-filter {
  &__top {
    position: relative;
    padding: 15px 20px;
    border: 1px solid $border-color;
  }

  &__title {
    font-size: 16px;
    line-height: 18px;
  }

  &__bottom {
    margin-top: 20px;
    text-align: center;

    .btn {
      margin: 0 5px;
    }
  }
}

.select-triangle {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 15px;
  width: 20px;
  height: 10px;
  overflow: hidden;
  float: none;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -22px;
    margin-left: -10px;
    transition: all ease .4s;
    border: 3px solid $border-color;
    transform: rotate(45deg);
  }
}

.filter-box {

  &__block {
    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  &__title {
    line-height: 16px;
    outline: none;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent $clr-red;
      right: 20px;
      top: 50%;
      margin-top: -5px;
      transition: .4s;
    }

    &.accordion-header-active {
      &:after {
        transform: rotate(90deg);
      }
    }

  }

  &__content {
    border-top: 1px solid $border-color;
    background-color: $bg-light;
	}

	&__top,
	&__btn {
		padding: 15px 20px;
	}

	&__top {
		border-bottom: 1px solid $clr-white;
	}

	&__btn {
		text-align: center;
		border-top: 1px solid $clr-white;
	}

	&__wrap {
		padding: 10px 20px;
		overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: 130px;
	}
	
	&__list {
		padding: 5px 0;
		column-count: 2;
		column-width: 50%;
		column-gap: 10px;
	}

	&__item {
		padding-top: 4px;
		padding-bottom: 4px;
		column-fill: auto;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
	}

  &__control {
    label {
      display: flex;
    }

    input[type="checkbox"] {
      width: 25px;
    }

    span {
      width: 174px;
      font-size: 14px;
      line-height: 15px;
    }

  }

  &__bottom {
    margin-top: 25px;
    @include clearfix;
  }

  &__price {
    font-size: 14px;

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }
  }

  &.ui-helper-reset {
    margin-top: -1px;
    border: 1px solid $border-color;
  }

  &.ui-accordion {
    .ui-accordion-header {
      padding: 10px 20px;
    }

    .ui-accordion-content {
      padding: 0;
    }
  }
}

.price-range {
  margin-top: 10px;

  &.ui-slider-horizontal {
    height: 5px;
    background-color: $text-color_gray;

    .ui-slider-range {
      background-color: $clr-red;
    }

    .ui-slider-handle {
      width: 20px;
      height: 20px;
      background-color: $clr-red;
      box-shadow: inset 0 0 0 4px $text-color_gray;
      border-radius: 50%;
      top: -7px;
      cursor: move;
      outline: none;

      &:hover,
      &:focus {
        box-shadow: inset 0 0 0 4px $clr-dark;
      }
    }
  }

  + input {
    display: none;
    visibility: hidden;
  }
}

.product {

  &__slider {
    position: relative;
  }

  &__markers {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  &__fav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }

  &__rating {
    .rating-info {
      margin: 0 15px;
    }
  }

  &__title {
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
  }

  &__block {
    margin-bottom: 25px;
  }
}

.prod-info {
  &__tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__content {
    padding: 15px 0 0 !important;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 4px;

    .bonus {
      font-weight: bold;
    }
  }

  &__gifts {
    margin-left: 35%;
  }

  &__gift {
    position: relative;
    font-size: 13px;
    margin-bottom: 10px;

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      margin-left: -10px;
    }

    &--2:before {
      @include sprite($icon-vial-2);
      left: -$icon-vial-2-width;
      margin-top: -$icon-vial-2-height/2;
    }

    &--5:before {
      @include sprite($icon-vial-5);
      left: -$icon-vial-5-width;
      margin-top: -$icon-vial-5-height/2;
    }

    &--9:before {
      @include sprite($icon-vial-9);
      left: -$icon-vial-9-width;
      margin-top: -$icon-vial-9-height/2;
    }

    &--12:before {
      @include sprite($icon-vial-12);
      left: -$icon-vial-12-width;
      margin-top: -$icon-vial-12-height/2;
    }

    &--13:before {
      @include sprite($icon-vial-13);
      left: -$icon-vial-13-width;
      margin-top: -$icon-vial-13-height/2;
    }
  }
}

.prod-tabs {
  &__link {
    font-weight: 500;
  }
}

.prod-advantage {
  position: relative;
  cursor: pointer;
  padding-left: 45px;
  padding-top: 10px;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
  }

  &--delivery:before {
    width: 35px;
    height: 29px;
    background: url('../img/icon_delivery.svg') no-repeat center;
    margin-top: -9.5px;
  }

  &--payment:before {
    width: 35px;
    height: 35px;
    background: url('../img/icon_payment.svg') no-repeat center;
    margin-top: -12.5px;
  }

  &--quality:before {
    width: 35px;
    height: 35px;
    background: url('../img/icon_quality.svg') no-repeat center;
    margin-top: -12.5px;
    margin-left: 5px;
  }

  &__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.4;
    text-transform: uppercase;
    display: inline;
    border-bottom: 1px dashed;
  }

  &:hover,
  &:focus {
    .prod-advantage__title {
      border-bottom: 1px dotted;
    }
  }
}

.pre-order {
  &__box {
		padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #eeeeee;
	}

	&__info {
		padding-left: 84px;
		position: relative;
		
		&:before {
			position: absolute;
			content: '';
			width: 64px;
			height: 64px;
			background: url('../img/icon_preorder.png') no-repeat center;
			left: 0;
			top: 50%;
			margin-top: -32px;
		}
	}

	&__title {
		font-size: 17px;
    margin-bottom: .5em;
	}

	&__description {
		font-size: 12px;
    line-height: 1.5;
    margin-bottom: .75em;
	}

  &__link {
    font-size: 13px;
    text-transform: uppercase;
    color: $clr-co_new;
  }
}

.tooltip {
  display: none;
  position: absolute;
  width: $tooltip-width;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  bottom: 100%;
  z-index: 2;
  background: $clr-white;
  cursor: text;

  &:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background: $clr-white;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $border-color;
    transform: rotate(45deg);
    bottom: -8px;
  }

  &--left {
    left: 0;

    &:after {
      left: 15%;
    }
  }

  &--center {
    left: 50%;
    margin-left: -$tooltip-width/2;

    &:after {
      left: 50%;
      margin-left: -8px;
    }
  }

  &--right {
    right: 0;

    &:after {
      right: 15%;
    }
  }

  ul {
    margin: 0 10px;
    padding-left: 15px;
  }

  p,
  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.agree-teas {
  .link {
    display: inline;
  }
}

.q-order {
  background: #f8f8f8;
  border: 1px solid $border-color;
	padding: 20px;

	&__form {
		display: flex;
		align-items: center;
		margin-left: -5px;
		margin-right: -5px;
	}

	&__label,
	&__item,
	&__ctrl {
		padding-left: 5px;
		padding-right: 5px;
	}

	&__label {
		flex-basis: 30px;
		max-width: 30px;
		font-size: 17px;
		line-height: 30px;
	}

	&__item {
		flex-grow: 1;
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	&__input {
		font-size: 17px;
		color: $clr-dark;
	}

  &__title {
    margin: 0 0 10px;
  }

  &__btn {
    max-width: 120px;
	}
	
	&__agree {
		margin-left: 30px;
		margin-top: 15px;
	}

  &__message {
    position: relative;
		margin-left: 35px;
		margin-top: 20px;
    padding-left: 70px;

    &:before {
      position: absolute;
      content: '';
      width: 57px;
      height: 53px;
      background: url('../img/icon_chat.svg') no-repeat center;
      left: 0;
      bottom: 0;
    }
  }
}

.error-message {
	display: none;
	position: absolute;
	top: 100%;
	margin-top: -5px;
	left: 5px;
	color: $clr-red;
	font-size: 12px;
	padding: 2px;
}

.prod-variants {
  &__content {
    padding-top: 5px;
  }
}

.types-nav {
	&__list {
		padding: 0;
		margin: -2px;
		list-style: none;
		@include flex($j-fs, $a-center);
		flex-wrap: wrap;
	}

	&__item {
		padding: 2px;
	}

	&__link {
		font-size: 12px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 10px 12px;
    transition: .4s;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    color: $clr-dark;
		border: 1px solid transparent;
		border-radius: 4px;

		&:hover {
			color: $clr-red;
		}

		&--all {
			background-color: $clr-red;
			border-color: $clr-red;
			color: $clr-white;

			&:hover {
				background-color: $clr-dark;
				color: $clr-white;
			}
		}

		&--ended {
			opacity: 0.5;
		}
		
		&.active {
			border-color: $border-color;
			color: $clr-red;
		}
	}
}

.variant-table {

  th,
  td {
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  th {
    text-align: left;
    line-height: 30px;
  }

  tbody {
    border-bottom: 1px solid $border-color;
    tr {
      td {
        border-top: 1px solid $border-color;
      }

      &:hover,
      &:focus {
        td {
          background-color: $bg-light;
        }
      }
    }
  }

  &__type {
    width: 170px;
  }

  &__volume {
    width: 70px;
  }

  &__price {
    width: 75px;
  }

  &__qty {
    width: 70px;
  }
}

.input-qty {
  width: 70px;
  font-size: 17px;
  font-weight: 500;
  background-color: #f8f8f8;
  height: 30px;
  width: 70px;
  text-align: center;
}

.variant-line {

  &__prices {
    text-align: right;
    font-weight: 500;
  }

  &__price-new {
    font-size: 15px;
    white-space: nowrap;
  }

  &__price-old {
    position: relative;
    display: inline-block;
    padding-left: 5px;
    font-size: 12px;
    color: $clr-red;
    white-space: nowrap;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      background: $clr-red;
    }
  }

  &__btn {
    display: inline-block;
    width: 100%;
    height: 28px;
    margin-top: 2px;
    background: url('../img/basket.svg') no-repeat center;
  }
}

.discount-info {
	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

.discount-item {
	&__wrap {
		@include flex($j-fs, $a-center);
	}

	&__visual {
		flex: 1 0 64px;
		max-width: 64px;
	}

	&__cover {
		width: 64px;
		height: 64px;
		padding: 4px;
		@include flex($j-center, $a-center);
		border: 2px solid $clr-dark;
	}

	&__main {
		flex-grow: 1;
		padding-left: 20px;
		padding-right: 20px;
	}

	&__title {
		font-weight: bold;
		margin-bottom: 0.2em;
	}

	&__info {
		font-size: 14px;

		a {
			color: $clr-co_new;
		}
	}
}

.about-sale {
  padding-left: 60px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border: 1px solid $clr-black;
    background: url('../img/icon_percent.svg') no-repeat center;
    background-size: 32px 32px;
    top: 50%;
    margin-top: -20px;
    left: 0;
  }

  &__title {
    font-weight: bold;
  }
}

.delivery-box {
  padding: 20px;
  text-align: center;
  background: $bg-light;
  border: 1px solid $border-color;

  &__title {
    margin-top: 0;
    position: relative;
    padding-top: 55px;

    &:before {
      position: absolute;
      content: '';
      width: 60px;
      height: 50px;
      background: url('../img/icon_delivery.svg') no-repeat center;
      top: 0;
      left: 50%;
      margin-left: -30px;
    }
  }

  &__row {
    margin-top: 15px;
  }

  &__col {
    @include clearfix;

    &--left {
      border-right: 1px solid $border-color;

      > div {
        float: right;
      }
    }

    &--right {
      > div {
        float: left;
      }
    }
  }

  &__location {
    font-size: 18px;
  }

  &__time {
    margin-top: 5px;
    font-weight: bold;
  }

  &__item {
    padding: 10px 0;
    width: 80%;
  }
}

.prod-reviews {
	margin-bottom: 30px;

  &__title {
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: 1px solid $text-color;
	}

	&__extra {
		@include flex;
		margin-left: -12px;
		margin-right: -12px;
		margin-top: 20px;
	}

	&__sorting,
	&__write {
		flex: 1 1 50%;
		max-width: 50%;
		padding-left: 12px;
		padding-right: 12px;
	}

	&__write {
		.btn {
			width: 100%;
		}
	}

	&__body {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}
}

.rev-sort {
	font-size: 14px;
	position: relative;

	&__btn {
		display: inline-block;
		position: relative;
		line-height: 1;
		text-align: left;
		width: 100%;
		padding: 12px 26px 12px 52px;
		border-radius: 0;
		border: 0 none;
		background-color: $bg-light;
		color: $clr-dark;
		cursor: pointer;
		outline: none;

		&:before,
		&:after {
			position: absolute;
			content: '';
			top: 50%;
			transform: translateY(-50%);
		}

		&:before {
			width: 14px;
			height: 14px;
			background: url('../img/icon_sort-main.svg') no-repeat center;
			background-size: contain;
			left: 20px;
		}

		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 4px 0 4px;
			border-color: $clr-dark transparent transparent transparent;
			right: 20px;
		}
	}

	&__box {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		background-color: $clr-white;

		&.open {
			display: block;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	&__item {
		margin-top: 2px;
	}

	&__link {
		display: inline-block;
		position: relative;
		line-height: 1;
		width: 100%;
		padding: 12px 26px 12px 52px;
		background-color: $bg-light;
		color: $clr-dark;
		text-decoration: none;

		&:before {
			position: absolute;
			content: '';
			width: 14px;
			height: 14px;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&--desc {
			&:before {
				background-image: url('../img/icon_sort-desc.svg');
			}
		}

		&--asc {
			&:before {
				background-image: url('../img/icon_sort-asc.svg');
			}
		}
	}
}

.rev-item {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $border-color;

	&--answer {
		margin-left: 30px;
	}

	&__top {
		@include flex($j-fs, $a-center);
		margin-bottom: 20px;
	}

	&__cover {
		margin-right: 24px;
	}

	&__ava {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background-color: $bg-light;
		border: 1px solid $border-color;
		font-size: 14px;
		font-weight: 500;
		line-height: 36px;
		text-align: center;

		&--admin {
			text-indent: -9999px;
			overflow: hidden;
			position: relative;

			&:after {
				position: absolute;
				content: '';
				width: 24px;
				height: 24px;
				background: url('../img/logo_new-small.svg') no-repeat center;
				background-size: contain;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				margin-top: -2px;
			}
		}
	}

	&__author {
		font-weight: 500;
		font-size: 16px;
		margin-bottom: 5px;
	}

	&__date {
		font-size: 12px;
		color: #949494;
	}

	&__rating {
		margin-bottom: 15px;
	}

	&__text {
		font-size: 12px;
		line-height: 1.8;
	}

	&__votes {
		margin-top: 20px;
	}
}

.rev-votes {
	@include flex;

	&__btn {
		border-radius: 0;
		padding: 5px 10px;
		background-color: $bg-light;
		border: 1px solid #a7afb4;
		cursor: pointer;
		
		&:focus {
			outline: none;
			background-color: $border-color;
		}

		&:last-child {
			margin-left: -1px;
		}
	}

	&__label,
	&__qty {
		display: inline-block;
		vertical-align: middle;
	}

	&__label {
		overflow: hidden;
		text-indent: -9999px;
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-image: url('../img/icon_like.svg');
		margin-right: 5px;

		&--down {
			transform: rotate(180deg) scaleX(-1);
		}
	}
}

.rev-stat {
	&__label {
		text-transform: uppercase;
	}
}

.rev-write {
	&__head {
		padding: 15px 20px;
		background: linear-gradient(to right, #ff6e8f 0%, #fd815d 50%, #fbd07c 100%);
	}

	&__title {
		margin: 0;
		text-transform: uppercase;
		color: $clr-white;
		font-size: 16px;
		font-weight: 500;
	}

	&__body {
		background-color: $bg-light;
		padding: 20px 20px 40px;
		margin-top: 5px;
	}

	&__group {
		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	&__label {
		font-size: 12px;
		line-height: 1;
		margin-bottom: 5px;
		color: $clr-label;
	}

	&__input,
	&__textarea {
		background-color: $clr-white;
		border: 1px solid $input-border;
		border-radius: 0;
		padding: 10px 15px;
		color: $clr-dark;
		font-size: 14px;
		resize: none;
	}

	&__input {
		height: 40px;
	}

	&__checkbox {
		max-width: 60%;
	}

	&__captcha {
		max-width: 50%;
	}

	&__submit {
		.btn {
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

.write-rating {
	@include flex($j-fs, $a-center);

	&__label {
		font-size: 16px;
		color: $clr-red;
		margin-right: 30px;
	}
}

.checkbox {
	&__input {
		display: none;

		&:checked + span {
			&:before {
				background-color: $clr-black;
			}
		}
	}

	&__label {
		display: inline-block;
		position: relative;
		font-size: 12px;
		padding-left: 26px;
		cursor: pointer;

		&:before {
			position: absolute;
			content: '';
			width: 14px;
			height: 14px;
			left: 0;
			top: -1px;
			border: 1px solid $border-color;
			background-color: $clr-white;
			box-shadow: inset 0 0 0 3px $clr-white;
			transition: .4s;
		}
	}
}

.captcha {
	position: relative;

	&__form {
		@include flex;
	}

	&__sample,
	&__item {
		flex: 1 1 50%;
		max-width: 50%;
	}
	
	&__sample {
		border-width: 1px 0 1px 1px;
		border-style: solid;
		border-color: $clr-dark;
		@include flex($j-center, $a-center);
		flex-direction: column;
		background: $clr-white;
	}

	&__input {
		height: 50px;
		text-align: center;
		border: 1px solid $clr-dark;
		border-radius: 0;
		font-size: 14px;
		color: $clr-dark;
	}

	&__img {
		display: block;
	}

	&__description {
		font-size: 12px;
		color: $clr-label;
		margin-top: 15px;
	}

	&__extra {
		position: absolute;
		left: 100%;
		top: 16px;
		margin-left: 20px;
	}

	&__link {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
	}
}

.write {
  &__title {
    text-align: left;
    position: relative;
    padding-left: 55px;

    &:before {
      position: absolute;
      content: '';
      width: 36px;
      height: 28px;
      background: url('../img/icon_reviews.svg') no-repeat center;
      background-size: contain;
      left: 0;
      top: 50%;
      margin-top: -14px;
    }
  }

  &__line {
    @include clearfix;
		
		&:not(:last-child) {
			margin-bottom: 15px;
		}
  }

  &__left,
  &__right {
    float: left;
    display: table;
  }

  &__left {
    width: 140px;
    text-align: right;
    padding-right: 20px;
  }

  &__right {
    width: 320px;
  }

  &__label {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    height: 38px;
    display: table-cell;
    vertical-align: middle;
  }

  &__input {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    height: 38px;
  }

  &__textarea {
    font-size: 15px;
    padding-left: 12px;
		padding-right: 12px;
		resize: none;
  }

  &__captcha {
    text-align: center;
    margin-top: -5px;
  }

  &__help-text {
    line-height: 18px;
  }

  &__vote {
    height: 38px;
    display: table-cell;
    vertical-align: middle;
  }

  &__bottom {
    margin-top: 20px;
	}
	
	&__error {
		margin-top: 5px;
		color: $clr-red;
	}
}

.vote {
  &__one {
    display: inline-block;
    width: 26px;
    height: 24px;
		position: relative;
		margin-right: 2px;

    &.active label:after,
    input:checked + label:after {
      transform: scale(1, 1);
    }
  }

  input {
    opacity: 0;
    z-index: 1;
    height: 100%;
  }

  label {
    cursor: pointer;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 26px;
      height: 24px;
      background-size: 26px 48px;
      top: 0;
      left: 0;
      transition: .4s;
      background-image: url('../img/input_stars.png');
    }

    &:before {
      background-position: 0 0;
    }

    &:after {
      background-position: 0 -24px;
      transform: scale(0, 0);
    }
  }
}

.about-fact {
  position: relative;
  padding: 35px;
  background-color: $bg-beige;
  border: 1px solid $border-beige;
  text-align: center;
  min-height: 230px;
  margin-bottom: 20px;

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 80px 0 0;
    border-color: #e0dbba transparent transparent transparent;
    top: 0;
    left: 0;
  }

  &:after {
    content: attr(data-number);
    font-size: 24px;
    font-weight: 500;
    color: $clr-red;
    width: 16px;
    text-align: center;
    top: 10px;
    left: 15px;
  }

  &__cover {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
  }
}

.one-payment {
  padding: 20px;
  border: 1px solid $border-color;
  text-align: center;
  margin-bottom: 20px;

  &--beige {
    background-color: $bg-beige;
    border-color: $border-beige;
  }

  &__cover {
    height: 64px;
    line-height: 64px;
  }

  &__img {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  &__text {
    height: 30px;
    overflow: hidden;
    margin-top: 10px;
    font-weight: 500;
  }
}

.shop-reviews {
  &__top {
    padding: 15px 0;
    border-top: 1px dashed $clr-dark;
    color: $clr-dark;
    font-size: 15px;
  }

  &__link {
    text-align: right;
  }

  &__item {
    margin-bottom: 20px;
  }
}

.shop-review {
  border: 1px solid $border-color;
  padding: 20px;

  &__top {
    margin-bottom: 15px;
  }

  &__name {
    font-weight: bold;
  }

  &__rating {
    text-align: right;
  }

  &__answer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dashed $border-color;
  }

  &__answerer {
    font-weight: bold;
    padding-left: 40px;
    line-height: 26px;
    position: relative;
    margin-bottom: 10px;

    &:before {
      position: absolute;
      content: '';
      width: 30px;
      height: 26px;
      top: 50%;
      margin-top: -13px;
      left: 0;
      background: url('../img/logo_new-small.svg') no-repeat center;
      background-size: contain;
    }
  }
}

.news-teas {
  &__item {
    margin-bottom: 15px;
  }

  &__text {
    font-size: 15px;
  }

  &__link {
    text-decoration: none;
    color: $text-color;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__cover {
    margin-bottom: 10px;
  }

  &__time {
    font-weight: bold;
    font-size: 12px;
  }

  &__title {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0;
  }

  &__description {
    line-height: 1.4;
  }

  &__bottom {
    margin-top: 10px;
  }
}

.news-one {
  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__cover {
    margin: 15px 0;
  }

  &__time {
    font-weight: 500;
  }

  &__title {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0;
  }

  &__text {
    line-height: 1.4;
  }
}

.articles {
	&__item {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}

.article-teas {
	display: block;
	text-decoration: none;
	color: $clr-dark;

	&__visual {
		position: relative;
	}

	&__cover {
		border-radius: 10px;
		overflow: hidden;
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__head {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-sizing: border-box;
		padding: 5%;
		@include flex;

		&--rt {
			justify-content: flex-start;
			align-items: flex-start;
		}

		&--ct {
			justify-content: center;
			align-items: flex-start;
		}

		&--lt {
			justify-content: flex-end;
			align-items: flex-start;
		}

		&--rc {
			justify-content: flex-end;
			align-items: center;
		}

		&--rb {
			justify-content: flex-end;
			align-items: flex-end;
		}

		&--cb {
			justify-content: center;
			align-items: flex-end;
		}

		&--lb {
			justify-content: flex-start;
			align-items: flex-end;
		}

		&--lc {
			justify-content: flex-start;
			align-items: center;
		}

		&--cc {
			justify-content: center;
			align-items: center;
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: 30px;
	}

	&__main {
		font-size: 14px;
		margin-top: 1em;
		box-sizing: border-box;

		p {
			hyphens: auto;
			margin: 0;
			line-height: 1.35;

			&:not(:last-child) {
				margin-bottom: 0.8em;
			}
		}

		img {
			display: block;
			width: 100%;
		}
	}
}

//tag slider
.tags-slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	@include flex;
	padding-bottom: 20px;

	&__item {
		flex: 1 0 100%;
		max-width: 100%;
	}

	.slick-dots {
		
	}
}

.tag-slide {
	display: block;
	width: 100%;
	text-decoration: none;
	color: $clr-dark;

	&__visual {
		position: relative;
	}

	&__cover {
		overflow: hidden;
		border-radius: 10px;
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__info {
		position: absolute;
		box-sizing: border-box;
		padding: 10px 15px;
		border-radius: 10px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		font-weight: 500;
		@include flex($j-center, $a-st);
		flex-direction: column;

		&--light {
			color: $clr-white;
			text-shadow: 1px 1px 1px $clr-dark;
		}
	}

	&__title {
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 0.4em;
	}

	&__description {
		font-size: 12px;
		line-height: 1.35;
	}
}
//-/tag slider

.discounts {
  &__title,
  &__description {
    text-align: center;
  }

  &__title {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.contacts {
  &__content {
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
  }

  &__phones {
    font-size: 24px;
    font-weight: 500;

    a {
      color: $text-color;
      text-decoration: none;

      &:hover {
        color: $link-color;
      }
    }
  }

  &__boxes {
    margin: 20px 0;
  }

  &__address {
    font-size: 18px;
    margin: 30px 0 20px;
  }

  &__map {
    margin-bottom: 35px;
  }

  &__details {
    font-weight: 500;

    p {
      margin-bottom: 6px;
    }
  }
}

.contact-box {
  display: table;
  width: 100%;
  height: 100px;
  border: 1px solid $border-beige;
  margin-bottom: 20px;

  &--beige {
    background-color: $bg-beige;
  }

  &__wrap {
    display: table-cell;
    vertical-align: middle;
  }

  &__phone {
    font-weight: 500;
    font-size: 30px;

    a {
      text-decoration: none;
    }
  }

  &__description {
    font-size: 18px;
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
  }

  &__value {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

    a {
      text-decoration: none;
    }
  }
}

.gifts {
  &__subtitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
  }

  &__boxes {
    padding-bottom: 20px;
  }
}

.gift-box {
  margin-bottom: 20px;
  background-color: $bg-beige;
  border: 1px solid $border-beige;
  height: 230px;
  display: table;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 20px 50px;

  &--corner {
    &:before,
    &:after {
      position: absolute;
      content: '';
    }

    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 80px 80px 0 0;
      border-color: $clr-red transparent transparent transparent;
      top: 0;
      left: 0;
    }

    &:after {
      width: 16px;
      height: 20px;
      background: url('../img/icon_gift-white.svg') no-repeat center;
      background-size: contain;
      top: 15px;
      left: 15px;
    }
  }

  &__wrap {
    display: table-cell;
    vertical-align: middle;
  }

  &__cover {
    margin-bottom: 10px;
  }

  &__img {
    max-width: 100%;
  }

  &__condition {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__label {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__value {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 16px;
  }
}

.delivery {
  &__cover {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__img {
    display: inline-block;
    max-width: 100%;
  }

  &__location {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }

  &__description {
    font-size: 18px;
    text-align: center;
    margin: 10px 0 15px;
  }

  &__cost {
    width: 180px;
    margin: 0 auto;
    color: $clr-red;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    background-color: $bg-beige;
    border: 1px solid $border-beige;
    text-transform: uppercase;

    span {
      text-transform: none;
    }
  }

  &__subtitle {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }

  &__rates {
    margin: 15px 0;
  }
}

.main-rates {
  border: 1px solid $border-beige;

  &__top {
    padding: 10px;
    background-color: $bg-beige;
    border-bottom: 1px solid $border-beige;
  }

  &__cost {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: $clr-red;
  }

  &__body {
    padding: 20px 15px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &--3cols {
      columns: 3;
    }

    &--4cols {
      columns: 4;
    }
  }

  &__item {
    margin-bottom: 6px;
    font-weight: 500;
    hyphens: auto;
  }
}

.table-rates {
  margin-bottom: 40px;

  &__city {
    width: 50%;
    text-align: left;
    padding-left: 20px;
  }

  thead {
    th {
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: normal;
    }
  }

  tbody {
    td {
      height: 40px;
      border: 1px solid $border-beige;
      font-weight: 500;

      &:not(:first-child) {
        text-align: center;
      }

      &:first-child {
        padding-left: 20px;
      }

    }
  }

  &__time,
  &__cost {
    text-align: center;
    width: 25%;
  }

  &__price {
    background-color: $bg-beige;
    color: $clr-red;
    font-size: 18px;
  }
}

.post-rates {
  &__col {
    text-align: center;
    padding: 12px;
    border-color: $border-beige;
    border-style: solid
  }

  &__top {
    background-color: $bg-beige;
    border-width: 1px;

    &:last-child {
      border-left: 0 none;
    }
  }

  &__bottom {
    border-width: 0 1px 1px 1px;

    &:last-child {
      border-left: 0 none;
    }
  }

  &__cost {
    font-size: 24px;
    font-weight: 500;
    color: $clr-red;
    margin-bottom: 2px;

    span {
      color: $text-color_gray;
    }
  }

  &__label {
    line-height: 14px;
  }
}

.post-direction {
  padding: 20px 0;
  list-style: none;
  margin: 0;
  columns: 2;

  &__item {
    hyphens: auto;
    margin-bottom: 6px;
    padding: 0 10px 0 20px;
  }
}

.cart-page {
  &__delivery {
    margin-bottom: 20px;
  }

  &__gifts {
    margin: 20px 0;
  }

  &__text {
    margin: 35px 0;
    text-align: center;
    font-size: 16px;

    span {
      color: $clr-red;
      font-weight: 500;
    }
  }

  &__signature,
  &__bottom {
    text-align: center;
  }

  &__bottom {
    margin: 35px 0;
  }
}

.cart-table {
  thead {
    th {
      text-align: left;
      border-top: 1px solid $border-color;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        td {
          background-color: $bg-light;
        }
      }

      td {
        border-top: 1px solid $border-color;
      }
    }
  }

  th,
  td {
    padding: 10px 5px;
    table-layout: fixed;
    overflow: hidden;
    word-wrap: break-word;

    &:first-child {
      padding-left: 10px;
    }
  }

  &__num {
    width: 60px;
  }

  &__title {
    width: 125px;
  }

  &__volume {
    width: 60px;
  }

  &__qty {
    width: 60px;
  }

  &__total {
    width: 75px;
    text-align: right !important;
  }

  &__remove {
    width: 20px;
  }
}

.cart-line {
  &__total,
  &__prices {
    display: block;
    font-weight: 500;
    font-size: 15px;
    text-align: right;
  }

  &__price-new {
    white-space: nowrap;
  }

  &__price-old {
    font-size: 12px;
    position: relative;
    display: inline-block;
    padding-left: 5px;
    color: $clr-red;
    white-space: nowrap;

    &:after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: $clr-red;
    }
  }

  &__remove {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background-color: $clr-gray;
      border-radius: 3px;
      left: 0;
      top: 8px;
      @include transition;
    }

    &:before {
      transform: rotate(135deg);
    }

    &:after {
      transform: rotate(-135deg);
    }

    &:hover,
    &:focus {
      &:before,
      &:after {
        background-color: $clr-red;
      }
    }
  }
}

.coupon {
  position: relative;
  background-color: $bg-light;
  padding: 15px;
  border-radius: 3px;
  @include clearfix;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &__item,
  &__submit {
    float: left;
  }

  &__item {
    width: 150px;
    margin-right: 15px;
  }

  &__error {
    position: absolute;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    line-height: 1.2;
    background: #ffdcdd;
    border-radius: 3px;
    top: 100%;
    left: 0;
    margin-top: -10px;
    z-index: 5;

    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 5px 6px;
      border-color: transparent transparent #ffdcdd transparent;
      top: -5px;
      left: 80px;
    }
  }

  &__input {
    &::-webkit-input-placeholder {
      color: $clr-dark;
    }
    &::-moz-placeholder {
      color: $clr-dark;
    }
    &::-ms-input-placeholder {
      color: $clr-dark;
    }
  }

  &__btn {
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 56px;
    padding-left: 20px;
    padding-right: 20px;

    &:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 50%;
      margin-top: -10px;
      left: 50%;
      margin-left: -10px;
      background: url('../img/icon_ok-white.svg') no-repeat center;
      background-size: contain;
    }
  }

  &__text {
    text-align: center;
  }
}

.cart-footer {

  &__coupon {
    width: 55%;
  }

  &__total {
    vertical-align: bottom;
    width: 45%;
    text-align: right;
  }

  &__sum {
    vertical-align: top;
    font-size: 15px;
    margin-bottom: 5px;
  }

  &__bottom {
    .btn {
      max-width: 150px;
      font-weight: 300;
      padding: 6px 14px;
    }
  }

  td,
  td:first-child {
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
  }
}

.cart-gifts {
  text-align: center;

  &__top {
    padding: 15px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: $clr-red;
  }
}

.ordering-page {
  &__form {
    margin: 30px 0 20px;
  }
}

.enter-box {
  &__title {
    font-size: 16px;
    line-height: 22px;
    margin-left: 20%;
    margin-bottom: 25px;
  }

  &__group {
    @include clearfix;
    margin-bottom: 10px;
  }

  &__label,
  &__item {
    display: block;
    float: left;
  }

  &__label {
    width: 20%;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
    text-align: right;
  }

  &__item {
    width: 80%;
  }

  &__input {
    box-shadow: inset 0 2px 4px #eee;
  }

  &__submit {
    margin: 20px 0;
    text-align: center;
  }

  &__bottom {
    text-align: center;

    p {
      margin-bottom: 5px;
    }
  }
}

.order-form {

  &__title {
    font-size: 24px;
    margin-bottom: 5px;
  }

  &__help-text {
    font-size: 14px;
    margin-bottom: 30px;

    sup {
      font-size: 120%;
      color: $clr-red;
      top: -.1em;
    }
  }

  &__box {
    margin-bottom: 40px;
  }
  &__group {
    margin-bottom: 10px;
    @include clearfix;
  }

  &__label,
  &__item {
    display: block;
    float: left;
  }

  &__label {
    width: 35%;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
    text-align: right;

    sup {
      font-size: 120%;
      color: $clr-red;
      top: -.1em;
    }
  }

  &__item {
    width: 65%;
  }

  &__input {
    box-shadow: inset 0 2px 4px #eee;
  }

  &__subtitle {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__line {
    margin-bottom: 5px;
    @include clearfix;
  }

  &__payment {
    input,
    label {
      display: block;
      float: left;
      font-size: 14px;
      font-weight: 500;
    }

    label {
      width: 435px;
      line-height: 20px;
    }
  }

  &__text-line {
    font-size: 14px;

    span {
      font-weight: bold;
    }
  }

  &__submit {
    margin-top: 10px;
    
    &--center {
      text-align: center;
    }
  }

  &__subscribe {
    @include clearfix;
    margin-left: 35%;

    input,
    label {
      display: block;
      float: left;
    }
  }
}

.has-error {
	color: $clr-red;
  border-color: $clr-red;
  background-color: rgba($clr-red, .1);
  box-shadow: none !important;
	border-radius: 4px;
	
	& + .error-message {
		display: block;
	}
}

.form-error {
  display: block;
  font-size: 12px;
  text-align: right;
  padding: 5px;
  clear: both;
}

.profile-page {
  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;
  }

  &__main {
    margin-bottom: 35px;
  }

  &__form {
    margin-bottom: 35px;
  }

  &__history {
    padding-top: 25px;
    padding-bottom: 10px;
    border-top: 1px solid $border-color;
  }

  &__select {
    margin-top: 25px;
  }
}

.profile-main {
  background-color: $clr-light;
  text-align: center;
  padding: 30px 15px;

  &__name {
    font-size: 18px;
  }

  &__row {
    margin-top: 25px;
    font-size: 14px;
  }

  &__label {
		font-weight: 500;
		margin-bottom: 5px;
	}

	&__value {
		font-size: 16px;
	}
	
	&__discount {
		font-size: 32px;
		color: $clr-co_new;
	}

	&__description {
		span {
			color: $clr-co_new;
		}
	}
}

.order-hist {
  border: 1px solid $border-color;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &__header {
    background-color: $bg-light;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 25px;
    border-bottom: 1px solid $border-color;
  }
}

.hist-table {
  &__num {
    width: 55px;
  }

  &__name {
    width: 150px;
  }

  &__volume {
    width: 70px;
  }

  &__qty {
    width: 80px;
  }

  th,
  tbody td {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;

    &:first-child {
      text-align: center;
    }
  }

  td {
    border-top: 1px solid $border-color;
  }

  tfoot {
    background-color: $bg-light;
  }
}

.order-line {
  &__qty {
    font-size: 14px;
  }

  &__price {
    color: $clr-red;
    font-weight: 500;
    font-size: 15px;
  }
}

.order-total {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  td {
    padding: 20px;
  }

  &__status {
    span {
      font-weight: 500;
      color: $clr-red;
    }
  }

  &__sum {
    font-size: 15px;

    strong {
      font-size: 18px;
      color: $clr-red;
    }
  }
}

.profile-nav {
  @include clearfix;

  &__item {
    width: 50%;
    float: left;
    padding: 0 15px;
    margin-bottom: 5px;
  }

  &__link {
    font-size: 18px;
    color: $text-color;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 2px;
    border-radius: 4px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $link-color;
    }

    &.current {
      background-color: $clr-light;
      cursor: default;

      &:hover,
      &:focus {
        color: inherit;
      }
    }
  }
}

.profile-select {
  position: relative;

  &__input {
    text-transform: uppercase;
    padding: 8px 18px;
    height: 44px;
    font-size: 14px;
    font-weight: 300;
    appearance: none;
    position: relative;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      border-color: darken($border-color, 10%);
    }

    &:focus {
      outline: none;
    }
  }

  &:after {
    position: absolute;
    content: '';
    width: 17px;
    height: 13px;
    background: url('../img/icon_arrow-select.png') no-repeat center;
    background-size: cover;
    right: 20px;
    top: 50%;
    margin-top: -7px;
    z-index: 0;
  }
}
//SLIDER
.slider-main {
  height: 370px;

  &__item {
    width: 100%;
  }

  &__cover {
    position: relative;
    margin: 0 auto;
    width: 370px;
    height: 370px;

    &-link {
      display: block;

      &:before {
        position: absolute;
        content: '';
        width: 80px;
        height: 80px;
        top: 50%;
        left: 50%;
        margin-top: -40px;
        margin-left: -40px;
        background: url('../img/icon_video.svg') no-repeat center;
        background-size: contain;
        z-index: 5;
        opacity: .65;
        transition: .4s;
      }

      &:hover,
      &:focus {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &__image {
    @include img-center;
  }
}

.slider-pages {
  margin-top: 20px;
  height: 115px;
  
  &__item {
    margin-bottom: 10px;
  }

  &__cover {
    width: 105px;
    height: 105px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      width: 40px;
      height: 4px;
      border-radius: 50%;
      background-color: $clr-light;
      bottom: -10px;
      left: 50%;
      margin-left: -20px;
      transition: .4s;
      opacity: 0;
    }

    &--video {
      &:before {
        position: absolute;
        content: '';
        width: 28px;
        height: 28px;
        top: 50%;
        left: 50%;
        margin-top: -14px;
        margin-left: -14px;
        background: url('../img/icon_video.svg') no-repeat center;
        background-size: contain;
        z-index: 5;
      }
    }
  }

  .slick-current {
    .slider-pages__cover {
      &:after {
        opacity: 1;
      }
    }
  }

  &__image {
    @include img-center;
  }

  .slick-arrow {
    top: 50%;
    margin-top: -7px;
  }
}
//--SLIDER

//MODAL
.dialog {
  &__wrap {
		padding: 20px;
		background-color: $clr-white;
	}
	
	&__title {
		font-size: 20px;
    text-transform: uppercase;
	}

  &__top {
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
  }

  &__body {
		padding: 20px 0;
		text-align: center;
    font-size: 16px;
  }

  &__bottom {
    padding-top: 20px;
    border-top: 1px solid $border-color;

    a:first-child {
      margin-right: 15px;
    }
  }
}

.m-form {
  &__wrap {
    background: $bg-light;
  }
  
  &__top {
    border-bottom: 1px solid $border-color;
    padding-bottom: 20px;
  }

  &__bottom {
    border-top: 1px solid $border-color;
    padding-top: 20px;
    text-align: center;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }

  &__description {
    margin-top: 10px;
    text-align: center;
  }

  &__body {
    padding: 10px 0;
  }

  &__line {
    margin: 10px 0;
    @include clearfix;
    font-size: 14px;
  }

  &__label,
  &__item {
    float: left;
  }

  &__label {
    line-height: 30px;
    width: 80px;
    padding-right: 10px;
    text-align: right;
  }

  &__item {
    width: 240px;
  }

  .agree-teas {
    text-align: center;
    margin-bottom: 10px;
  }
}

.ui-widget-overlay {
  background: rgba($clr-dark, .5);
}

.ui-dialog {
  .ui-button.ui-dialog-titlebar-close {
    border: 0 none;
    border-radius: 0;
    background-color: transparent;
    text-indent: 0;
    font-size: 24px;
    line-height: 1;
    color: $clr-gray;
    z-index: 10;
    right: 20px;
    height: 1em;
    width: 24px;
    top: 50px;
    padding: 0;
    transition: .4s;
    outline: none;

    &:hover,
    &:focus {
      color: $clr-red;
    }
  }
}

.in-cart {

  &__title {
    position: relative;

    &:before {
      position: relative;
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      background: url('../img/basket.svg') no-repeat center;
      background-size: contain;
      vertical-align: bottom;
    }
  }
}

.confirm {
  &__wrap {
    background-color: $clr-white;
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
  }

  &__body {
    text-align: center;
    font-size: 16px;
  }

  &__message {
    padding-left: 50px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background: url('../img/icon_chat.svg') no-repeat center;
      background-size: contain;
      left: 0;
      top: 50%;
      margin-top: -20px;
    }
  }
}
//--MODAL

//FIXED BOX
.notice {
  width: 100%;
  position: fixed;
  font-size: 16px;
  padding: 5px 0;
  z-index: 55;

  &--error {
    color: $clr-white;
    background: repeating-linear-gradient(-45deg, darken($clr-red, 10%), darken($clr-red, 10%) .4em, darken($clr-red, 5%) .4em, darken($clr-red, 5%) .8em);
  }

  &--success {
    color: $text-color;
		background: repeating-linear-gradient(-45deg, #d2f9d4, #d2f9d4 .4em, #c7efc9 .4em, #c7efc9 .8em);
		
		button.notice__close {
			&:before,
			&:after {
				background-color: $text-color;
			}
		}
  }

  &__text {
		padding: 0 34px;
		text-align: center;
		font-size: 14px;
		line-height: 1;
	}
	
	&__container {
		position: relative;
	}

	&__close {
		display: block;
		position: absolute;
		width: 24px;
		height: 24px;
		overflow: hidden;
		text-indent: -9999px;
		right: 10px;
		top: 50%;
		background-color: transparent;
		border: 0 none;
		transform: translateY(-50%);
		cursor: pointer;
		outline: none;

		&:before,
		&:after {
			position: absolute;
			content: '';
			height: 4px;
			width: 30px;
			background-color: $clr-white;
			top: 50%;
			left: 50%;
			margin-top: -1px;
			margin-left: -15px;
			border-radius: 2px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(135deg);
		}
	}
}
