.row {
  @include clearfix;
  margin: 0 -10px;
  position: relative;
}

.row-no-gutter {
  margin-right: 0;
  margin-left: 0;

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
  width: 100%;
  min-height: 1px;
}

@for $i from 1 through 12 {
  .col-#{$i} { 
    width: 100% / 12 * $i;
  }
}
