.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--women {
    width: 18px;
    height: 24px;
    background-image: url('../img/icon_women.svg');
  }

  &--men {
    width: 24px;
    height: 24px;
    background-image: url('../img/icon_men.svg');
  }
}