@mixin transition {
  transition: all ease .4s;
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin img-center {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.row-gutter-xs {
  margin-right: -5px;
  margin-left: -5px;

  [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.row-gutter-sm {
  margin-right: -8px;
  margin-left: -8px;

  [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    color: $clr-white;
    text-shadow: 1px 1px 1px $text-color;
  }
  &::-moz-placeholder {
    color: $clr-white;
    text-shadow: 1px 1px 1px $text-color;
  }
  &::-ms-input-placeholder {
    color: $clr-white;
    text-shadow: 1px 1px 1px $text-color;
  }
}

//FLEXBOX
$j-fs: flex-start;
$j-end: flex-end;
$j-center: center;
$j-sb: space-between;
$j-sa: space-around;

$a-fs: flex-start;
$a-end: flex-end;
$a-center: center;
$a-bl: baselie;
$a-st: stretch;

@mixin flex($flex-j: $j-fs, $flex-a: $a-fs) {
  display: flex;
  justify-content: $flex-j;
  align-items: $flex-a;
}

//MEDIA

@mixin media($media) {
  @if $media == mobile {
    @media only screen and (min-width: $screen-xs-min) { @content; }
  }
  @else if $media == small {
    @media only screen and (min-width: $screen-sm-min) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $screen-md-min) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $screen-lg-min) { @content; }
  }
}

//OPACITY

@mixin opacity($op-start: .5, $op-end: 1) {
  opacity: $op-start;
  transition: opacity ease .4s;

  &:hover {
    opacity: $op-end;
  }
}