// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-vial-12-name: 'icon_vial_12';
$icon-vial-12-x: 0px;
$icon-vial-12-y: 23px;
$icon-vial-12-offset-x: 0px;
$icon-vial-12-offset-y: -23px;
$icon-vial-12-width: 113px;
$icon-vial-12-height: 21px;
$icon-vial-12-total-width: 122px;
$icon-vial-12-total-height: 90px;
$icon-vial-12-image: '../img/sprite.png';
$icon-vial-12: (0px, 23px, 0px, -23px, 113px, 21px, 122px, 90px, '../img/sprite.png', 'icon_vial_12', );
$icon-vial-13-name: 'icon_vial_13';
$icon-vial-13-x: 0px;
$icon-vial-13-y: 0px;
$icon-vial-13-offset-x: 0px;
$icon-vial-13-offset-y: 0px;
$icon-vial-13-width: 122px;
$icon-vial-13-height: 21px;
$icon-vial-13-total-width: 122px;
$icon-vial-13-total-height: 90px;
$icon-vial-13-image: '../img/sprite.png';
$icon-vial-13: (0px, 0px, 0px, 0px, 122px, 21px, 122px, 90px, '../img/sprite.png', 'icon_vial_13', );
$icon-vial-2-name: 'icon_vial_2';
$icon-vial-2-x: 88px;
$icon-vial-2-y: 46px;
$icon-vial-2-offset-x: -88px;
$icon-vial-2-offset-y: -46px;
$icon-vial-2-width: 25px;
$icon-vial-2-height: 21px;
$icon-vial-2-total-width: 122px;
$icon-vial-2-total-height: 90px;
$icon-vial-2-image: '../img/sprite.png';
$icon-vial-2: (88px, 46px, -88px, -46px, 25px, 21px, 122px, 90px, '../img/sprite.png', 'icon_vial_2', );
$icon-vial-5-name: 'icon_vial_5';
$icon-vial-5-x: 0px;
$icon-vial-5-y: 69px;
$icon-vial-5-offset-x: 0px;
$icon-vial-5-offset-y: -69px;
$icon-vial-5-width: 51px;
$icon-vial-5-height: 21px;
$icon-vial-5-total-width: 122px;
$icon-vial-5-total-height: 90px;
$icon-vial-5-image: '../img/sprite.png';
$icon-vial-5: (0px, 69px, 0px, -69px, 51px, 21px, 122px, 90px, '../img/sprite.png', 'icon_vial_5', );
$icon-vial-9-name: 'icon_vial_9';
$icon-vial-9-x: 0px;
$icon-vial-9-y: 46px;
$icon-vial-9-offset-x: 0px;
$icon-vial-9-offset-y: -46px;
$icon-vial-9-width: 86px;
$icon-vial-9-height: 21px;
$icon-vial-9-total-width: 122px;
$icon-vial-9-total-height: 90px;
$icon-vial-9-image: '../img/sprite.png';
$icon-vial-9: (0px, 46px, 0px, -46px, 86px, 21px, 122px, 90px, '../img/sprite.png', 'icon_vial_9', );
$spritesheet-width: 122px;
$spritesheet-height: 90px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-vial-12, $icon-vial-13, $icon-vial-2, $icon-vial-5, $icon-vial-9, );
$spritesheet: (122px, 90px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
