@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');

$fnt-main: 'Roboto', sans-serif;

//MY COLOR
$clr-white: #fff;
$clr-black: #000;

$clr-light: #eee;
$clr-dark: #333;

$clr-gray: #777;
$clr-red: #d80000;
$clr-co_red: #ff6e8f;
$clr-co_new: #da4d48;
$clr-red_light: #ff5955;
$clr-label: #a7a7a7;

$bg-light: #f5f5f5;
$bg-beige: #f6f7e7;

$input-border: #c9c9c9;
$border-color: #ddd;
$border-beige: #e0dbba;

$text-color_gray: #525252;
$text-color: $clr-dark;
$link-color: $clr-red;

$clr-co_first: #ff6e8f;
$clr-co_center: #fd815d;
$clr-co_last: #fbd07c;
$clr-red_light: #ff5955;

$tooltip-width: 330px;

//--MY COLOR
