//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Страница не найдена</span></li>
      </ul>
    </div>

    <h1 class="page__title">Страница не найдена</h1>

    <div class="page__content">
      <div class="text">
        <p>Извините, но по Вашему запросу ничего не найдено.</p>
        <p>Вернитесь на <a class="link" href="/">главную страницу</a> или попробуйте ввести другой запрос.</p>
        <p>Возожно вас заинтересуют наши предложения!</p>
        <p>Удачных Вам покупок!!!</p>
      </div>
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html