//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">О магазине</span></li>
      </ul>
    </div>

    <h1 class="page__title">О магазине</h1>

    <div class="page__content">
      <div class="about-fact" data-number="1">
        <div class="about-fact__cover"><img src="img/logo.svg" width="170" height="46" alt="" class="about-fact__img"></div>
        <div class="about-fact__text">Наш интернет магазин orental.ru будет рад помочь  выбрать вам только качественную, оригинальную, парфюмерию на любой вкус.</div>
      </div>

      <div class="about-fact" data-number="2">
        <div class="about-fact__cover"><img src="img/icon_24.svg" width="50" height="60" alt="" class="about-fact__img"></div>
        <div class="about-fact__text">Мы работаем на парфюмерном рынке более 8 лет. За этот промежуток времени у нас появилось много постоянных клиентов, которыми мы очень дорожим, и делаем все возможное, чтобы они вновь и вновь обращались к нам.</div>
      </div>

      <div class="about-fact" data-number="3">
        <div class="about-fact__cover"><img src="img/icon_list.svg" width="56" height="60" alt="" class="about-fact__img"></div>
        <div class="about-fact__text">В нашем магазине представлен большой выбор ароматов от самых известных торговых марок мира.</div>
      </div>

      <div class="about-fact" data-number="4">
        <div class="about-fact__cover"><img src="img/icon_delivery-red.svg" width="74" height="60" alt="" class="about-fact__img"></div>
        <div class="about-fact__text">Минимальные цены, отличные скидки, бесплатная доставка.</div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <h2 class="block__title">Большой выбор способов оплаты</h2>
    <div class="block__wrap">
      <div class="row">
        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/icon_cash-red.svg" width="64" height="64" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Наличными курьеру, после получения вашего заказа.</div>
          </div>
        </div>
        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_cards.png" width="134" height="40" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Банковской картой:<br>Visa или MasterCard.</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_sber.png" width="170" height="32" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Оплата производится в любом отделении.</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_wm.png" width="160" height="42" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Оплата производится посредством WebMoney.</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_eu-sv.png" width="128" height="59" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Салоны сотовой связи<br>(Евросеть, Связной).</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_qiwi.png" width="129" height="59" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Терминалы оплаты<br>(QIWI и другие терминалы).</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block shop-reviews">
  <div class="container">
    <h2 class="block__title">Отзывы о магазине</h2>

    <div class="shop-reviews__top row row-no-gutter">
      <div class="shop-reviews__qty col-6">Всего отзывов: <strong>474</strong></div>
      <div class="shop-reviews__link col-6"><a href="#" class="link">Написать отзыв</a></div>
    </div>

    <div class="shop-reviews__item">
      <div class="shop-review">
        <div class="shop-review__top row row-no-gutter">
          <div class="shop-review__data col-6">
            <span class="shop-review__name">Светлана,</span> <span class="shop-review__time">2014-03-17 11:52:11</span>
          </div>
          <div class="shop-review__rating col-6">
            <ul class="rating">
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star"></li>
            </ul>
          </div>
        </div>

        <div class="shop-review__text">
          Недавно влюбилась в Шанеливый ряд, а в Мамзель особенно, ну простите меня, что полюбила не вовремя, когда у всех оскомина. НЕ смогла в свое время оценить по достоинству, когда многие девочки обливались CoCo Chanel, а ведь раньше парфюмы знаменитой Шанели продовались в аптеке. Простота флаконов Шанели 5 напоминала аптечный пузырек. Вот если любишь, можно истории почитать.
        </div>

        <div class="shop-review__answer">
          <div class="shop-review__answerer">Администратор</div>
          <div class="shop-review__answer-text">Недавно влюбилась в Шанеливый ряд, а в Мамзель особенно, ну простите меня, что полюбила не вовремя, когда у всех оскомина. НЕ смогла в свое время оценить по достоинству, когда многие девочки обливались CoCo Chanel, а ведь раньше парфюмы знаменитой Шанели продовались в аптеке.</div>
        </div>
      </div>
    </div>

    <div class="shop-reviews__item">
      <div class="shop-review">
        <div class="shop-review__top row row-no-gutter">
          <div class="shop-review__data col-6">
            <span class="shop-review__name">Светлана,</span> <span class="shop-review__time">2014-03-17 11:52:11</span>
          </div>
          <div class="shop-review__rating col-6">
            <ul class="rating">
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star"></li>
            </ul>
          </div>
        </div>

        <div class="shop-review__text">
          Недавно влюбилась в Шанеливый ряд, а в Мамзель особенно, ну простите меня, что полюбила не вовремя, когда у всех оскомина. НЕ смогла в свое время оценить по достоинству, когда многие девочки обливались CoCo Chanel, а ведь раньше парфюмы знаменитой Шанели продовались в аптеке. Простота флаконов Шанели 5 напоминала аптечный пузырек. Вот если любишь, можно истории почитать.
        </div>
      </div>
    </div>

    <div class="shop-reviews__item">
      <div class="shop-review">
        <div class="shop-review__top row row-no-gutter">
          <div class="shop-review__data col-6">
            <span class="shop-review__name">Светлана,</span> <span class="shop-review__time">2014-03-17 11:52:11</span>
          </div>
          <div class="shop-review__rating col-6">
            <ul class="rating">
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star"></li>
            </ul>
          </div>
        </div>

        <div class="shop-review__text">
          Недавно влюбилась в Шанеливый ряд, а в Мамзель особенно, ну простите меня, что полюбила не вовремя, когда у всех оскомина. НЕ смогла в свое время оценить по достоинству, когда многие девочки обливались CoCo Chanel, а ведь раньше парфюмы знаменитой Шанели продовались в аптеке. Простота флаконов Шанели 5 напоминала аптечный пузырек. Вот если любишь, можно истории почитать.
        </div>
      </div>
    </div>

    <div class="shop-reviews__item">
      <div class="shop-review">
        <div class="shop-review__top row row-no-gutter">
          <div class="shop-review__data col-6">
            <span class="shop-review__name">Светлана,</span> <span class="shop-review__time">2014-03-17 11:52:11</span>
          </div>
          <div class="shop-review__rating col-6">
            <ul class="rating">
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star"></li>
            </ul>
          </div>
        </div>

        <div class="shop-review__text">
          Недавно влюбилась в Шанеливый ряд, а в Мамзель особенно, ну простите меня, что полюбила не вовремя, когда у всех оскомина. НЕ смогла в свое время оценить по достоинству, когда многие девочки обливались CoCo Chanel, а ведь раньше парфюмы знаменитой Шанели продовались в аптеке. Простота флаконов Шанели 5 напоминала аптечный пузырек. Вот если любишь, можно истории почитать.
        </div>
      </div>
    </div>

    <div class="shop-reviews__item">
      <div class="shop-review">
        <div class="shop-review__top row row-no-gutter">
          <div class="shop-review__data col-6">
            <span class="shop-review__name">Светлана,</span> <span class="shop-review__time">2014-03-17 11:52:11</span>
          </div>
          <div class="shop-review__rating col-6">
            <ul class="rating">
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star"></li>
            </ul>
          </div>
        </div>

        <div class="shop-review__text">
          Недавно влюбилась в Шанеливый ряд, а в Мамзель особенно, ну простите меня, что полюбила не вовремя, когда у всех оскомина. НЕ смогла в свое время оценить по достоинству, когда многие девочки обливались CoCo Chanel, а ведь раньше парфюмы знаменитой Шанели продовались в аптеке. Простота флаконов Шанели 5 напоминала аптечный пузырек. Вот если любишь, можно истории почитать.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block write">
  <div class="container">
    <h2 class="block__title write__title">Оставить отзыв</h2>

    <div class="block__wrap">
      <form action="" class="write__form">
        <div class="write__line">
          <div class="write__left">
            <div class="write__label">Ваше имя:</div>
          </div>

          <div class="write__right">
            <div class="write__field">
              <input type="text" class="write__input" placeholder="Ваше имя">
            </div>
          </div>
        </div>

        <div class="write__line">
          <div class="write__left">
            <div class="write__label">E-mail:</div>
          </div>

          <div class="write__right">
            <div class="write__field">
              <input type="email" class="write__input" placeholder="E-mail">
            </div>
          </div>
        </div>

        <div class="write__line">
          <div class="write__left">
            <div class="write__label">Ваша оценка:</div>
          </div>

          <div class="write__right">
            <div class="write__vote">
              <div class="vote">
                <div class="vote__one">
                  <input type="radio" name="vote" id="vote_01" value="1">
                  <label for="vote_01"></label>
                </div>
                <div class="vote__one">
                  <input type="radio" name="vote" id="vote_02" value="2">
                  <label for="vote_02"></label>
                </div>
                <div class="vote__one">
                  <input type="radio" name="vote" id="vote_03" value="3">
                  <label for="vote_03"></label>
                </div>
                <div class="vote__one">
                  <input type="radio" name="vote" id="vote_04" value="4">
                  <label for="vote_04"></label>
                </div>
                <div class="vote__one">
                  <input type="radio" name="vote" id="vote_05" value="5">
                  <label for="vote_05"></label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="write__line">
          <div class="write__left">
            <div class="write__label">Ваш<br>комментарий:</div>
          </div>

          <div class="write__right">
            <div class="write__field">
              <textarea class="write__textarea" name="" rows="8"></textarea>
            </div>
          </div>
        </div>

        <div class="write__line">
          <div class="write__left">
            <div class="write__captcha">
              <div class="captcha">
                <div class="captcha__cover"><img src="img/captcha.jpg" alt="" class="captcha__img"></div>
                <div class="captcha__control"><a href="#" class="captcha__link">Обновить</a></div>
              </div>
            </div>
          </div>

          <div class="write__right">
            <div class="row">
              <div class="col-5">
                <div class="write__field">
                  <input type="text" class="write__input">
                </div>
              </div>
              <div class="col-7">
                <div class="write__help-text">введите цифры, которые видны на картинке слева</div>
              </div>
            </div>
          </div>
        </div>

        <div class="write__line">
          <div class="write__left">
            <div class="write__bottom">
              <button class="write__btn btn btn--dark btn--ttu" type="submit">Отправить</button>
            </div>
          </div>
        </div>
      </form>
    </div>


  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html