//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Статьи</span></li>
      </ul>
    </div>

    <h1 class="page__title">Статьи</h1>

    <div class="page__content">
      <div class="articles">
				<div class="articles__list">
					<div class="articles__item">
						<a href="#" class="article-teas">
							<div class="article-teas__visual">
								<div class="article-teas__cover">
									<img src="https://picsum.photos/460/180?image=1016" alt="" class="article-teas__img">
								</div>
								<div class="article-teas__head article-teas__head--rc">
									<div class="article-teas__title" style="color: #ffffff;">#осень</div>
								</div>
							</div>
							<div class="article-teas__main">
								<div class="article-teas__description">
									<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius modi tenetur consequuntur voluptatem iusto, aut fugit recusandae autem enim, quod maiores nam!</p>
								</div>
							</div>
						</a>
					</div>

					<div class="articles__item">
						<a href="#" class="article-teas">
							<div class="article-teas__visual">
								<div class="article-teas__cover">
									<img src="https://picsum.photos/460/180?image=896" alt="" class="article-teas__img">
								</div>
								<div class="article-teas__head article-teas__head--lc">
									<div class="article-teas__title" style="color: #ffffff;">#лето2018</div>
								</div>
							</div>
							<div class="article-teas__main">
								<div class="article-teas__description">
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae maiores explicabo unde corrupti quaerat deleniti dicta debitis temporibus harum. Sequi ratione modi odit ut tempore?</p>
								</div>
							</div>
						</a>
					</div>

					<div class="articles__item">
						<a href="#" class="article-teas">
							<div class="article-teas__visual">
								<div class="article-teas__cover">
									<img src="https://picsum.photos/460/180?image=894" alt="" class="article-teas__img">
								</div>
								<div class="article-teas__head article-teas__head--ct">
									<div class="article-teas__title" style="color: #474747;">#спорт</div>
								</div>
							</div>
							<div class="article-teas__main">
								<div class="article-teas__description">
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae maiores explicabo unde corrupti quaerat deleniti dicta debitis temporibus harum. Sequi ratione modi odit ut tempore?</p>
								</div>
							</div>
						</a>
					</div>

					<div class="articles__item">
						<a href="#" class="article-teas">
							<div class="article-teas__visual">
								<div class="article-teas__cover">
									<img src="https://picsum.photos/460/180?image=886" alt="" class="article-teas__img">
								</div>
								<div class="article-teas__head article-teas__head--rc">
									<div class="article-teas__title" style="color: #d80000;">#защитникам</div>
								</div>
							</div>
							<div class="article-teas__main">
								<div class="article-teas__description">
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque ipsum voluptatem vel neque perspiciatis vero adipisci laborum, praesentium iusto sed, rerum minima autem, optio minus.</p>
								</div>
							</div>
						</a>
					</div>

					<div class="articles__item">
						<a href="#" class="article-teas">
							<div class="article-teas__visual">
								<div class="article-teas__cover">
									<img src="https://picsum.photos/460/180?image=833" alt="" class="article-teas__img">
								</div>
								<div class="article-teas__head article-teas__head--cc">
									<div class="article-teas__title" style="color: #ff5955;">#8марта</div>
								</div>
							</div>
							<div class="article-teas__main">
								<div class="article-teas__description">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde hic error, nihil ratione dicta reprehenderit consequuntur, distinctio incidunt nisi asperiores iste at aperiam sunt? Numquam.</p>
								</div>
							</div>
						</a>
					</div>

					<div class="articles__item">
						<a href="#" class="article-teas">
							<div class="article-teas__visual">
								<div class="article-teas__cover">
									<img src="https://picsum.photos/460/180?image=855" alt="" class="article-teas__img">
								</div>
								<div class="article-teas__head article-teas__head--lc">
									<div class="article-teas__title" style="color: #ff00a1;">#звезда</div>
								</div>
							</div>
							<div class="article-teas__main">
								<div class="article-teas__description">
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae maiores explicabo unde corrupti quaerat deleniti dicta debitis temporibus harum. Sequi ratione modi odit ut tempore?</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
    </div>

    <div class="page__pager">
      //= tpl/pager.html
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html