//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Статьи</span></li>
      </ul>
    </div>

    <div class="page__content">
      <div class="articles">
				<div class="articles__list">
					<div class="articles__item">
						<div class="article-teas">
							<div class="article-teas__visual">
								<div class="article-teas__cover">
									<img src="https://picsum.photos/460/180?image=1016" alt="" class="article-teas__img">
								</div>
								<div class="article-teas__head article-teas__head--rc">
									<div class="article-teas__title" style="color: #ffffff;">#осень</div>
								</div>
							</div>
							<div class="article-teas__main">
								<div class="article-teas__text">
									<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius modi tenetur consequuntur voluptatem iusto, aut fugit recusandae autem enim, quod maiores nam!</p>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit vel commodi sed, magnam accusamus nam aut nobis quas consequuntur! Fuga, reprehenderit tenetur? Quasi deleniti est omnis, praesentium facilis molestias voluptatem.</p>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quasi quos nulla sint voluptates fuga at fugit animi ducimus porro.</p>
									<p><img src="https://picsum.photos/460/140?image=1068" alt=""></p>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum veniam eligendi quis repellat. Sunt nam perspiciatis placeat quo dolorem facere velit dolores amet, cumque eos.</p>
									<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore officiis magni ea tempora provident eos temporibus hic asperiores facere dolorum.</p>
									<p><img src="https://picsum.photos/460/140?image=755" alt=""></p>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo ullam minima deserunt ad numquam ex, atque consequuntur dolore at quas esse amet eveniet fugiat cumque earum maxime sequi nesciunt unde.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium odit, quia ducimus alias architecto harum hic illo possimus repudiandae omnis?</p>
									<p><a href="#" class="link more-text">Скрыть</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="page__bottom">
      <h2 class="page__subtitle">Ароматы к этому материалу</h2>

      <div class="page__wrap">
        <div class="row">
					<div class="col-6">
						//= tpl/prod-box.html
					</div>
					<div class="col-6">
						//= tpl/prod-box.html
					</div>
					<div class="col-6">
						//= tpl/prod-box.html
					</div>
					<div class="col-6">
						//= tpl/prod-box.html
					</div>
				</div>
      </div>
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html