//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page brand-page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><a href="brands.html" class="breadcrumbs__link">Бренды</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Chanel</span></li>
      </ul>
    </div>

    <div class="page__cover">
      <div class="brand-page__logo">
        <img src="img/logo_brand_chanel.png" alt="" class="brand-page__img">
      </div>
    </div>

    <h1 class="page__title">Chanel</h1>

    <div class="brand-page__description">
      <div class="text">
        <p>Великая Габриель Шанель родилась в 1883 году в Сомюре в бедной семье. Имя Коко она выдумала, когда недолгое время была артисткой в маленьком кафе.</p>
      </div>
      <div class="text extra-text hidden">
        <p>Ее "модный" бизнес начался в 1908 году, с открытия шляпной мастерской. В 1914 Коко уже имела два бутика по продаже одежды, один в Париже, другой в Довилле. В 1921 году открывает большой магазин в Париже, тогда же на свет появляются легендарные и непревзойденные духи Шанель №5, которые до сих пор самые популярные и востребованные из всех творений этого дома, попросите кого-нибудь назвать любые духи и в девяносто девяти процентах из ста человеку на ум придет именно "№5".</p>
        <p>Свое знаменитое "маленькое черное платье" с простым полукруглым вырезом и длинными узкими рукавами, без воротничка, пуговиц, складок, оборок, бахромы - гениальное в своей лаконичности мадам Коко представила миру в 1926 году. Как и духи, это наряд до сих пор считается воплощением женственности и элегантности.</p>
        <p>Период 1921-1939гг. - наиболее удачный для легенды мировой моды. Ее имя стало известным далеко за пределами Франции, и ежегодно в мире продается около 30 тысяч моделей, в ее мастерских работает почти 4 тысячи человек. В Париже появляются магазины аксессуаров от Chanel и она становится всемирно знаменитой. В 1969 году на Бродвее шел мюзикл "Коко", основанный на ее биографии.</p>
        <p>После ее смерти в 1971 году дизайнерский дом продолжил свою работу, к 1992 году он насчитывал 64 собственных бутика и 420 дилерских магазинчиков. Наш интернет магазин элитной парфюмерии с гордостью представляет своим клиентам большой выбор высококачественной, неповторимой и непревзойденной парфюмерии от Chanel.</p>
      </div>
      <a href="#" class="link more-text">Читать полностью...</a>
		</div>
		
		<div class="brand-page__sale">
			<div class="brand-sale" style="background-image: url('img/bg_sale-blank.jpg');">
				<div class="brand-sale__wrap">
					<div class="brand-sale__value">Sale: 10-15-20%</div>
					<div class="brand-sale__description">скидка действует до 20.02.2018</div>
				</div>
			</div>
		</div>

    <div class="page__categories">
      <select class="page-cats" name="page-categories" id="page-categories">
        <option selected="selected">Вся парфюмерия</option>
        <option>Женская парфюмерия</option>
        <option>Мужская парфюмерия</option>
        <option>Унисекс</option>
        <option>Распродажа</option>
      </select>
    </div>

    <div class="page__filter">
      <div class="page-filter">
        <div class="page-filter__top">
          <div class="page-filter__title">Подобрать аромат по:</div>
          <span class="select-triangle"></span>
        </div>

        <div class="page-filter__body">
          <div class="filter-box">
            <div class="filter-box__block">
              <h4 class="filter-box__title">Цене</h4>

              <div class="filter-box__content">
                <div class="filter-box__wrap">
									<div class="filter-box__control">
										<div class="price-range" id="price-range"></div>
										<input type="text" id="amount" readonly>
									</div>

									<div class="filter-box__bottom">
										<div class="filter-box__price"><span class="price-start"></span> руб.</div>
										<div class="filter-box__price"><span class="price-end"></span> руб.</div>
									</div>
                </div>
              </div>
            </div>

            <div class="filter-box__block">
              <h4 class="filter-box__title">Типу</h4>
							<div class="filter-box__content">
                <div class="filter-box__wrap">
                  <div class="filter-box__list">
										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>Гель для душа</span>
												</label>
											</div>
										</div>

										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>Лосьон для тела</span>
												</label>
											</div>
										</div>

										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>Одеколон</span>
												</label>
											</div>
										</div>
												
										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>Туалетная вода</span>
												</label>
											</div>
										</div>
									</div>
								</div>
              </div>
            </div>

            <div class="filter-box__block">
              <h4 class="filter-box__title">Ноте</h4>

              <div class="filter-box__content">
								<div class="filter-box__top">
									<form action="./" class="form">
										<input class="form__input" type="text" autocomplete="off" placeholder="Начните писать название ноты">
									</form>
								</div>

                <div class="filter-box__wrap">
                  <div class="filter-box__list">
										<div class="filter-box__item">		
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>кора апельсинового дерева</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>базилик</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>ваниль</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>мандарин</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>апельсин</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>лимон</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>жасмин</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>имбирь</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>карамель</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>яблоко</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>груша</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">	
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>банан</span>
												</label>
											</div>
										</div>
									</div>
								</div>

								<div class="filter-box__btn">
									<a href="#" class="btn btn--dark btn--ttu">Показать всё</a>
								</div>
              </div>
            </div>

            <div class="filter-box__block">
              <h4 class="filter-box__title">Году выпуска</h4>

              <div class="filter-box__content">
                <div class="filter-box__wrap">
                  <div class="filter-box__list">
										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>2010</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>2011</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>2012</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>2013</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>2014</span>
												</label>
											</div>
										</div>
										<div class="filter-box__item">
											<div class="filter-box__control">
												<label>
													<input type="checkbox">
													<span>2015</span>
												</label>
											</div>
										</div>
									</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="page-filter__bottom">
          <a href="#" class="btn btn--dark btn--ttu">Подобрать</a>

          <a href="#" class="btn btn--bordered btn--ttu">Отменить</a>
        </div>
      </div>
    </div>

    <div class="page__content">
      <div class="row">
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
      </div>
    </div>

    <div class="page__pager">
      //= tpl/pager.html
    </div>
  </div>
</div>


//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html