//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page all-brands">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Бренды</span></li>
      </ul>
    </div>

    <h1 class="page__title">Бренды</h1>

    <div class="page__content">
      <div class="all-brands__panels brand-panel">
        <div class="brand-panel__one">
          <h3 class="brand-panel__title">А</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">B</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">C</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">D</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">E</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">F</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">G</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">H</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">А-Я</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap brand-panel__wrap--narrow">
              <div class="brands-list">
                <a href="brand.html" class="brands-list__link">Abercrombie & Fitch</a>
                <a href="brand.html" class="brands-list__link">Adidas</a>
                <a href="brand.html" class="brands-list__link">Agent Provocateur</a>
                <a href="brand.html" class="brands-list__link">Alessandro Dell Acqua</a>
                <a href="brand.html" class="brands-list__link">Alfred Dunhill</a>
                <a href="brand.html" class="brands-list__link">Amouage</a>
                <a href="brand.html" class="brands-list__link">Angel Schlesser</a>
                <a href="brand.html" class="brands-list__link">Armand Basi</a>
                <a href="brand.html" class="brands-list__link">Axis</a>
              </div>
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">0-9</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap brand-panel__wrap--narrow">
              <div class="brands-list">
                <a href="brand.html" class="brands-list__link">Abercrombie & Fitch</a>
                <a href="brand.html" class="brands-list__link">Adidas</a>
                <a href="brand.html" class="brands-list__link">Agent Provocateur</a>
                <a href="brand.html" class="brands-list__link">Alessandro Dell Acqua</a>
                <a href="brand.html" class="brands-list__link">Alfred Dunhill</a>
                <a href="brand.html" class="brands-list__link">Amouage</a>
                <a href="brand.html" class="brands-list__link">Angel Schlesser</a>
                <a href="brand.html" class="brands-list__link">Armand Basi</a>
                <a href="brand.html" class="brands-list__link">Axis</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html