//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page cart-page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Корзина</span></li>
      </ul>
    </div>

    <h1 class="page__title">Корзина</h1>

    <div class="page__content">
      <div class="cart-page__delivery">
        //= tpl/delivery-box.html
      </div>

      <div class="cart-page__table">
        <table class="cart-table">
          <thead>
            <tr>
              <th class="cart-table__num">№</th>
              <th class="cart-table__title">Название</th>
              <th class="cart-table__volume">Объем</th>
              <th class="cart-table__qty">Кол-во</th>
              <th class="cart-table__total">Цена</th>
              <th class="cart-table__remove">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cart-table__line cart-line">
              <td><span class="cart-line__num">610776</span></td>
              <td><span class="cart-line__title">Lanvin Modern Princess<br>Туалетные духи</span></td>
              <td><span class="cart-line__volume">100 мл</span></td>
              <td><input class="cart-line__qty input-qty" type="number" min="1" value="1"></td>
              <td><div class="cart-line__prices"><div class="cart-line__price-new">4200 руб.</div><div class="cart-line__price-old">4310 руб.</div></div></td>
              <td><span class="cart-line__remove"></span></td>
            </tr>
            <tr class="cart-table__line cart-line">
              <td><span class="cart-line__num">610776</span></td>
              <td><span class="cart-line__title">Lanvin Modern Princess<br>Туалетные духи</span></td>
              <td><span class="cart-line__volume">100 мл</span></td>
              <td><input class="cart-line__qty input-qty" type="number" min="1" value="1"></td>
              <td><span class="cart-line__total">4310 руб.</span></td>
              <td><span class="cart-line__remove"></span></td>
            </tr>
            <tr class="cart-table__line cart-line">
              <td><span class="cart-line__num">610776</span></td>
              <td><span class="cart-line__title">Lanvin Modern Princess<br>Туалетные духи</span></td>
              <td><span class="cart-line__volume">100 мл</span></td>
              <td><input class="cart-line__qty input-qty" type="number" min="1" value="1"></td>
              <td><span class="cart-line__total">4310 руб.</span></td>
              <td><span class="cart-line__remove"></span></td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="cart-table__footer cart-footer">
              <td colspan="3" class="cart-footer__coupon">
                <div class="coupon">
                  <div class="coupon__item">
                    <input class="coupon__input" type="text" placeholder="Введите код купона">
                  </div>
                  <div class="coupon__submit">
                    <button class="coupon__btn btn btn--ttu btn--dark" type="submit">Ок</button>
                  </div>
                </div>

                <div class="coupon">
                  <div class="coupon__text">
                    Ваш купон успешно применен к заказу!<br>
                    <a href="#" class="link link--red">Отменить</a>
                  </div>
                </div>

                <div class="coupon">
                  <div class="coupon__item">
                    <input class="coupon__input" type="text" placeholder="Введите код купона" value="CP-J9ORZ-WQEWLO">
                    <div class="coupon__error">При вводе купона допущена ошибка. Проверьте введённые данные.</div>
                  </div>
                  <div class="coupon__submit">
                    <button class="coupon__btn btn btn--ttu btn--dark" type="submit">Ок</button>
                  </div>
                </div>
              </td>
              <td colspan="3" class="cart-footer__total">
                <div class="cart-footer__sum">Товаров: 3 на сумму <strong>12 930 руб.</strong></div>
                <div class="cart-footer__bottom"><a href="ordering.html" class="btn btn--dark btn--ttu">Оформить заказ</a></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="cart-page__gifts">
        <div class="cart-gifts">
          <div class="cart-gifts__top">
            <div class="cart-gifts__title">Каждому покупателю нашего магазина<br>мы дарим подарки!</div>
          </div>

          <div class="cart-gifts__body">
            <div class="gift-box gift-box--corner">
              <div class="gift-box__wrap">
                <div class="gift-box__cover">
                  <img class="gift-box__img" src="img/icon_bottle-2.png" alt="">
                </div>

                <div class="gift-box__condition">При заказе от 1 до 2 флаконов</div>

                <div class="gift-box__label">Вы получаете</div>

                <div class="gift-box__value">1 пробник</div>
              </div>
            </div>

            <div class="gift-box gift-box--corner">
              <div class="gift-box__wrap">
                <div class="gift-box__cover">
                  <img class="gift-box__img" src="img/icon_bottle-5.png" alt="">
                </div>

                <div class="gift-box__condition">При заказе от 3 до 5 флаконов</div>

                <div class="gift-box__label">Вы получаете</div>

                <div class="gift-box__value">1 пробник + лифтинг крем</div>
              </div>
            </div>

            <div class="gift-box gift-box--corner">
              <div class="gift-box__wrap">
                <div class="gift-box__cover">
                  <img class="gift-box__img" src="img/icon_bottle-9.png" alt="">
                </div>

                <div class="gift-box__condition">При заказе от 6 до 9 флаконов</div>

                <div class="gift-box__label">Вы получаете</div>

                <div class="gift-box__value">2 пробника + 1 лифтинг крем + тушь</div>
              </div>
            </div>

            <div class="gift-box gift-box--corner">
              <div class="gift-box__wrap">
                <div class="gift-box__cover">
                  <img class="gift-box__img" src="img/icon_bottle-12.png" alt="">
                </div>

                <div class="gift-box__condition">При заказе от 10 до 12 флаконов</div>

                <div class="gift-box__label">Вы получаете</div>

                <div class="gift-box__value">2 пробника + тушь + косметичку с наполнением</div>
              </div>
            </div>

            <div class="gift-box gift-box--corner">
              <div class="gift-box__wrap">
                <div class="gift-box__cover">
                  <img class="gift-box__img" src="img/icon_bottle-13.png" alt="">
                </div>

                <div class="gift-box__condition">При заказе от 13 флаконов</div>

                <div class="gift-box__label">Вы получаете</div>

                <div class="gift-box__value">3 пробника + 2 лифтинг крема + косметичку с наполнением</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <h2 class="block__title">Последние просмотренные ароматы</h2>

    <div class="block__wrap">
      <div class="row">
        <div class="col-4">
          //= tpl/prod-box.html
        </div>
        <div class="col-4">
          //= tpl/prod-box.html
        </div>
        <div class="col-4">
          //= tpl/prod-box.html
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html