//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page cart-page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Корзина</span></li>
      </ul>
    </div>

    <h1 class="page__title">Оформление заказа</h1>

    <div class="page__content">
      <div class="cart-page__text">
        <p>Вашему заказу присвоен индивидуальный <br><span>номер №298937</span></p>
        <p>Запомните или запишите его.</p>
      </div>
      <div class="cart-page__text">
        Если вы являетесь зарегистрированным пользователем нашего сайта, то проследить за исполнением заказа вы можете в своем "<a href="#" class="link link--red">Личном кабинете</a>"
      </div>
      <div class="cart-page__signature">С уважением, администрация Orental.ru<br>тел. +7 (495) 744-35-34</div>

      <div class="cart-page__bottom">
        <a href="#" class="btn btn--dark btn--ttu">Завершить</a>
      </div>
    </div>
  </div>
</div>

//= tpl/footer.html

//= tpl/foot.html