//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page contacts">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Контакты</span></li>
      </ul>
    </div>

    <h1 class="page__title">Контакты</h1>

    <div class="page__content contacts__content">
      <div class="contacts__top">
        <h2 class="contacts__subtitle">Наши контактные телефоны:</h2>
        <div class="contacts__phones">
          <a href="tel:+74957443534">+7 (495) 744-35-34</a>, <a href="tel:+74952278575">+7 (495) 227-85-75</a>
        </div>
      </div>

      <div class="contacts__boxes">
        <div class="contact-box contact-box--beige">
          <div class="contact-box__wrap">
            <div class="contact-box__phone"><a href="tel:88002503534">8 800-250-35-34</a></div>
            <div class="contact-box__description">По России бесплатно</div>
          </div>
        </div>

        <div class="contact-box">
          <div class="contact-box__wrap">
            <div class="contact-box__label">Наш электронный адрес:</div>
            <div class="contact-box__value"><a href="mailto:shop@orental.ru" class="contact-box__link">shop@orental.ru</a></div>
          </div>
        </div>

        <div class="contact-box">
          <div class="contact-box__wrap">
            <div class="contact-box__label">Наш электронный адрес<br>для региональных клиентов:</div>
            <div class="contact-box__value"><a href="mailto:region@orental.ru" class="contact-box__link">region@orental.ru</a></div>
          </div>
        </div>

        <div class="contact-box">
          <div class="contact-box__wrap">
            <div class="contact-box__label">Наш электронный адрес<br>для любых предложений:</div>
            <div class="contact-box__value"><a href="mailto:info@orental.ru" class="contact-box__link">info@orental.ru</a></div>
          </div>
        </div>

      </div>

      <div class="contacts__address">Юридический адрес: Всеволожский бульвар, д. 2/22</div>

      <div class="contacts__map">
        <div class="map">
          <img src="img/map.jpg" alt="" class="map__img">
        </div>
      </div>

      <div class="contacts__details">
        <p>ИП Иванченко Марина Георгиевна</p>
        <p>ИНН 772204701820</p>
        <p>ОГРН 306770000301625</p>
        <p>Р/С 40802810122000008699</p>
      </div>
    </div>

  </div>
</div>

//= tpl/footer.html

//= tpl/foot.html