//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page delivery">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Доставка заказов</span></li>
      </ul>
    </div>

    <h1 class="page__title">Доставка заказов</h1>

    <div class="page__content">
      <div class="delivery__cover">
        <img src="img/img_delivery_01.jpg" alt="" class="delivery__img">
      </div>

      <div class="delivery__location">По Москве</div>
      <div class="delivery__description">Доставка курьером по Москве:<br>стоимость доставки в пределах МКАД</div>

      <div class="delivery__cost">Бесплатно</div>

      <div class="delivery__subtitle">Тарифы на доставку за пределы МКАД</div>

      <div class="delivery__rates">
        <div class="main-rates">
          <div class="main-rates__top"><div class="main-rates__cost">250 руб.</div></div>
          <div class="main-rates__body">
            <ul class="main-rates__list main-rates__list--4cols">
              <li class="main-rates__item">Бутово</li>
              <li class="main-rates__item">Видное</li>
              <li class="main-rates__item">Дзержинск</li>
              <li class="main-rates__item">Долгопрудный</li>
              <li class="main-rates__item">Жулебино</li>
              <li class="main-rates__item">Красногорск</li>
              <li class="main-rates__item">Люберцы</li>
              <li class="main-rates__item">Митино</li>
              <li class="main-rates__item">Мытищи</li>
              <li class="main-rates__item">Реутов</li>
              <li class="main-rates__item">Химки</li>
              <li class="main-rates__item">Лобня</li>
              <li class="main-rates__item">Железнодорожный</li>
              <li class="main-rates__item">Королев</li>
              <li class="main-rates__item">Лыткарино</li>
              <li class="main-rates__item">Сходня</li>
              <li class="main-rates__item">Зеленоград</li>
              <li class="main-rates__item">Одинцово</li>
              <li class="main-rates__item">Балашиха</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="delivery__location">По Санкт-Петербургу</div>
      <div class="delivery__description">Доставка курьером по Санкт-Петербургу:<br>стоимость доставки в пределах КАД</div>

      <div class="delivery__cost"><span>150 руб.</span></div>

      <div class="delivery__subtitle">Тарифы на доставку за пределы КАД</div>

      <div class="delivery__rates">
        <div class="main-rates">
          <div class="main-rates__top"><div class="main-rates__cost">400 руб.</div></div>
          <div class="main-rates__body">
            <ul class="main-rates__list main-rates__list--3cols">
              <li class="main-rates__item">Белоостров</li>
              <li class="main-rates__item">Всеволожск</li>
              <li class="main-rates__item">Гатчина</li>
              <li class="main-rates__item">Колпино</li>
              <li class="main-rates__item">Колтуши</li>
              <li class="main-rates__item">Красное село</li>
              <li class="main-rates__item">Красный бор</li>
              <li class="main-rates__item">Кронштадт</li>
              <li class="main-rates__item">Ломоносов</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="delivery__location">По Нижнему Новгороду</div>
      <div class="delivery__description">Доставка курьером по Нижнему Новгороду:<br>стоимость доставки в пределах городской черты</div>

      <div class="delivery__cost"><span>150 руб.</span></div>

      <div class="delivery__cover">
        <img src="img/img_delivery_02.jpg" alt="" class="delivery__img">
      </div>

      <div class="delivery__subtitle">Доставка курьером<br>по Российской Федерации</div>

      <div class="delivery__rates">
        <table class="table-rates">
          <thead>
            <tr>
              <th class="table-rates__city">Города<br>Российской Федерации</th>
              <th class="table-rates__time">Срок доставки<br>в рабочих днях</th>
              <th class="table-rates__cost">Стоимость<br>доставки</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Абакан</td>
              <td>8</td>
              <td class="table-rates__price">550 руб.</td>
            </tr>
            <tr>
              <td>Азов</td>
              <td>6</td>
              <td class="table-rates__price">450 руб.</td>
            </tr>
            <tr>
              <td>Альметьевск</td>
              <td>6</td>
              <td class="table-rates__price">480 руб.</td>
            </tr>
            <tr>
              <td>Архангельск</td>
              <td>6</td>
              <td class="table-rates__price">550 руб.</td>
            </tr>
            <tr>
              <td>Астрахань</td>
              <td>4</td>
              <td class="table-rates__price">460 руб.</td>
            </tr>
            <tr>
              <td>Барнаул</td>
              <td>8</td>
              <td class="table-rates__price">480 руб.</td>
            </tr>
            <tr>
              <td>Белгород</td>
              <td>3</td>
              <td class="table-rates__price">450 руб.</td>
            </tr>
            <tr>
              <td>Березники</td>
              <td>6</td>
              <td class="table-rates__price">470 руб.</td>
            </tr>
            <tr>
              <td>Благовещенск</td>
              <td>9</td>
              <td class="table-rates__price">670 руб.</td>
            </tr>
            <tr>
              <td>Боровск</td>
              <td>6</td>
              <td class="table-rates__price">470 руб.</td>
            </tr>
            <tr>
              <td>Братск</td>
              <td>9</td>
              <td class="table-rates__price">640 руб.</td>
            </tr>
            <tr>
              <td>Брянск</td>
              <td>2</td>
              <td class="table-rates__price">450 руб.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="delivery__cover">
        <img src="img/img_delivery_03.jpg" alt="" class="delivery__img">
      </div>

      <div class="delivery__location">По России</div>
      <div class="delivery__description"> Мы отправляем заказы почтой России 1 классом и EMS. в любой город и населенный пункт, в котором есть почтовое отделение. Отправка заказов происходит в течении 2 рабочих дней с момента поступления денежных средств.</div>

      <div class="delivery__subtitle">Тарифы на отправку заказов<br>Почтой России и EMS</div>

      <div class="delivery__rates">
        <div class="post-rates">
          <div class="row row-no-gutter">
            <div class="post-rates__col post-rates__top col-6">
              <div class="post-rates__cost">280 руб.</div>
              <div class="post-rates__label">За один флакон</div>
            </div>
            <div class="post-rates__col post-rates__top col-6">
              <div class="post-rates__cost"><span>EMS</span> 680 руб.</div>
              <div class="post-rates__label">За один флакон</div>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="post-rates__col post-rates__bottom col-6">
              <div class="post-rates__cost">+ 60 руб.</div>
              <div class="post-rates__label">За каждый следующий</div>
            </div>
            <div class="post-rates__col post-rates__bottom col-6">
              <div class="post-rates__cost">+ 60 руб.</div>
              <div class="post-rates__label">За каждый следующий</div>
            </div>
          </div>
        </div>

        <ul class="post-direction">
          <li class="post-direction__item">Адыгея</li>
          <li class="post-direction__item">Дагестан</li>
          <li class="post-direction__item">Ингушетия</li>
          <li class="post-direction__item">Кабардино-Балкария</li>
          <li class="post-direction__item">Карачаево-Черкесская Республика</li>
          <li class="post-direction__item">Республика Марий Эл</li>
          <li class="post-direction__item">Татарстан</li>
          <li class="post-direction__item">Мордовия</li>
          <li class="post-direction__item">Северная Осетия-Алания</li>
          <li class="post-direction__item">Чувашская Республика</li>
          <li class="post-direction__item">Астраханская область</li>
          <li class="post-direction__item">Белгородская область</li>
          <li class="post-direction__item">Брянская область</li>
          <li class="post-direction__item">Владимирская область</li>
          <li class="post-direction__item">Волгоградская область</li>
          <li class="post-direction__item">Воронежская область</li>
          <li class="post-direction__item">Ивановская область</li>
          <li class="post-direction__item">Калининградская область</li>
          <li class="post-direction__item">Калужская область</li>
          <li class="post-direction__item">Костромская область</li>
          <li class="post-direction__item">Краснодарский край</li>
        </ul>
      </div>

      <div class="delivery__rates">
        <div class="post-rates">
          <div class="row row-no-gutter">
            <div class="post-rates__col post-rates__top col-6">
              <div class="post-rates__cost">280 руб.</div>
              <div class="post-rates__label">За один флакон</div>
            </div>
            <div class="post-rates__col post-rates__top col-6">
              <div class="post-rates__cost"><span>EMS</span> 680 руб.</div>
              <div class="post-rates__label">За один флакон</div>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="post-rates__col post-rates__bottom col-6">
              <div class="post-rates__cost">+ 60 руб.</div>
              <div class="post-rates__label">За каждый следующий</div>
            </div>
            <div class="post-rates__col post-rates__bottom col-6">
              <div class="post-rates__cost">+ 60 руб.</div>
              <div class="post-rates__label">За каждый следующий</div>
            </div>
          </div>
        </div>

        <ul class="post-direction">
          <li class="post-direction__item">Адыгея</li>
          <li class="post-direction__item">Дагестан</li>
          <li class="post-direction__item">Ингушетия</li>
          <li class="post-direction__item">Кабардино-Балкария</li>
          <li class="post-direction__item">Карачаево-Черкесская Республика</li>
          <li class="post-direction__item">Республика Марий Эл</li>
          <li class="post-direction__item">Татарстан</li>
          <li class="post-direction__item">Мордовия</li>
          <li class="post-direction__item">Северная Осетия-Алания</li>
          <li class="post-direction__item">Чувашская Республика</li>
          <li class="post-direction__item">Астраханская область</li>
          <li class="post-direction__item">Белгородская область</li>
          <li class="post-direction__item">Брянская область</li>
          <li class="post-direction__item">Владимирская область</li>
          <li class="post-direction__item">Волгоградская область</li>
          <li class="post-direction__item">Воронежская область</li>
          <li class="post-direction__item">Ивановская область</li>
          <li class="post-direction__item">Калининградская область</li>
          <li class="post-direction__item">Калужская область</li>
          <li class="post-direction__item">Костромская область</li>
          <li class="post-direction__item">Краснодарский край</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html