//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page discounts">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Скидки</span></li>
      </ul>
    </div>

    <h1 class="page__title">Скидки</h1>

    <div class="page__content">
      <div class="discounts__block">
        <h2 class="discounts__title">Накопительные скидки</h2>
        <div class="discounts__description">Скидки действуют для зарегистрированных клиентов</div>

        <div class="discounts__save-sale">
          <div class="save-sale">
            <div class="save-sale__cover"></div>
            <div class="save-sale__percent save-sale__percent--03">
              <div class="percent">
                <div class="percent__value percent__value--03">3%</div>
                <div class="percent__from">со второй<br>покупки</div>
              </div>
            </div>

            <div class="save-sale__percent save-sale__percent--05">
              <div class="percent">
                <div class="percent__value percent__value--05">5%</div>
                <div class="percent__from">от 7000 руб.</div>
              </div>
            </div>

            <div class="save-sale__percent save-sale__percent--07">
              <div class="percent">
                <div class="percent__value percent__value--07">7%</div>
                <div class="percent__from">от 15000 руб.</div>
              </div>
            </div>

            <div class="save-sale__percent save-sale__percent--10">
              <div class="percent">
                <div class="percent__value percent__value--10">10%</div>
                <div class="percent__from">от 20000 руб.</div>
              </div>
            </div>

            <div class="save-sale__percent save-sale__percent--15">
              <div class="percent">
                <div class="percent__value percent__value--15">15%</div>
                <div class="percent__from">от 40000 руб.</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="discounts__block extra-wrap">
        <h2 class="discounts__title">Разовые скидки</h2>
        <div class="discounts__description">Разовые скидки за несколько флаконов в заказе</div>
        <div class="discounts__subtext">Каждый зарегистрированный клиент, делающий покупки в нашем магазине, получает постоянные скидки, которые растут пропорционально общей сумме, на которую были произведены заказы.</div>

        <div class="discounts__one-sale">
          <div class="one-sale">
            <div class="one-sale__item">
              <div class="one-sale__label">2-3 флакона –</div>
              <div class="one-sale__value">4%</div>
            </div>
            <div class="one-sale__item">
              <div class="one-sale__label">4-5 флаконов –</div>
              <div class="one-sale__value">6%</div>
            </div>
            <div class="one-sale__item">
              <div class="one-sale__label">6-9 флаконов –</div>
              <div class="one-sale__value">8%</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html