//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Мужская парфюмерия</span></li>
      </ul>
    </div>

    <h1 class="page__title page__title--icon"><span class="page__icon page__icon--men"></span><span class="page__name">Парфюмерия для мужчин</span></h1>

    <div class="page__description">
      Мужская парфюмерия в нашем каталоге — это собрание изысканных ароматов от лучших парфюмерных брендов. Мужской парфюм — один из самых важных элементов образа. Правильно подбирая парфюмерию, можно подчеркнуть деловой или романтический настрой, создать ауру мужественности или авантюризма.
    </div>

    <div class="page__block">
      <h2 class="page__subtitle">Новинки</h2>

      <div class="page__wrap">
        <div class="row">
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
        </div>
      </div>
    </div>

    <div class="page__block">
      <h2 class="page__subtitle">Лидер продаж</h2>

      <div class="page__wrap">
        <div class="row">
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
        </div>
      </div>
    </div>

    <div class="page__block">
      <h2 class="page__subtitle">Распродажа</h2>

      <div class="page__wrap">
        <div class="row">
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="all-brands block">
  <div class="container">
    <h2 class="block__title">Бренды</h2>

    <div class="block__wrap">
      <div class="all-brands__panels brand-panel">
        <div class="brand-panel__one">
          <h3 class="brand-panel__title">А</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">B</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">C</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>

        <div class="brand-panel__one">
          <h3 class="brand-panel__title">D</h3>
          <div class="brand-panel__content">
            <div class="brand-panel__wrap">
              //= tpl/brands.html
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html