//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page gifts">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Подарки</span></li>
      </ul>
    </div>

    <h1 class="page__title">Подарки</h1>

    <div class="page__cover">
      <img src="img/img_gifts.jpg" alt="" class="page__img">
    </div>

    <h2 class="gifts__subtitle">Каждому покупателю нашего<br>магазина мы дарим подарки!</h2>

    <div class="page__content gifts__boxes">
      <div class="gift-box gift-box--corner">
        <div class="gift-box__wrap">
          <div class="gift-box__cover">
            <img class="gift-box__img" src="img/icon_bottle-2.png" alt="">
          </div>

          <div class="gift-box__condition">При заказе от 1 до 2 флаконов</div>

          <div class="gift-box__label">Вы получаете</div>

          <div class="gift-box__value">1 пробник</div>
        </div>
      </div>

      <div class="gift-box gift-box--corner">
        <div class="gift-box__wrap">
          <div class="gift-box__cover">
            <img class="gift-box__img" src="img/icon_bottle-5.png" alt="">
          </div>

          <div class="gift-box__condition">При заказе от 3 до 5 флаконов</div>

          <div class="gift-box__label">Вы получаете</div>

          <div class="gift-box__value">1 пробник + лифтинг крем</div>
        </div>
      </div>

      <div class="gift-box gift-box--corner">
        <div class="gift-box__wrap">
          <div class="gift-box__cover">
            <img class="gift-box__img" src="img/icon_bottle-9.png" alt="">
          </div>

          <div class="gift-box__condition">При заказе от 6 до 9 флаконов</div>

          <div class="gift-box__label">Вы получаете</div>

          <div class="gift-box__value">2 пробника + 1 лифтинг крем + тушь</div>
        </div>
      </div>

      <div class="gift-box gift-box--corner">
        <div class="gift-box__wrap">
          <div class="gift-box__cover">
            <img class="gift-box__img" src="img/icon_bottle-12.png" alt="">
          </div>

          <div class="gift-box__condition">При заказе от 10 до 12 флаконов</div>

          <div class="gift-box__label">Вы получаете</div>

          <div class="gift-box__value">2 пробника + тушь + косметичку с наполнением</div>
        </div>
      </div>

      <div class="gift-box gift-box--corner">
        <div class="gift-box__wrap">
          <div class="gift-box__cover">
            <img class="gift-box__img" src="img/icon_bottle-13.png" alt="">
          </div>

          <div class="gift-box__condition">При заказе от 13 флаконов</div>

          <div class="gift-box__label">Вы получаете</div>

          <div class="gift-box__value">3 пробника + 2 лифтинг крема + косметичку с наполнением</div>
        </div>
      </div>

      <div class="gift-box">
        <div class="gift-box__wrap">
          <div class="gift-box__cover">
            <img src="img/logo.svg" width="170" height="46" alt="" class="gift-box__img">
          </div>

          <div class="gift-box__text">Наш интернет магазин orental.ru будет рад помочь выбрать вам только качественную, оригинальную, парфюмерию на любой вкус.</div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html