//= tpl/head.html

<div class="top">
  <div class="container">
    <div class="top__row row">
      <div class="col-2">
        <div class="top__nav">
          <div class="top__btn">
            <div class="top-btn">
              <span class="top-btn__line"></span>
              <span class="top-btn__line"></span>
              <span class="top-btn__line"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="top__links">
        <a href="#" class="top__link">Лаша Джанашия</a> <span class="top__sep">/</span> <a href="#" class="top__link">Выход</a>
        </div>
      </div>
    </div>
  </div>

  <div class="top__menu">
    <div class="container">
      <ul class="top-menu">
        <li class="top-menu__item"><a href="about.html" class="top-menu__link">О магазине</a></li>
        <li class="top-menu__item"><a href="news.html" class="top-menu__link">Новости</a></li>
        <li class="top-menu__item"><a href="delivery.html" class="top-menu__link">Доставка</a></li>
        <li class="top-menu__item"><a href="payment.html" class="top-menu__link">Оплата</a></li>
        <li class="top-menu__item"><a href="discounts.html" class="top-menu__link">Скидки</a></li>
        <li class="top-menu__item"><a href="contacts.html" class="top-menu__link">Контакты</a></li>
        <li class="top-menu__item"><a href="gifts.html" class="top-menu__link top-menu__link--gift">Подарки</a></li>
      </ul>
    </div>
  </div>

</div>

//= tpl/header.html

<div class="home-slider">
  <div class="container">
    <div class="shares-slider">
      <div class="shares-slider__item">
        <img src="img/slide_00.jpg" alt="" class="shares-slider__img">
        <a href="#" class="shares-slider__link"></a>
      </div>
      <div class="shares-slider__item">
        <img src="img/slide_00.jpg" alt="" class="shares-slider__img">
      </div>
      <div class="shares-slider__item">
        <img src="img/slide_00.jpg" alt="" class="shares-slider__img">
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <div class="page__block">
      <h2 class="page__subtitle">Новинки</h2>

      <div class="page__wrap">
        <div class="page__row row">
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
          <div class="col-6">
            //= tpl/prod-box.html
          </div>

          <div class="row-btns">
            <a href="#" class="row-btns__arrow row-btns__arrow--prev"></a>
            <a href="#" class="row-btns__arrow row-btns__arrow--next"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="page__block">
      <h2 class="page__subtitle">Лидер продаж</h2>

      <div class="page__wrap">
        <div class="row">
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
        </div>
      </div>
    </div>

    <div class="page__block">
      <h2 class="page__subtitle">Распродажа</h2>

      <div class="page__wrap">
        <div class="row">
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
        </div>
      </div>
    </div>

    <div class="page__block">    
      <h2 class="page__subtitle">Селектив</h2>

      <div class="page__wrap">
        <div class="row">
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
          <div class="col-6">
            //= tpl/prod-box.html
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about block">
  <div class="container">
    <h2 class="about__title">Интернет-магазин элитной парфюмерии</h2>

    <div class="about__text">Наш магазин в любое время года готов дарить Вам прекрасное настроение благодаря широкому (более 15000 наименований) ассортименту оригинальной парфюмерии представленном на нашем сайте Orental.ru</div>

    <div class="about__news">
      <div class="news-teas">
        <div class="news-teas__item">
          <div class="news-teas__date">01.02.2012</div>
          <div class="news-teas__text"><a href="#" class="news-teas__link">Новые версии ароматов 1 Million от Paco Rabanne стали ещё более захватывающими</a></div>
        </div>

        <div class="news-teas__item">
          <div class="news-teas__date">01.02.2012</div>
          <div class="news-teas__text"><a href="#" class="news-teas__link">Новые версии ароматов 1 Million от Paco Rabanne стали ещё более захватывающими</a></div>
        </div>

        <div class="news-teas__item">
          <div class="news-teas__date">01.02.2012</div>
          <div class="news-teas__text"><a href="#" class="news-teas__link">Новые версии ароматов 1 Million от Paco Rabanne стали ещё более захватывающими</a></div>
        </div>
      </div>
    </div>

    <h3 class="about__subtitle">Накопительные скидки</h3>

    <div class="about__text">Скидки действуют для зарегистрированных клиентов</div>

    <div class="about__save-sale">
      <div class="save-sale">
        <div class="save-sale__cover"></div>
        <div class="save-sale__percent save-sale__percent--03">
          <div class="percent">
            <div class="percent__value percent__value--03">3%</div>
            <div class="percent__from">со второй<br>покупки</div>
          </div>
        </div>

        <div class="save-sale__percent save-sale__percent--05">
          <div class="percent">
            <div class="percent__value percent__value--05">5%</div>
            <div class="percent__from">от 7000 руб.</div>
          </div>
        </div>

        <div class="save-sale__percent save-sale__percent--07">
          <div class="percent">
            <div class="percent__value percent__value--07">7%</div>
            <div class="percent__from">от 15000 руб.</div>
          </div>
        </div>

        <div class="save-sale__percent save-sale__percent--10">
          <div class="percent">
            <div class="percent__value percent__value--10">10%</div>
            <div class="percent__from">от 20000 руб.</div>
          </div>
        </div>

        <div class="save-sale__percent save-sale__percent--15">
          <div class="percent">
            <div class="percent__value percent__value--15">15%</div>
            <div class="percent__from">от 40000 руб.</div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="about__subtitle">Разовые скидки</h3>
    <div class="about__text">Разовые скидки за несколько флаконов в заказе</div>
    
    <div class="extra-wrap">
      <div class="about__subtext">Каждый зарегистрированный клиент, делающий покупки в нашем магазине, получает постоянные скидки, которые растут пропорционально общей сумме, на которую были произведены заказы.</div>

      <div class="about__one-sale">
        <div class="one-sale">
          <div class="one-sale__item">
            <div class="one-sale__label">2-3 флакона –</div>
            <div class="one-sale__value">4%</div>
          </div>
          <div class="one-sale__item">
            <div class="one-sale__label">4-5 флаконов –</div>
            <div class="one-sale__value">6%</div>
          </div>
          <div class="one-sale__item">
            <div class="one-sale__label">6-9 флаконов –</div>
            <div class="one-sale__value">8%</div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="about__title">Интернер-магазин элитной парфюмерии</h3>
    <div class="about__text">Наш магазин в любое время года готов дарить Вам прекрасное настроение благодаря широкому (более 15000 наименований) ассортименту оригинальной парфюмерии представленном на нашем сайте Orental.ru</div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Узнать больше</a>
    </div>
  </div>
</div>

<div class="reviews block">
  <div class="container">
    <h2 class="block__title reviews__title">Что говорят наши клиенты</h2>

    <div class="reviews__item">
      <div class="review row">
        <div class="col-4">
          <div class="review__cover">
            <a href="product.html" class="review__cover-link">
              <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
            </a>
          </div>
        </div>
        <div class="col-8">
          <div class="review__info">
            <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
          </div>
          <div class="review__product-name">
            <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
          </div>
          <div class="review__rating">
            <ul class="rating">
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star"></li>
            </ul>
          </div>

          <div class="review__text">
            Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
          </div>
        </div>
      </div>
    </div>

    <div class="reviews__item">
      <div class="review row">
        <div class="col-4">
          <div class="review__cover">
            <a href="product.html" class="review__cover-link">
              <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
            </a>
          </div>
        </div>
        <div class="col-8">
          <div class="review__info">
            <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
          </div>
          <div class="review__product-name">
            <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
          </div>
          <div class="review__rating">
            <ul class="rating">
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star"></li>
            </ul>
          </div>

          <div class="review__text">
            Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
          </div>
        </div>
      </div>
    </div>

    <div class="reviews__item">
      <div class="review row">
        <div class="col-4">
          <div class="review__cover">
            <a href="product.html" class="review__cover-link">
              <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
            </a>
          </div>
        </div>
        <div class="col-8">
          <div class="review__info">
            <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
          </div>
          <div class="review__product-name">
            <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
          </div>
          <div class="review__rating">
            <ul class="rating">
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star rating__star--active"></li>
              <li class="rating__star"></li>
            </ul>
          </div>

          <div class="review__text">
            Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
          </div>
        </div>
      </div>
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все отзывы</a>
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

<div class="social block">
  <div class="container">
    <h2 class="block__title social__title">Orental в социальных сетях</h2>

    <div class="social__stub">Виджет ВКонтакте</div>

    <div class="social__stub">Виджет Facebook</div>
    
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html