//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Карта сайта</span></li>
      </ul>
    </div>

    <h1 class="page__title">Карта сайта</h1>

    <div class="page__content">
      <ul class="m-list">
				<li>
					<a href="#">Главная страница</a>
				</li>

				<li>
					<a href="#">Новинки</a>

					<ul>
						<li>
							<a href="#">Новинки женской парфюмерии</a>
						</li>
						<li>
							<a href="#">Новинки мужской парфюмерии</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#">Женская парфюмерия</a>
				</li>
				<li>
					<a href="#">Мужская парфюмерия</a>
				</li>
				<li>
					<a href="#">Распродажа</a>

					<ul>
						<li>
							<a href="#">Распродажа женской парфюмерии</a>
						</li>
						<li>
							<a href="#">Распродажа мужской парфюмерии</a>
						</li>
					</ul>
				</li>
				<li><a href="#">Бренды</a></li>
				<li><a href="#">Ноты</a></li>
				<li><a href="#">О магазине</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Оплата</a></li>
				<li><a href="#">Скидки</a></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Подарки</a></li>
				<li><a href="#">График работы</a></li>
				<li><a href="#">Возврат</a></li>
				<li><a href="#">Политика конфиденциальности</a></li>
			</ul>
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html