//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page profile-page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Личный кабинет</span></li>
      </ul>
    </div>

    <h1 class="page__title">Личный кабинет</h1>

    <div class="profile-page__nav">
      <div class="profile-nav">
        <div class="profile-nav__item"><a href="profile.html" class="profile-nav__link">Личные данные</a></div>
        <div class="profile-nav__item"><a href="order-history.html" class="profile-nav__link">История заказов</a></div>
        <div class="profile-nav__item"><a href="purchases.html" class="profile-nav__link">Ваши покупки</a></div>
        <div class="profile-nav__item"><a href="my-cart.html" class="profile-nav__link current">Ваша корзина</a></div>
      </div>
    </div>

    <div class="profile-page__select">
      <div class="profile-select">
        <select class="profile-select__input" name="" id="">
          <option value="">Все</option>
          <option value="">Женская парфюмерия</option>
          <option value="">Мужская парфюмерия</option>
          <option value="">Унисекс</option>
          <option value="">Распродажа</option>
        </select>
      </div>
    </div>

    <div class="page__content">
      <div class="row">
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
      </div>

      <div class="page__pager">
        //= tpl/pager.html
      </div>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html