//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page news-one">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><a href="news.html" class="breadcrumbs__link">Новости</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Новые версии ароматов 1 Million от Paco Rabanne стали еще более захватывающими</span></li>
      </ul>
    </div>

    <h1 class="page__title">Новости</h1>

    <div class="page__content">
      <div class="news-one__cover">
        <img src="img/news_01.jpg" alt="" class="news-one__img">
      </div>

      <div class="news-one__time">07.10.2016 16:51:30</div>

      <h2 class="news-one__title">Новые версии ароматов 1 Million от Paco Rabanne стали еще более захватывающими</h2>
      
      <div class="news-one__text">
        <p>Модный Дом Paco Rabanne продолжает линейку ароматов “1 Million”, начало которой было положено в 2008 году. Тема золота и богатства, расточительности и адреналина ожидаемо стала популярна и в ароматном исполнении: дуэт мужского и женского парфюма, начиная с 2012 года, выходит ежегодно.</p>
        <p>Восточно-древесная композиция для мужчин Paco Rabanne 1 Million Prive в авторстве парфюмера Кристофа Рейно (Christophe Raynaud) увлекает контрастами и неожиданными поворотами. Свежие, почти новогодние искры мандарина приглушаются теплыми тонами корицы. Свободное парение в фантазиях заземляется глубокими и сильными нотками пачули, но интрига продолжается в опьяняющих оттенках бобов тонка.</p>
        <p>Восточная композиция <a href="#">Paco Rabanne Lady Million Prive</a> идеально подчеркнет образ неотразимых в своем очаровании женщин с авантюрной жилкой. В новой версии роскошь и богатство оттенков дополняется парфюмером Анн Флипо (Anne Flipo) гипнотичностью и глубокой чувственностью в медовых тонах. Под внешним лоском скрывается готовность к риску – в разумных пределах, безусловно.</p>
      </div>
    </div>

    <div class="page__bottom">
      <div class="news-one__soci">
        <!--ВСТВАВИТЬ НА ЭТО МЕСТО КОД КНОПОК, ЗАМЕНИВ ТЕКУЩИЙ КОД-->
        <div style="padding: 20px; background-color: #fafafa; text-align: center; border: 1px dashed #ddd;">
          Здесь будут кнопки соцсетей
        </div>
        <!--/ВСТВАВИТЬ НА ЭТО МЕСТО КОД КНОПОК, ЗАМЕНИВ ТЕКУЩИЙ КОД-->
      </div>
    </div>

  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html