//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Новости</span></li>
      </ul>
    </div>

    <h1 class="page__title">Новости</h1>

    <div class="page__content">
      <div class="news-teas">
        <div class="news-teas__cover">
          <img src="img/news_01.jpg" alt="" class="news-teas__img">
        </div>
        <div class="news-teas__time">07.10.2016 16:51:30</div>

        <h2 class="news-teas__title">Новые версии ароматов 1 Million от Paco Rabanne стали ещё более захватывающими</h2>

        <div class="news-teas__description">
          Модный Дом Paco Rabanne продолжает линейку ароматов “1 Million”, начало которой было положено в 2008 году. Тема золота и богатства, расточительности и адреналина ожидаемо стала популярна и в ароматном исполнении: дуэт мужского и женского парфюма, начиная с 2012 года, выходит ежегодно…
        </div>
        <div class="news-teas__bottom">
          <a href="news-one.html" class="link link--red">Читать далее ></a>
        </div>
      </div>

      <div class="news-teas">
        <div class="news-teas__cover">
          <img src="img/news_02.jpg" alt="" class="news-teas__img">
        </div>
        <div class="news-teas__time">07.10.2016 16:51:30</div>

        <h2 class="news-teas__title">Новые версии ароматов 1 Million от Paco Rabanne стали ещё более захватывающими</h2>

        <div class="news-teas__description">
          Модный Дом Paco Rabanne продолжает линейку ароматов “1 Million”, начало которой было положено в 2008 году. Тема золота и богатства, расточительности и адреналина ожидаемо стала популярна и в ароматном исполнении: дуэт мужского и женского парфюма, начиная с 2012 года, выходит ежегодно…
        </div>
        <div class="news-teas__bottom">
          <a href="news-one.html" class="link link--red">Читать далее ></a>
        </div>
      </div>

      <div class="news-teas">
        <div class="news-teas__cover">
          <img src="img/news_01.jpg" alt="" class="news-teas__img">
        </div>
        <div class="news-teas__time">07.10.2016 16:51:30</div>

        <h2 class="news-teas__title">Новые версии ароматов 1 Million от Paco Rabanne стали ещё более захватывающими</h2>

        <div class="news-teas__description">
          Модный Дом Paco Rabanne продолжает линейку ароматов “1 Million”, начало которой было положено в 2008 году. Тема золота и богатства, расточительности и адреналина ожидаемо стала популярна и в ароматном исполнении: дуэт мужского и женского парфюма, начиная с 2012 года, выходит ежегодно…
        </div>
        <div class="news-teas__bottom">
          <a href="news-one.html" class="link link--red">Читать далее ></a>
        </div>
      </div>

      <div class="news-teas">
        <div class="news-teas__cover">
          <img src="img/news_02.jpg" alt="" class="news-teas__img">
        </div>
        <div class="news-teas__time">07.10.2016 16:51:30</div>

        <h2 class="news-teas__title">Новые версии ароматов 1 Million от Paco Rabanne стали ещё более захватывающими</h2>

        <div class="news-teas__description">
          Модный Дом Paco Rabanne продолжает линейку ароматов “1 Million”, начало которой было положено в 2008 году. Тема золота и богатства, расточительности и адреналина ожидаемо стала популярна и в ароматном исполнении: дуэт мужского и женского парфюма, начиная с 2012 года, выходит ежегодно…
        </div>
        <div class="news-teas__bottom">
          <a href="news-one.html" class="link link--red">Читать далее ></a>
        </div>
      </div>
    </div>

    <div class="page__pager">
      //= tpl/pager.html
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html