//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page profile-page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Личный кабинет</span></li>
      </ul>
    </div>

    <h1 class="page__title">Личный кабинет</h1>

    <div class="profile-page__nav">
      <div class="profile-nav">
        <div class="profile-nav__item"><a href="profile.html" class="profile-nav__link">Личные данные</a></div>
        <div class="profile-nav__item"><a href="order-history.html" class="profile-nav__link current">История заказов</a></div>
        <div class="profile-nav__item"><a href="purchases.html" class="profile-nav__link">Ваши покупки</a></div>
        <div class="profile-nav__item"><a href="my-cart.html" class="profile-nav__link">Ваша корзина</a></div>
      </div>
    </div>

    <div class="profile-page__select">
      <div class="profile-select">
        <select class="profile-select__input" name="" id="">
          <option value="">Все</option>
          <option value="">Женская парфюмерия</option>
          <option value="">Мужская парфюмерия</option>
          <option value="">Унисекс</option>
          <option value="">Распродажа</option>
        </select>
      </div>
    </div>

    <div class="page__content">

      <div class="profile-page__history">
        <div class="order-hist">
          <div class="order-hist__header">Заказ № 59494 от 12 января 2014 г.</div>
          <div class="order-hist__table">
            <table class="hist-table">
              <thead>
                <tr>
                  <th class="hist-table__num">№</th>
                  <th class="hist-table__name">Наименование</th>
                  <th class="hist-table__volume">Объем</th>
                  <th class="hist-table__qty">Кол-во</th>
                  <th class="hist-table__cost">Стоимость</th>
                </tr>
              </thead>
              <tbody>
                <tr class="order-line">
                  <td>1</td>
                  <td>Chanel Parfum Coco Mademoiselle</td>
                  <td>100 мл</td>
                  <td><span class="order-line__qty">1 шт.</span></td>
                  <td><span class="order-line__price">4310 руб.</span></td>
                </tr>
                <tr class="order-line">
                  <td>2</td>
                  <td>Chanel Parfum Coco Mademoiselle</td>
                  <td>100 мл</td>
                  <td><span class="order-line__qty">1 шт.</span></td>
                  <td><span class="order-line__price">4310 руб.</span></td>
                </tr>
                <tr class="order-line">
                  <td>3</td>
                  <td>Chanel Parfum Coco Mademoiselle</td>
                  <td>100 мл</td>
                  <td><span class="order-line__qty">1 шт.</span></td>
                  <td><span class="order-line__price">4310 руб.</span></td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="order-total">
                  <td colspan="5">
                    <div class="order-total__row row">
                      <div class="order-total__col col-6">
                        <div class="order-total__status">Статус заказа: <span>оплачено</span></div>
                      </div>
                      <div class="order-total__col col-6">
                        <div class="order-total__sum">Статус заказа: <strong>12930 руб.</strong></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div class="order-hist">
          <div class="order-hist__header">Заказ № 59494 от 12 января 2014 г.</div>
          <div class="order-hist__table">
            <table class="hist-table">
              <thead>
                <tr>
                  <th class="hist-table__num">№</th>
                  <th class="hist-table__name">Наименование</th>
                  <th class="hist-table__volume">Объем</th>
                  <th class="hist-table__qty">Кол-во</th>
                  <th class="hist-table__cost">Стоимость</th>
                </tr>
              </thead>
              <tbody>
                <tr class="order-line">
                  <td>1</td>
                  <td>Chanel Parfum Coco Mademoiselle</td>
                  <td>100 мл</td>
                  <td><span class="order-line__qty">1 шт.</span></td>
                  <td><span class="order-line__price">4310 руб.</span></td>
                </tr>
                <tr class="order-line">
                  <td>2</td>
                  <td>Chanel Parfum Coco Mademoiselle</td>
                  <td>100 мл</td>
                  <td><span class="order-line__qty">1 шт.</span></td>
                  <td><span class="order-line__price">4310 руб.</span></td>
                </tr>
                <tr class="order-line">
                  <td>3</td>
                  <td>Chanel Parfum Coco Mademoiselle</td>
                  <td>100 мл</td>
                  <td><span class="order-line__qty">1 шт.</span></td>
                  <td><span class="order-line__price">4310 руб.</span></td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="order-total">
                  <td colspan="5">
                    <div class="order-total__row row">
                      <div class="order-total__col col-6">
                        <div class="order-total__status">Статус заказа: <span>оплачено</span></div>
                      </div>
                      <div class="order-total__col col-6">
                        <div class="order-total__sum">Статус заказа: <strong>12930 руб.</strong></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <div class="order-hist">
          <div class="order-hist__header">Заказ № 59494 от 12 января 2014 г.</div>
          <div class="order-hist__table">
            <table class="hist-table">
              <thead>
                <tr>
                  <th class="hist-table__num">№</th>
                  <th class="hist-table__name">Наименование</th>
                  <th class="hist-table__volume">Объем</th>
                  <th class="hist-table__qty">Кол-во</th>
                  <th class="hist-table__cost">Стоимость</th>
                </tr>
              </thead>
              <tbody>
                <tr class="order-line">
                  <td>1</td>
                  <td>Chanel Parfum Coco Mademoiselle</td>
                  <td>100 мл</td>
                  <td><span class="order-line__qty">1 шт.</span></td>
                  <td><span class="order-line__price">4310 руб.</span></td>
                </tr>
                <tr class="order-line">
                  <td>2</td>
                  <td>Chanel Parfum Coco Mademoiselle</td>
                  <td>100 мл</td>
                  <td><span class="order-line__qty">1 шт.</span></td>
                  <td><span class="order-line__price">4310 руб.</span></td>
                </tr>
                <tr class="order-line">
                  <td>3</td>
                  <td>Chanel Parfum Coco Mademoiselle</td>
                  <td>100 мл</td>
                  <td><span class="order-line__qty">1 шт.</span></td>
                  <td><span class="order-line__price">4310 руб.</span></td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="order-total">
                  <td colspan="5">
                    <div class="order-total__row row">
                      <div class="order-total__col col-6">
                        <div class="order-total__status">Статус заказа: <span>оплачено</span></div>
                      </div>
                      <div class="order-total__col col-6">
                        <div class="order-total__sum">Статус заказа: <strong>12930 руб.</strong></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <div class="page__pager">
        //= tpl/pager.html
      </div>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html