//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page ordering-page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Оформление заказа</span></li>
      </ul>
    </div>

    <h1 class="page__title">Оформление заказа</h1>

    <div class="page__content">
      <div class="ordering-page__enter">
        <div class="enter-box">
          <div class="enter-box__title">Если вы зарегистрированный пользователь нашего сайта — пожалуйста, авторизуйтесь.</div>
          <form action="" class="enter-box__form">
            <div class="enter-box__group">
              <label class="enter-box__label">E-mail:</label>
              <div class="enter-box__item">
                <input class="enter-box__input" type="email" data-validation="email">
              </div>
            </div>

            <div class="enter-box__group">
              <label class="enter-box__label">Пароль:</label>
              <div class="enter-box__item">
                <input class="enter-box__input" type="password">
              </div>
            </div>

            <div class="enter-box__submit">
              <button class="btn btn--dark btn--ttu" type="submit">Войти</button>
            </div>
          </form>

          <div class="enter-box__bottom">
            <p>Если вы забыли пароль, нажмите <a href="#" class="link link--red">здесь</a>.</p>
            <p>Для регистрации – пройдите по этой <a href="#" class="link link--red">ссылке</a>.</p>
          </div>
        </div>
      </div>

      <div class="ordering-page__form">
        <form action="" class="order-form">

          <div class="order-form__box">
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Город:</label>
              <div class="order-form__item">
                <select class="order-form__input" name="" id="">
                  <option value="">Москва</option>
                  <option value="">Санкт-Петербург</option>
                  <option value="">Екатеринбург</option>
                </select>
              </div>
            </div>

            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> ФИО заказчика:</label>
              <div class="order-form__item">
                <input class="order-form__input" type="text" data-validation="length alphanumeric" data-validation-length="min5" required>
              </div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> E-mail:</label>
              <div class="order-form__item">
                <input class="order-form__input" type="email" data-validation="email" required>
              </div>
            </div>
          </div>

          <div class="order-form__box">
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Телефон (гор.):</label>
              <div class="order-form__item">
                <input class="order-form__input" type="tel" data-validation="length number" data-validation-length="min5" required>
              </div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Телефон (моб.):</label>
              <div class="order-form__item">
                <input class="order-form__input" type="tel" data-validation="length number" data-validation-length="min5" required>
              </div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Ближайшее метро:</label>
              <div class="order-form__item">
                <input class="order-form__input" type="text" data-validation="length alphanumeric" data-validation-length="min5" required>
              </div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Адрес:</label>
              <div class="order-form__item">
                <input class="order-form__input" type="text" data-validation="length alphanumeric" data-validation-length="min5" required>
              </div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Как добраться:</label>
              <div class="order-form__item">
                <input class="order-form__input" type="text" data-validation="length alphanumeric" data-validation-length="min5" required>
              </div>
            </div>
          </div>

          <div class="order-form__box">
            <div class="order-form__subtitle">Выберите способы оплаты</div>
            <div class="order-form__payment">
              <div class="order-form__line">
                <input class="order-form__radio" type="radio" name="payment" value="payment_01" id="payment_01" checked> <label for="payment_01">Наличные (курьеру при встрече)</label>
              </div>
              <div class="order-form__line">
                <input class="order-form__radio" type="radio" name="payment" value="payment_02" id="payment_02"> <label for="payment_02">Банковская карта (Visa, MasterCard)</label>
              </div>
              <div class="order-form__line">
                <input class="order-form__radio" type="radio" name="payment" value="payment_03" id="payment_03"> <label for="payment_03">Салоны связи (Евросеть, Связной)</label>
              </div>
              <div class="order-form__line">
                <input class="order-form__radio" type="radio" name="payment" value="payment_04" id="payment_04"> <label for="payment_04">Платёжные терминалы (QIWI и другие)</label>
              </div>
              <div class="order-form__line">
                <input class="order-form__radio" type="radio" name="payment" value="payment_05" id="payment_05"> <label for="payment_05">Оплата в любом отделении Сбербанка (печать платежного поручения)</label>
              </div>
              <div class="order-form__line">
                <input class="order-form__radio" type="radio" name="payment" value="payment_06" id="payment_06"> <label for="payment_06">WebMoney</label>
              </div>
            </div>
          </div>

          <div class="order-form__box">
            <div class="order-form__subtitle">Сумма к оплате:</div>

            <div class="order-form__text-line">
              Цена доставки: <span>0 руб.</span>
            </div>
            <div class="order-form__text-line">
              Сумма к оплате с учетом доставки: <span>34 827 руб.</span>
            </div>

          </div>

          <div class="order-form__submit">
            <button class="btn btn--dark btn--ttu" type="submit">Далее</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html