//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Оплата заказов</span></li>
      </ul>
    </div>

    <h1 class="page__title">Оплата заказов</h1>

    <div class="page__content">
      <h2 class="page__intro">По Москве, Санкт-Петербургу и Нижнему Новгороду:<br><span>оплата заказов производится одним из ниже перечисленных способов:</span></h2>

      <div class="row">
        <div class="col-6">
          <div class="one-payment one-payment--beige">
            <div class="one-payment__cover">
              <img src="img/icon_cash.svg" width="64" height="64" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Наличными курьеру, после получения вашего заказа.</div>
          </div>
        </div>
        <div class="col-6">
          <div class="one-payment one-payment--beige">
            <div class="one-payment__cover">
              <img src="img/payment_cards.png" width="134" height="40" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Банковской картой:<br>Visa или MasterCard.</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment one-payment--beige">
            <div class="one-payment__cover">
              <img src="img/payment_sber.png" width="170" height="32" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Оплата производится в любом отделении.</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment one-payment--beige">
            <div class="one-payment__cover">
              <img src="img/payment_wm.png" width="160" height="42" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Оплата производится посредством WebMoney.</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment one-payment--beige">
            <div class="one-payment__cover">
              <img src="img/payment_eu-sv.png" width="128" height="59" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Салоны сотовой связи<br>(Евросеть, Связной).</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment one-payment--beige">
            <div class="one-payment__cover">
              <img src="img/payment_qiwi.png" width="129" height="59" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Терминалы оплаты<br>(QIWI и другие терминалы).</div>
          </div>
        </div>
      </div>

      <h2 class="page__intro">По России:<br><span>Мы отправляем ваш заказ при <span class="bonus">100%</span> предоплате, которую Вы можете произвести:</span></h2>

      <div class="row">
        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_cards.png" width="134" height="40" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Банковской картой:<br>Visa или MasterCard.</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_sber.png" width="170" height="32" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Оплата производится в любом отделении.</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_wm.png" width="160" height="42" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Оплата производится посредством WebMoney.</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_eu-sv.png" width="128" height="59" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Салоны сотовой связи<br>(Евросеть, Связной).</div>
          </div>
        </div>

        <div class="col-6">
          <div class="one-payment">
            <div class="one-payment__cover">
              <img src="img/payment_qiwi.png" width="129" height="59" alt="" class="one-payment__img">
            </div>
            <div class="one-payment__text">Терминалы оплаты<br>(QIWI и другие терминалы).</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html