//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Бренды</a></li>
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Chanel</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Chanel Coco Mademoiselle</span></li>
      </ul>
    </div>

    <div class="page__product">
      <div class="product">

        <!--PRODUCT SLIDER-->
        <div class="product__slider product__block">
          <div class="product__markers">
            <span class="marker marker--new">New</span>
            <span class="marker marker--hit">Hit</span>
            <span class="marker marker--sale">-17%</span>
          </div>

          <div class="product__fav">
            <a href="#" class="btn-fav btn-fav--lg">Избранное</a>
					</div>
					
          <div class="slider-main">
            <div class="slider-main__item">
              <div class="slider-main__cover">
                <img src="img/prod_01_big.jpg" width="370" height="370" alt="" class="slider-main__image">
              </div>
            </div>
            <div class="slider-main__item">
              <div class="slider-main__cover">
                <a href="https://www.youtube.com/watch?v=E2fQSa1aHds" class="slider-main__cover-link video-link">
                  <img src="img/prod_01_big.jpg" width="370" height="370" alt="" class="slider-main__image">
                </a>
              </div>
            </div>
            <div class="slider-main__item">
              <div class="slider-main__cover">
                <img src="img/prod_01_big.jpg" width="370" height="370" alt="" class="slider-main__image">
              </div>
            </div>
            <div class="slider-main__item">
              <div class="slider-main__cover">
                <img src="img/prod_01_big.jpg" width="370" height="370" alt="" class="slider-main__image">
              </div>
            </div>
            <div class="slider-main__item">
              <div class="slider-main__cover">
                <img src="img/prod_01_big.jpg" width="370" height="370" alt="" class="slider-main__image">
              </div>
            </div>
          </div>

          <div class="slider-pages">
            <div class="slider-pages__item">
              <div class="slider-pages__cover">
                <img src="img/prod_01.jpg" alt="" class="slider-pages__image" width="85" height="85">
              </div>
            </div>
            <div class="slider-pages__item">
              <div class="slider-pages__cover slider-pages__cover--video">
                <img src="img/prod_01.jpg" alt="" class="slider-pages__image" width="85" height="85">
              </div>
            </div>
            <div class="slider-pages__item">
              <div class="slider-pages__cover">
                <img src="img/prod_01.jpg" alt="" class="slider-pages__image" width="85" height="85">
              </div>
            </div>
            <div class="slider-pages__item">
              <div class="slider-pages__cover">
                <img src="img/prod_01.jpg" alt="" class="slider-pages__image" width="85" height="85">
              </div>
            </div>
            <div class="slider-pages__item">
              <div class="slider-pages__cover">
                <img src="img/prod_01.jpg" alt="" class="slider-pages__image" width="85" height="85">
              </div>
            </div>
          </div>
        </div>
        <!--/PRODUCT SLIDER-->

        <h1 class="product__title">Chanel Coco Mademoiselle</h1>

        <!--PRODUCT RATING-->
        <div class="product__rating product__block">
          <ul class="rating">
            <li class="rating__star rating__star--active"></li>
            <li class="rating__star rating__star--active"></li>
            <li class="rating__star rating__star--active"></li>
            <li class="rating__star rating__star--active"></li>
            <li class="rating__star"></li>
          </ul>

          <div class="rating-info">
            71 отзыв
          </div>

          <div class="rating-links">
            <a href="#" class="link">Оставить отзыв</a>
          </div>
        </div>
        <!--/PRODUCT RATING-->

        <!--PRODUCT INFO-->
        <div class="product__info product__block">
          <div class="prod-info">
            <div class="prod-info__tabs">
              <ul class="prod-tabs tabs">
                <li class="prod-tabs__item tabs__item">
                  <a href="#prod_description" class="prod-tabs__link tabs__link">Описание</a>
                </li>
                <li class="prod-tabs__item tabs__item">
                  <a href="#prod_sale" class="prod-tabs__link tabs__link">Скидки</a>
                </li>
                <li class="prod-tabs__item tabs__item">
                  <a href="#prod_gifts" class="prod-tabs__link tabs__link">Подарки</a>
                </li>
              </ul>
            </div>

            <div class="prod-info__content" id="prod_description">
              <div class="prod-info__wrap">
                <div class="text">
                  <p><strong>Страна производитель:</strong> Франция<br>
                    <strong>Год выпуска:</strong> 2013<br>
                    <strong>Ноты:</strong> ноотроп, бергамот, мандарин, османтус, френзия, гардения</p>
                  <p>Сhanel coco mademoiselle выражение женственности, искрящийся аромат, созданный для изящной и чувственной женщины. Аромат открывается искрящимися нотами апельсина и бергамота.</p>
                </div>
                <div class="text extra-text hidden">
                  <p>Аромат открывается искрящимися нотами апельсина и бергамота. Нежный жасмин и тонкие нотки розы ясно звучат в ноте "сердца", плавно переходящей в шлейф из пачули и ветивера. Этот аромат позволяет женщине чувствовать себя красивой, уверенной и счастливой, позволяя продемонстрировать безупречный вкус и чувство прекрасного</p>
                </div>
                <a href="#" class="link more-text">Читать полностью</a>
              </div>
            </div>

            <div class="prod-info__content" id="prod_sale">
              <div class="product__wrap">
                <div class="text">
                  <p>Уважаемые покупатели, при заказе парфюмерии на сайте orental.ru вы получаете скидки!</p>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="text">
                      <h4>Накопительные скидки:</h4>
                      <ul class="prod-info__list">
                        <li class="prod-info__item">со второй покупки – <span class="bonus">3%</span></li>
                        <li class="prod-info__item">от 7 тыс. руб. – <span class="bonus">5%</span></li>
                        <li class="prod-info__item">от 15 тыс. руб. – <span class="bonus">7%</span></li>
                        <li class="prod-info__item">от 20 тыс. руб. – <span class="bonus">10%</span></li>
                        <li class="prod-info__item">от 40 тыс. руб. – <span class="bonus">15%</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="text">
                      <h4>Разовые скидки:</h4>
                      <ul class="prod-info__list">
                        <li class="prod-info__item">2 - 3 флакона – <span class="bonus">4%</span></li>
                        <li class="prod-info__item">4 - 5 флакона – <span class="bonus">6%</span></li>
                        <li class="prod-info__item">6 - 9 флакона – <span class="bonus">8%</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="prod-info__content" id="prod_gifts">
              <div class="prod-info__wrap">
                <div class="text prod-info__gifts">
                  <h4>При заказе:</h4>

                  <div class="prod-info__gift prod-info__gift--2">от 1 до 2 флаконов <span class="bonus">+ 1 пробник.</span></div>
                  <div class="prod-info__gift prod-info__gift--5">от 3 до 5 флаконов <span class="bonus">+ 1 пробник + 1 лифтинг крем.</span></div>
                  <div class="prod-info__gift prod-info__gift--9">от 6 до 9 флаконов <span class="bonus">+ 2 пробника + 1 лифтинг крем + тушь.</span></div>
                  <div class="prod-info__gift prod-info__gift--12">от 10 до 12 флаконов <span class="bonus">+ 2 пробника + тушь + косметичка с наполнением.</span></div>
                  <div class="prod-info__gift prod-info__gift--13">от 10 до 12 флаконов <span class="bonus">+ 3 пробника + 2 лифтинг крема + тушь + косметичка с наполнением.</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/PRODUCT INFO-->

        <!--PRODUCT ADVANTAGES-->
        <div class="product__advantages product__block">
          <div class="prod-advantages row">
            <div class="prod-advantages__item col-4">
              <div class="prod-advantage prod-advantage--delivery has-tooltip">
                <div class="prod-advantage__title">Доставка<br>и возврат</div>
                <div class="prod-advantage__tooltip tooltip tooltip--left">
                  <p>Курьерская доставка:</p>
                  <ul>
                    <li>по Москве в пределах МКАД: бесплатно</li>
                    <li>по Санкт-Петербургу в пределах КАД: 150 руб.</li>
                    <li>в другие города России: <a href="#">тарифы</a></li>
                  </ul>
                  <p>В любой город России мы можем отправить заказ Почтой России и EMS.</p>
                </div>
              </div>
            </div>
            <div class="prod-advantages__item col-4">
              <div class="prod-advantage prod-advantage--payment has-tooltip">
                <div class="prod-advantage__title">Способы<br>оплаты</div>
                <div class="prod-advantage__tooltip tooltip tooltip--center">
                  <ul>
                    <li>Наличными курьеру после получения вашего заказа</li>
                    <li>Переводом на счет через любое отделение Сбербанка</li>
                    <li>Переводом через систему WebMoney</li>
                    <li>С помощью банковской карты</li>
                    <li>Переводом через салоны сотовой связи (Евросеть, Связной)</li>
                    <li>Переводом через терминалы оплаты (QIWI и другие терминалы)</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="prod-advantages__item col-4">
              <div class="prod-advantage prod-advantage--quality has-tooltip">
                <div class="prod-advantage__title">Гарантируем<br>качество</div>
                <div class="prod-advantage__tooltip tooltip tooltip--right">
                  <p>В нашем магазине представлена только оригинальная продукция от крупнейших официальных поставщиков. Вы можете быть на 100% уверенны в качестве приобретаемой парфюмерии.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
				<!--/PRODUCT ADVANTAGES-->
				
				<div class="product__tags product__block">
					<div class="tags-slider">
						<div class="tags-slider__item">
							<a href="#" class="tag-slide">
								<div class="tag-slide__visual">
									<div class="tag-slide__cover">
										<img src="https://picsum.photos/400/100?image=553" alt="" class="tag-slide__img">
									</div>
									<div class="tag-slide__info tag-slide__info--light">
										<div class="tag-slide__title">Участник Топ-10 осени 2018</div>
										<div class="tag-slide__description">Ароматы, с которыми вам будет тепло<br>даже в самую ненастную погоду.</div>
									</div>
								</div>
							</a>
						</div>
						<div class="tags-slider__item">
							<a href="#" class="tag-slide">
								<div class="tag-slide__visual">
									<div class="tag-slide__cover">
										<img src="https://picsum.photos/400/100?image=553" alt="" class="tag-slide__img">
									</div>
									<div class="tag-slide__info tag-slide__info--light">
										<div class="tag-slide__title">Участник Топ-10 осени 2018</div>
										<div class="tag-slide__description">Ароматы, с которыми вам будет тепло<br>даже в самую ненастную погоду.</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

        <div class="product__pre-order product__block">
          <div class="pre-order">
            <div class="pre-order__box">
              <div class="pre-order__info">
                <div class="pre-order__title">Товара нет в наличии</div>
                <div class="pre-order__description">Вы можете оставить предзаказ и мы свяжемся с вами, когда аромат появится в продаже.</div>
                <div class="pre-order__ctrl">
                  <a href="#pre-order" class="pre-order__link link dialog-link">Оформить предзаказ</a>
                </div>
              </div>
            </div>

            <div class="pre-order__dialog dialog m-form" id="pre-order">
              <div class="dialog__wrap m-form__wrap">
                <form class="form">
                  <div class="m-form__top">
                    <div class="m-form__title">Предзаказ товара</div>
                  </div>

                  <div class="m-form__body">
                    <div class="m-form__line">
                      <div class="m-form__label">E-mail:</div>
                      <div class="m-form__item">
                        <input type="email" class="m-form__input form__input" data-validation="email">
                      </div>
                    </div>
                  </div>

                  <div class="m-form__bottom">
                    <button class="btn btn--dark btn--ttu" type="submit">Отправить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!--PRODUCT SOCIAL BTNS-->
        <div class="product__s-btns product__block">
          <div class="social-btns">
            <!--REPLACE THIS CODE FROM WIDGET-->
              <div style="height: 70px; background: #fff8f8; padding: 25px 20px; text-align: center;">
                Здесь будут кнопки соцсетей
              </div>
            <!--//REPLACE THIS CODE FROM WIDGET-->
          </div>
        </div>
        <!--/PRODUCT SOCIAL BTNS-->

        <!--PRODUCT QUICK ORDER-->
        <div class="product__q-order product__block">
          <div class="q-order">
						<div class="q-order__wrap">
							<div class="q-order__main">
								<h3 class="q-order__title">Заказать обратный звонок</h3>
								<form action="" class="q-order__form form">
									<span class="q-order__label">+7</span>
									<div class="q-order__item">
										<input type="tel" class="q-order__input form__input has-error" required>
										<span class="q-order__error error-message">Вы ввели неверный номер</span>
									</div>
									<div class="q-order__ctrl">
										<button type="submit" class="btn btn--dark btn--ttu">Заказать</button>
									</div>
								</form>

								<div class="q-order__agree">
									<div class="agree-teas">
										Нажимая на кнопку "Заказать", я даю <a target="_blank" class="link" href="/agree">согласие на обработку персональных данных</a>
									</div>
								</div>
							</div>
						</div>

            <div class="q-order__message">
              <div class="q-order__text">Оставьте ваш телефон, и наш менеджер свяжется с вами, чтобы ответить на ваши вопросы и принять ваш заказ.</div>
            </div>

            <div class="q-order__dialog q-order__confirm confirm dialog">
              <div class="dialog__wrap confirm__wrap">
                <div class="dialog__top">
                  <div class="confirm__title">Быстрый заказ</div>
                </div>

                <div class="dialog__body confirm__body">
                  Заказ успешно отправлен!
                </div>

                <div class="dialog__bottom">
                  <div class="confirm__message">Менеджер перезвонит вам, узнает все детали и сам оформит заказ на ваше имя.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/PRODUCT QUICK ORDER-->

        <!--PRODUCT VARIANTS-->
        <div class="product__variants product__block">
          <div class="prod-variants">
            <div class="prod-variants__nav">
              <nav class="types-nav">
								<ul class="types-nav__list">
									<li class="types-nav__item">
										<a href="#" class="types-nav__link types-nav__link--all">Показать весь ассортимент</a>
									</li>
									<li class="types-nav__item">
										<a href="#" class="types-nav__link">Туалетная вода</a>
									</li>
									<li class="types-nav__item">
										<a href="#" class="types-nav__link active">Дезодорант-спрей</a>
									</li>
									<li class="types-nav__item">
										<a href="#" class="types-nav__link">Дезодорант-стик</a>
									</li>
									<li class="types-nav__item">
										<a href="#" class="types-nav__link types-nav__link--ended">Гель для душа</a>
									</li>
									<li class="types-nav__item">
										<a href="#" class="types-nav__link types-nav__link--ended">Лосьон после бритья</a>
									</li>
								</ul>
							</nav>
            </div>

            <div class="prod-variants__content">
              <table class="variant-table">
                <thead>
                  <tr>
                    <th class="variant-table__type">Тип</th>
                    <th class="variant-table__volume">Объем</th>
                    <th class="variant-table__price">Цена</th>
                    <th class="variant-table__qty">Кол-во</th>
                    <th class="variant-table__buy">Купить</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="variant-line">
                    <td><span class="variant-line__type">Туалетная вода</span></td>
                    <td><span class="variant-line__volume">100 мл</span></td>
                    <td><div class="variant-line__prices"><div class="variant-line__price-new">4200 руб.</div><div class="variant-line__price-old">4310 руб.</div></div></td>
                    <td><input class="variant-line__qty input-qty" type="number" min="1" value="1"></td>
                    <td><a href="#in-cart" class="variant-line__btn dialog-link"></a></td>
                  </tr>

                  <tr class="variant-line">
                    <td><span class="variant-line__type">Туалетная вода</span></td>
                    <td><span class="variant-line__volume">50 мл</span></td>
                    <td><div class="variant-line__prices"><div class="variant-line__price-new">3310 руб.</div></div></td>
                    <td><input class="variant-line__qty input-qty" type="number" min="1" value="1"></td>
                    <td><a href="#in-cart" class="variant-line__btn dialog-link"></a></td>
                  </tr>

                  <tr class="variant-line">
                    <td><span class="variant-line__type">Туалетная вода тестер</span></td>
                    <td><span class="variant-line__volume">100 мл</span></td>
                    <td><div class="variant-line__prices"><div class="variant-line__price-new">3990 руб.</div></div></td>
                    <td><input class="variant-line__qty input-qty" type="number" min="1" value="1"></td>
                    <td><a href="#in-cart" class="variant-line__btn dialog-link"></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/PRODUCT VARIANTS-->

        <!--PRODUCT INFO ABOUT SALE-->
        <div class="product__block">
					<div class="discount-info">
						<div class="discount-info__list">
							<div class="discount-info__item">
								<div class="discount-item">
									<div class="discount-item__wrap">
										<div class="discount-item__visual">
											<div class="discount-item__cover">
												<img src="img/icon_user-discount.svg" width="52" height="52" alt="" class="discount-item__icon">
											</div>
										</div>

										<div class="discount-item__main">
											<div class="discount-item__info">
												<div class="discount-item__description">Стоимость данного аромата представлена<br>
												с учётом <strong>Вашей накопительной скидки</strong></div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="discount-info__item">
								<div class="discount-item">
									<div class="discount-item__wrap">
										<div class="discount-item__visual">
											<div class="discount-item__cover">
												<img src="img/icon_discount-gray.svg" width="52" height="52" alt="" class="discount-item__icon">
											</div>
										</div>

										<div class="discount-item__main">
											<div class="discount-item__info">
												<div class="discount-item__title">Хотите узнать первым о скидках на этот аромат?</div>
												<div class="discount-item__description">
													<strong><a href="#pre-subs" class="dialog-link">Оставьте ваш e-mail</a></strong> и мы напишем вам,<br>
													если на аромат появятся скидки.
												</div>
											</div>
										</div>
									</div>

									<div class="discount-item__dialog dialog m-form" id="pre-subs">
										<div class="dialog__wrap m-form__wrap">
											<form class="form">
												<div class="m-form__top">
													<div class="m-form__title">Узнать первым о скидке</div>
													<div class="m-form__description">Оставьте ваш e-mail и мы сообщим вам, если на аромат появятся скидки.</div>
												</div>

												<div class="m-form__body">
													<div class="m-form__line">
														<div class="m-form__label">E-mail:</div>
														<div class="m-form__item">
															<input type="email" class="m-form__input form__input" data-validation="email">
														</div>
													</div>
													<div class="m-form__line">
														<div class="m-form__label">Ваше имя:</div>
														<div class="m-form__item">
															<input type="text" class="m-form__input form__input">
														</div>
													</div>
												</div>

												<div class="m-form__bottom">
													<button class="btn btn--dark btn--ttu" type="submit">Отправить</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
        </div>
        <!--/PRODUCT INFO ABOUT SALE-->

        <!--PRODUCT DELIVERY-->
        <div class="product__delivery product__block">
          //= tpl/delivery-box.html
        </div>
        <!--/PRODUCT DELIVERY-->

        <!--PRODUCT REVIEWS-->
        <div class="product__reviews product__block">
          <div class="prod-reviews">
						<h3 class="prod-reviews__title">Отзывы покупателей о Christian Dior Miss Dior New</h3>

						<div class="prod-reviews__info">
							<div class="prod-reviews__statistics">
								<div class="rev-stat">
									<span class="rev-stat__label">Всего отзывов: </span>
									<strong class="rev-stat__value">14</strong>
								</div>
							</div>
							<div class="prod-reviews__extra">
								<div class="prod-reviews__sorting">
									<div class="rev-sort">
										<button class="rev-sort__btn">Сортировать</button>

										<div class="rev-sort__box">
											<ul class="rev-sort__list">
												<li class="rev-sort__item">
													<a href="#" class="rev-sort__link rev-sort__link--desc">По полезности</a>
												</li>
												<li class="rev-sort__item">
													<a href="#" class="rev-sort__link rev-sort__link--desc">Высокая оценка</a>
												</li>
												<li class="rev-sort__item">
													<a href="#" class="rev-sort__link rev-sort__link--asc">Низкая оценка</a>
												</li>
												<li class="rev-sort__item">
													<a href="#" class="rev-sort__link rev-sort__link--desc">Последние по дате</a>
												</li>
												<li class="rev-sort__item">
													<a href="#" class="rev-sort__link rev-sort__link--asc">Первые по дате</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="prod-reviews__write">
									<a href="#" class="btn btn--red">написать отзыв</a>
								</div>
							</div>
						</div>

            <div class="prod-reviews__body">
							<div class="prod-reviews__item">
								<div class="rev-item">
									<div class="rev-item__top">
										<div class="rev-item__cover">
											<div class="rev-item__ava">I</div>
										</div>
										<div class="rev-item__info">
											<div class="rev-item__author">Irishka</div>
											<div class="rev-item__date">13 апреля 2018 в 15:52</div>
										</div>
									</div>

									<div class="rev-item__rating">
										<ul class="rating">
											<li class="rating__star rating__star--active"></li>
											<li class="rating__star rating__star--active"></li>
											<li class="rating__star rating__star--active"></li>
											<li class="rating__star rating__star--active"></li>
											<li class="rating__star"></li>
										</ul>
									</div>

									<div class="rev-item__text">Дали пробник этого аромата в ИДБ. Аромат действительно очень классный! Стойкость на 5+. Приобретайте,не пожалеете!!!что-то в нем есть похожее на Коко Мадемуазель (тоже один из моих любимых),но, мне кажется, он немного помягче. Рекомендую!</div>

									<div class="rev-item__votes">
										<div class="rev-votes">
											<button class="rev-votes__btn">
												<span class="rev-votes__label rev-votes__label--up">Нравится</span>
												<span class="rev-votes__qty">1</span>
											</button>
											<button class="rev-votes__btn">
												<span class="rev-votes__label rev-votes__label--down">Не нравится</span>
												<span class="rev-votes__qty">1</span>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="prod-reviews__item">
								<div class="rev-item rev-item--answer">
									<div class="rev-item__top">
										<div class="rev-item__cover">
											<div class="rev-item__ava rev-item__ava--admin">А</div>
										</div>
										<div class="rev-item__info">
											<div class="rev-item__author">Администратор</div>
											<div class="rev-item__date">13 апреля 2018 в 15:52</div>
										</div>
									</div>

									<div class="rev-item__text">Здравствуйте, Lelya! Сейчас исправим</div>
								</div>
							</div>
							 
							<div class="prod-reviews__item">
								<div class="rev-item">
									<div class="rev-item__top">
										<div class="rev-item__cover">
											<div class="rev-item__ava">А</div>
										</div>
										<div class="rev-item__info">
											<div class="rev-item__author">Александра</div>
											<div class="rev-item__date">13 апреля 2018 в 15:52</div>
										</div>
									</div>

									<div class="rev-item__rating">
										<ul class="rating">
											<li class="rating__star rating__star--active"></li>
											<li class="rating__star"></li>
											<li class="rating__star"></li>
											<li class="rating__star"></li>
											<li class="rating__star"></li>
										</ul>
									</div>

									<div class="rev-item__text">Дали пробник этого аромата в ИДБ. Аромат действительно очень классный! Стойкость на 5+. Приобретайте,не пожалеете!!!что-то в нем есть похожее на Коко Мадемуазель (тоже один из моих любимых),но</div>

									<div class="rev-item__votes">
										<div class="rev-votes">
											<button class="rev-votes__btn">
												<span class="rev-votes__label rev-votes__label--up">Нравится</span>
												<span class="rev-votes__qty">1</span>
											</button>
											<button class="rev-votes__btn">
												<span class="rev-votes__label rev-votes__label--down">Не нравится</span>
												<span class="rev-votes__qty">1</span>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="prod-reviews__item">
								<div class="rev-item">
									<div class="rev-item__top">
										<div class="rev-item__cover">
											<div class="rev-item__ava">Д</div>
										</div>
										<div class="rev-item__info">
											<div class="rev-item__author">Дмитрий Арнольдович</div>
											<div class="rev-item__date">13 апреля 2018 в 15:52</div>
										</div>
									</div>

									<div class="rev-item__rating">
										<ul class="rating">
											<li class="rating__star rating__star--active"></li>
											<li class="rating__star rating__star--active"></li>
											<li class="rating__star rating__star--active"></li>
											<li class="rating__star rating__star--active"></li>
											<li class="rating__star"></li>
										</ul>
									</div>

									<div class="rev-item__text">Дали пробник этого аромата в ИДБ. Аромат действительно очень классный! Стойкость на 5+. Приобретайте,не пожалеете!!!что-то в нем есть похожее на Коко Мадемуазель (тоже один из моих любимых),но, мне кажется, он немного помягче. Рекомендую!</div>

									<div class="rev-item__votes">
										<div class="rev-votes">
											<button class="rev-votes__btn">
												<span class="rev-votes__label rev-votes__label--up">Нравится</span>
												<span class="rev-votes__qty">1</span>
											</button>
											<button class="rev-votes__btn">
												<span class="rev-votes__label rev-votes__label--down">Не нравится</span>
												<span class="rev-votes__qty">1</span>
											</button>
										</div>
									</div>
								</div>
							</div>
            </div>
					</div>

					<!--TEMPORARY LINK-->
					<a href="#review-ok" style="display: inline-block; margin-bottom: 30px;" class="dialog-link">Сообщение о принятии отзыва</a>
					<!--//TEMPORARY LINK-->

					<div class="block rev-write">
						<div class="rev-write__head">
							<h2 class="rev-write__title">Оставить отзыв</h2>
						</div>

						<div class="rev-write__body">
							<form action="" class="rev-write__form">
								<div class="rev-write__group">
									<div class="rev-write__label">Ваше имя</div>
									<div class="rev-write__item">
										<input type="text" class="rev-write__input" value="Мария">
									</div>
								</div>

								<div class="rev-write__group">
									<div class="rev-write__label">E-mail</div>
									<div class="rev-write__item">
										<input type="email" class="rev-write__input" value="design@mail.ru">
									</div>
								</div>

								<div class="rev-write__group">
									<div class="rev-write__label">Ваш комментарий</div>
									<div class="rev-write__item">
										<textarea class="rev-write__textarea" rows="7">Считаю, что это лучший магазин на свете</textarea>
									</div>
								</div>

								<div class="rev-write__rating rev-write__group">
									<div class="write-rating">
										<div class="write-rating__label">Ваша оценка?</div>
										<div class="write-rating__value">
											<div class="vote">
												<div class="vote__one">
													<input type="radio" name="vote" id="vote_01" value="1">
													<label for="vote_01"></label>
												</div>
												<div class="vote__one">
													<input type="radio" name="vote" id="vote_02" value="2">
													<label for="vote_02"></label>
												</div>
												<div class="vote__one">
													<input type="radio" name="vote" id="vote_03" value="3">
													<label for="vote_03"></label>
												</div>
												<div class="vote__one">
													<input type="radio" name="vote" id="vote_04" value="4">
													<label for="vote_04"></label>
												</div>
												<div class="vote__one">
													<input type="radio" name="vote" id="vote_05" value="5">
													<label for="vote_05"></label>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="rev-write__group rev-write__checkbox">
									<label class="checkbox">
										<input type="checkbox" class="checkbox__input">
										<span class="checkbox__label">Получать информацию об акциях и спецпредложениях</span>
									</label>
								</div>

								<div class="rev-write__group rev-write__captcha">
									<div class="captcha">
										<div class="captcha__main">
											<div class="captcha__form">
												<div class="captcha__sample">
													<img src="img/captcha.jpg" alt="" class="captcha__img">
												</div>
												<div class="captcha__item">
													<input type="text" class="captcha__input" value="91891">
												</div>
											</div>
											<div class="captcha__description">
												введите цифры, которые видны на картинке слева
											</div>
										</div>

										<div class="captcha__extra">
											<a href="#" class="captcha__link">Обновить</a>
										</div>
									</div>
								</div>

								<div class="rev-write__group rev-write__submit">
									<button class="write__btn btn btn--dark btn--ttu" type="submit">Отправить</button>
								</div>
							</form>
						</div>
					</div>
        </div>
        <!--/PRODUCT REVIEWS-->
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <h2 class="block__title">Лидеры продаж</h2>

    <div class="block__wrap">
      <div class="row">
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <h2 class="block__title">Последние просмотренные ароматы</h2>

    <div class="block__wrap">
      <div class="row">
        <div class="col-4">
          //= tpl/prod-box.html
        </div>
        <div class="col-4">
          //= tpl/prod-box.html
        </div>
        <div class="col-4">
          //= tpl/prod-box.html
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/in-cart.html

//= tpl/review-ok.html

//= tpl/foot.html