//= tpl/head.html

<div class="notice notice--error">
  <div class="notice__container container">
		<div class="notice__text">Вы ввели неверный пароль</div>
		<button class="notice__close close">Закрыть</button>
	</div>
</div>

//= tpl/top.html

//= tpl/header.html

<div class="page profile-page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Личный кабинет</span></li>
      </ul>
    </div>

    <h1 class="page__title">Личный кабинет</h1>

    <div class="profile-page__nav">
      <div class="profile-nav">
        <div class="profile-nav__item"><a href="profile.html" class="profile-nav__link current">Личные данные</a></div>
        <div class="profile-nav__item"><a href="order-history.html" class="profile-nav__link">История заказов</a></div>
        <div class="profile-nav__item"><a href="purchases.html" class="profile-nav__link">Ваши покупки</a></div>
        <div class="profile-nav__item"><a href="my-cart.html" class="profile-nav__link">Ваша корзина</a></div>
      </div>
    </div>

    <div class="page__content">
      <div class="profile-page__main">
        <div class="profile-main">
          <div class="profile-main__name">Иванов Сергей Иванович</div>
          <div class="profile-main__row row">
            <div class="profile-main__col col-6">
              <div class="profile-main__label">E-mail:</div>
              <div class="profile-main__value">ivanov@gmail.com</div>
            </div>
            <div class="profile-main__col col-6">
              <div class="profile-main__label">Телефон:</div>
              <div class="profile-main__value">+7 926 123-45-67</div>
            </div>
					</div>
					<div class="profile-main__row row">
            <div class="profile-main__col col-6">
              <div class="profile-main__label">Ваша накопительная скидка:</div>
              <div class="profile-main__value">
								<span class="profile-main__discount">15%</span>
							</div>
            </div>
            <div class="profile-main__col col-6">
              <div class="profile-main__description">Оформите заказ на сумму свыше <span>16 200</span> рублей, чтобы получить скидку <span>15%</span> на все последующие покупки.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-page__form">
        <form action="" class="order-form">
          <div class="order-form__title">Редактировать данные:</div>
          <div class="order-form__help-text"><sup>*</sup> Обязательные поля для заполнения</div>

          <div class="order-form__box">
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Фамилия:</label>
              <div class="order-form__item"><input class="order-form__input" type="text"></div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Имя:</label>
              <div class="order-form__item"><input class="order-form__input" type="text"></div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label">Отчество:</label>
              <div class="order-form__item"><input class="order-form__input" type="text"></div>
            </div>

          </div>

          <div class="order-form__box">
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Телефон (гор.):</label>
              <div class="order-form__item"><input class="order-form__input" type="tel"></div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Телефон (моб.):</label>
              <div class="order-form__item"><input class="order-form__input" type="tel"></div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Ближайшее метро:</label>
              <div class="order-form__item"><input class="order-form__input" type="text"></div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Адрес:</label>
              <div class="order-form__item"><input class="order-form__input" type="text"></div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Как добраться:</label>
              <div class="order-form__item"><input class="order-form__input" type="text"></div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> E-mail:</label>
              <div class="order-form__item"><input class="order-form__input" type="email"></div>
            </div>
            <div class="order-form__group">
              <label class="order-form__label"><sup>*</sup> Ваш пароль:</label>
              <div class="order-form__item"><input class="order-form__input" type="password"></div>
            </div>
          </div>

          <div class="order-form__box">
            <div class="order-form__subscribe">
              <input type="checkbox" id="subscribe" value="subscribe">
              <label for="subscribe">Получать рассылку</label>
            </div>
          </div>

          <div class="order-form__submit order-form__submit--center">
            <button class="btn btn--dark btn--ttu" type="submit">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html