//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Возврат товара и денежных средств</span></li>
      </ul>
    </div>

    <h1 class="page__title">Возврат товара<br>и денежных средств</h1>

    <div class="page__content">
      <div class="text">
				<p>Согласно Закону о Защите прав потребителей от 19 января 1998 г. N55 <strong>парфюмерия и косметика надлежащего качества не подлежит возврату и обмену</strong> (в ред. Постановления Правительства РФ от 20.10.1998 N1222).</p>
				<p>В случае брака либо неверной комплектации заказа возврат товара или денежных средств осуществляется в течении 3 рабочих дней.</p>
				<p>Денежные средства за товар будут возвращены, если товар был передан с сохранением товарного вида, всех бирок, этикеток и при наличии товарной накладной, удостоверяющей факт покупки.</p>
				<p>Для возврата денежных средств Вам необходимо направить письмо по адресу <a href="mailto:shop@orental.ru">shop@orental.ru</a> или позвонить нам по тел.: <a href="tel:84957443534">8 (495) 744‑35‑34</a>.</p>
			</div>
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html