//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page page-reviews">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Отзывы</span></li>
      </ul>
    </div>

    <h1 class="page__title">Отзывы покупателей</h1>


    <div class="page__content">
      <div class="page-reviews__item">
        <div class="review row">
          <div class="col-4">
            <div class="review__cover">
              <a href="product.html" class="review__cover-link">
                <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="review__info">
              <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
            </div>
            <div class="review__product-name">
              <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
            </div>
            <div class="review__rating">
              <ul class="rating">
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star"></li>
              </ul>
            </div>

            <div class="review__text">
              Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
            </div>
          </div>
        </div>
      </div>
      <div class="page-reviews__item">
        <div class="review row">
          <div class="col-4">
            <div class="review__cover">
              <a href="product.html" class="review__cover-link">
                <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="review__info">
              <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
            </div>
            <div class="review__product-name">
              <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
            </div>
            <div class="review__rating">
              <ul class="rating">
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star"></li>
              </ul>
            </div>

            <div class="review__text">
              Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
            </div>
          </div>
        </div>
      </div>
      <div class="page-reviews__item">
        <div class="review row">
          <div class="col-4">
            <div class="review__cover">
              <a href="product.html" class="review__cover-link">
                <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="review__info">
              <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
            </div>
            <div class="review__product-name">
              <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
            </div>
            <div class="review__rating">
              <ul class="rating">
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star"></li>
              </ul>
            </div>

            <div class="review__text">
              Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
            </div>
          </div>
        </div>
      </div>
      <div class="page-reviews__item">
        <div class="review row">
          <div class="col-4">
            <div class="review__cover">
              <a href="product.html" class="review__cover-link">
                <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="review__info">
              <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
            </div>
            <div class="review__product-name">
              <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
            </div>
            <div class="review__rating">
              <ul class="rating">
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star"></li>
              </ul>
            </div>

            <div class="review__text">
              Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
            </div>
          </div>
        </div>
      </div>
      <div class="page-reviews__item">
        <div class="review row">
          <div class="col-4">
            <div class="review__cover">
              <a href="product.html" class="review__cover-link">
                <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="review__info">
              <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
            </div>
            <div class="review__product-name">
              <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
            </div>
            <div class="review__rating">
              <ul class="rating">
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star"></li>
              </ul>
            </div>

            <div class="review__text">
              Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
            </div>
          </div>
        </div>
      </div>
      <div class="page-reviews__item">
        <div class="review row">
          <div class="col-4">
            <div class="review__cover">
              <a href="product.html" class="review__cover-link">
                <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="review__info">
              <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
            </div>
            <div class="review__product-name">
              <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
            </div>
            <div class="review__rating">
              <ul class="rating">
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star"></li>
              </ul>
            </div>

            <div class="review__text">
              Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
            </div>
          </div>
        </div>
      </div>
      <div class="page-reviews__item">
        <div class="review row">
          <div class="col-4">
            <div class="review__cover">
              <a href="product.html" class="review__cover-link">
                <img src="img/prod_02.jpg" width="140" height="140" alt="" class="review__img">
              </a>
            </div>
          </div>
          <div class="col-8">
            <div class="review__info">
              <span class="review__date">01.02.2012</span> / <span class="review__name">Анно</span>
            </div>
            <div class="review__product-name">
              <a href="product.html" class="review__link">Gucci by Gucci Eau de Toilette</a>
            </div>
            <div class="review__rating">
              <ul class="rating">
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star rating__star--active"></li>
                <li class="rating__star"></li>
              </ul>
            </div>

            <div class="review__text">
              Очень оригинальный аромат, сама себе не куплю, но если бы подарили – носила бы. Что-то есть в них такое необычно-заманчивое, но надо их “разносить” выводы с первого нюха не ...
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page__pager">
      //= tpl/pager.html
    </div>
  </div>
</div>



<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html