//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Распродажа</span></li>
      </ul>
    </div>

    <div class="page__cover">
      <img src="img/slide_00.jpg" alt="" class="page__img">
    </div>

    <h1 class="page__title">Распродажа парфюмерии</h1>

    <div class="page__tabs">
      <ul class="tabs-sex tabs">
        <li class="tabs-sex__item tabs__item current"><a href="#" class="tabs-sex__link tabs__link"><span class="icon icon--women"></span> Для женщин</a></li>
        <li class="tabs-sex__item tabs__item"><a href="#" class="tabs-sex__link tabs__link"><span class="icon icon--men"></span> Для мужчин</a></li>
      </ul>
    </div>

    <div class="page__content">
      <div class="row">
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
      </div>
    </div>

    <div class="page__pager">
      //= tpl/pager.html
    </div>
  </div>
</div>



<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html