//= tpl/head.html

//= tpl/top.html

//= tpl/header.html

<div class="page">
  <div class="container">
    <div class="page__breadcrumbs">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Интернет-магазин парфюмерии</a></li>
        <li class="breadcrumbs__item"><span class="breadcrumbs__current">Результаты поиска</span></li>
      </ul>
    </div>

    <h1 class="page__title">Результаты поиска</h1>

    <div class="page__content">
      <div class="row">
        <div class="col-6">
          <div class="brand-box">
            <div class="brand-box__cover">
              <a href="brand.html" class="brand-box__cover-link">
                <img src="img/logo_brand_chanel.png" alt="" class="brand-box__img">
              </a>
            </div>
            <h3 class="brand-box__title">
              <a href="brand.html" class="brand-box__link">Chanel</a>
            </h3>

            <div class="brand-box__text">
              Великая Габриель Шанель родилась в 1883 году в Сомюре в бедной семье. Имя Коко она...
            </div>

            <div class="brand-box__btn">
              <a href="brand.html" class="btn btn--dark btn--buy">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
        <div class="col-6">
          //= tpl/prod-box.html
        </div>
      </div>
    </div>

    <div class="page__pager">
      //= tpl/pager.html
    </div>
  </div>
</div>

<div class="block brands">
  <div class="container">
    <h2 class="block__title brands__title">Топ 100 брендов</h2>

    <div class="block__wrap brands__list">
      //= tpl/brands.html
    </div>

    <div class="block__bottom">
      <a href="#" class="btn btn--dark btn--ttu">Все бренды</a>
    </div>
  </div>
</div>

//= tpl/payment.html

//= tpl/footer.html

//= tpl/foot.html